ion-header {
    ion-toolbar {
        --background: linear-gradient(to right, #25cfdb, #2196f3);
    }
}
ion-content {

}
ion-footer {
    ion-button {
        --background: linear-gradient(to right, #25cfdb, #2196f3);
    }
}