<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon (click)="modalController.dismiss()" style="transform: scale(1.7); margin-left: 0.5rem" mode="md" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Search Criteria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class='ion-padding'>
        <ion-item>
          <ion-label position="floating">Created Date</ion-label>
          <ion-datetime name="createDate" [(ngModel)]="searchParams.createdDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Reservation Number</ion-label>
          <ion-input name="reservationNumber" [(ngModel)]="searchParams.reservationNumber"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Workflow Status</ion-label>
          <ion-select name="workflowStatus" [(ngModel)]="searchParams.workflowStatus">
            <ion-select-option value="">All</ion-select-option>
            <ion-select-option value="Initiated">Initiated</ion-select-option>
            <ion-select-option value="Approve">Approved</ion-select-option>
            <ion-select-option value="RejectComplete">Rejected</ion-select-option>
            <ion-select-option value="Resubmit">Resubmitted</ion-select-option>
            <ion-select-option value="Cancel">Cancelled</ion-select-option>
            <ion-select-option value="Collaborate">Collaborated</ion-select-option>
            <ion-select-option value="CollaborateBack">Collaborated Back</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Movement Type <span *ngIf="searchParams.movementType">({{searchParams.movementType}})</span></ion-label>
          <ion-input name="movementType" [(ngModel)]="searchParams.movementTypeDescription" (click)="openSearchHelp('MovementTypes')" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Plant <span *ngIf="searchParams.plant">({{searchParams.plant}})</span></ion-label>
          <ion-input name="plant" [(ngModel)]="searchParams.plantDescription" (click)="openSearchHelp('Plant')" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Department <span *ngIf="searchParams.department">({{searchParams.department}})</span></ion-label>
          <ion-input name="department" [(ngModel)]="searchParams.departmentDescription" (click)="openSearchHelp('Departments')" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="onSave()" shape="round" expand="full">Save</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
