<ion-content fullscreen>
  <div class="upperRect">
    <img src="assets/svg/background-svg/upper.svg" alt="upper-svg">
  </div>
  <form #PricingForm="ngForm">
    <ion-grid fixed>
      <ion-row class="header">
        <ion-col class="ion-no-padding">
          <div class="header-text">
            <h1 id="toolbarText">
              <ion-icon [routerLink]="['/main/outbox']" id="toolbarBackBtn" mode="md" name="arrow-back"></ion-icon>
              &nbsp;
              Rebate Outbox
            </h1>
          </div>
          <div class="searchbarDiv">
            <ion-row>
              <ion-col class="ion-no-padding" size-lg="8" offset-lg="2" size-md="8" offset-md="2" size="12">
                <ion-searchbar #Searchbar mode="ios" placeholder="Search By Request ID"
                  (keyup)="searchOnResult($event.target.value)" (ionClear)="searchOnResult('')"></ion-searchbar>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
        <div class="no-records" *ngIf="requestData">
          <img src="assets/imgs/empty-tasks-4.png" alt="no-records" *ngIf="requestData.length == 0" width="150">
        </div>
      </ion-row>
      <ion-row class="segmentRow">
        <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2" size="12" class="ion-padding">
          <div class="detailCard" *ngFor="let request of requestData" [routerLink]="['./', request.requestId]">
            <ion-row>
              <ion-col id="cardIconArea" size="1">
                <img src="assets/svg/rebate-agreement.svg">
              </ion-col>
              <ion-col size="11">
                <ion-row>
                  <ion-col size="6" style="font-size: small;">
                    {{global.convertZonalDate(request.createdDate)}}</ion-col>
                  <ion-col size="6">
                    <div *ngIf="(request.currentstep !== '4' || request.sapDocId === null) && request.logs.length > 0"
                      style="float: right;"
                      class="{{global.getColorCssClass(global.getLogTextBasedOnActivity(request.logs[request.logs.length-1].activityText))}}">
                      {{global.getLogTextBasedOnActivity(request.logs[request.logs.length-1].activityText)}}
                    </div>
                  </ion-col>
                </ion-row>
                <ion-item *ngIf="request.header.KSCHL_DESC">
                  <ion-label class="headerLabels">
                    <p>Condition Type</p>
                    <h2 class="ion-text-wrap" style="font-weight: bold;">{{request.header.KSCHL_DESC}}</h2>
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="request.header.TYP_DICS">
                  <ion-label class="headerLabels">
                    <p>Discount Type</p>
                    <h2 class="ion-text-wrap" style="font-weight: bold;">{{request.header.TYP_DICS}}</h2>
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="request.header.SPART">
                  <ion-label class="headerLabels">
                    <p>Division</p>
                    <h2 class="ion-text-wrap" style="font-weight: bold;">
                      {{request.header.SPART}} - {{request.header.division_desc}}</h2>
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="request.createdBy">
                  <ion-label class="headerLabels">
                    <p>Created By</p>
                    <h2 class="ion-text-wrap" style="font-weight: bold;">
                      {{request.logs[0].actualUser}}</h2>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="text-align: center;" size="12">
                <ion-chip color="primary">{{request.requestId}}</ion-chip>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div class="lowerRect">
    <img src="assets/svg/background-svg/lower.svg" alt="lower-svg">
  </div>
</ion-content>