ion-content {
    .upperRect {
        position: fixed;
        top: -3%;
        width: 100%;
    }

    @media screen and( min-width: 768px) and (min-height: 1024px) {
        .upperRect {
            position: fixed;
            top: -12%;
            width: 100%;
        }
        .lowerRect {
            position: fixed;
            bottom: 0;
            width: 100%;

            > img {
                position: fixed;
                bottom: -2%;
                width: 100%;
                z-index: 0;
            }
        }

        #lineItemSubmitBtn {
            margin-bottom: 12%;
        }
        .inner-item {
            height: 40rem !important;
        }
    }

    @media screen and (min-width: 1024px) {
        .inner-item {
            height: 55rem !important;
        }
    }

    .lowerRect {
        position: fixed;
        bottom: 0;
        width: 100%;

        > img {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 0;
        }
    }

    .header-text {
        position: fixed;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background: linear-gradient(237.78deg, #2196f3 -0.07%, #18dbf5 102.14%), #c4c4c4;
    }

    .header {
        width: 100%;
        z-index: 11;
        color: white;

        #toolbarText {
            font-size: 2.4vh;
        }

        #toolbarBackBtn {
            vertical-align: middle;
            zoom: 1.5;
        }

        #moreOptionsIcon {
            position: absolute;
            right: 1vw;
            zoom: 2;
            top: 0.8vh;
        }
    }

    .segmentRow {
        position: fixed;
        top: 8vh;
        left: 0;
        height: 90vh;
        width: 100%;
        overflow-y: scroll;
        z-index: 99999;
    }

    .detailCard {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
        margin-bottom: 0.3rem;
    }

    .headerLabels {
        margin: 0;
        p {
            margin-top: 5px;
            margin-bottom: 3px;
        }
        h2 {
            margin-bottom: 5px;
        }
    }

    .detailsTitleText {
        font-weight: lighter;
    }

    #cardIconArea {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    hr {
        margin: 0;
        border-top: 1px #0000002c solid;
    }


}