<ion-content fullscreen>
  <div class="upperRect">
    <img src="assets/svg/background-svg/upper.svg" alt="upper-svg">
  </div>
  <form #goodsIssueForm="ngForm">
    <ion-grid fixed>
      <ion-row class="header">
        <ion-col class="ion-no-padding">
          <div class="header-text">
            <h1 id="toolbarText">
              <ion-icon [routerLink]="['/main/outbox']" id="toolbarBackBtn" mode="md" name="arrow-back"></ion-icon>
              &nbsp;
              Store Goods Issue Outbox
            </h1>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="segmentRow">
        <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2" size="12" class="ion-padding">
          <div class="detailCard" *ngFor="let request of requestData.RequestList"
            [routerLink]="['./', request.requestId]">
            <ion-row>
              <ion-col id="cardIconArea" size="1">
                <img src="assets/svg/trolley.svg">
              </ion-col>
              <ion-col size="11">
                <ion-row>
                  <ion-col size="6">{{global.getPortalDate(request.header.RSDAT)}}</ion-col>
                  <ion-col size="6">
                    <div *ngIf="request.currentstep !== '4' || request.sapDocId === null && request.logs.length > 0" style="float: right;"
                      class="{{global.getColorCssClass(global.getLogTextBasedOnActivity(request.logs[request.logs.length-1].activityText))}}">
                      {{global.getLogTextBasedOnActivity(request.logs[request.logs.length-1].activityText)}}
                    </div>
                    <div *ngIf="request.currentstep === '4' && request.sapDocId !== null && request.logs.length > 0" class="outForDeliveryChip" style="float: right;">
                      {{request.header.WORKFLOW_COMPLETED ? 'Completed' : 'Delivered'}}
                    </div>
                    <div *ngIf="request.currentstep === '4' && request.status === '5' && request.sapDocId !== null && request.logs.length > 0" class="collaboratedChip" style="float: right;">
                      Collaborated
                    </div>
                  </ion-col>
                </ion-row>
                <ion-item *ngIf="request.header.RECP_NAME">
                  <ion-label class="headerLabels">
                    <p>Recipient</p>
                    <h2 class="ion-text-wrap" style="font-weight: bold;">{{request.header.RECP_NAME}}</h2>
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="request.header.RSNUM">
                  <ion-label class="headerLabels">
                    <p>Reservation Number</p>
                    <h2 class="ion-text-wrap" style="font-weight: bold;">{{request.header.RSNUM}}</h2>
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="request.header.WERKS">
                  <ion-label class="headerLabels">
                    <p>Plant</p>
                    <h2 class="ion-text-wrap" style="font-weight: bold;">
                      {{request.header.PLANT_DES ? request.header.PLANT_DES : request.header.WERKS}}</h2>
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="request.header.DEPT_ID">
                  <ion-label class="headerLabels">
                    <p>Department</p>
                    <h2 class="ion-text-wrap" style="font-weight: bold;">
                      {{request.header.DEPT_NAME ? request.header.DEPT_NAME : request.header.DEPT_ID}}</h2>
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="request.header.BWART">
                  <ion-label class="headerLabels">
                    <p>Movement Type</p>
                    <h2 class="ion-text-wrap" style="font-weight: bold;">
                      {{request.header.MVT_DES ? request.header.MVT_DES : request.header.BWART}}</h2>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="text-align: center;" size="12">
                <ion-chip color="primary">{{request.requestId}}</ion-chip>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div class="lowerRect">
    <img src="assets/svg/background-svg/lower.svg" alt="lower-svg">
  </div>
</ion-content>