<ion-content fullscreen>
  <div class="upperRect">
    <img src="assets/svg/background-svg/upper.svg" alt="upper-svg">
  </div>
  <div class="lowerRect">
    <img src="assets/svg/background-svg/lower.svg" alt="lower-svg">
  </div>
  <form #goodsIssueForm="ngForm">
    <ion-grid fixed>
      <ion-row class="header">
        <ion-col class="ion-no-padding">
          <div class="header-text">
            <h1 id="toolbarText">
              <ion-icon (click)="onBack()" id="toolbarBackBtn" mode="md" name="arrow-back"></ion-icon>
              &nbsp;
              {{requestID}}
            </h1>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="segmentRow">
        <ion-col size="12" class="ion-no-padding">
          <ion-segment #segments name="segment" (ionChange)="segmentChanged()" [(ngModel)]="segment" value="0"
            mode="md">
            <ion-segment-button mode="md" value="0">
              <ion-label>Details</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="1">
              <ion-label>Attachments</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="2">
              <ion-label>Logs</ion-label>
            </ion-segment-button>
          </ion-segment>
          <div class="overflowContainer">
            <ion-slides #slides [options]="slideOpts" scrollbar="false">
              <!-- Header Details -->
              <ion-slide>
                <div class="overflowSlideContainer">
                  <ion-row class="slideInitialRow">
                    <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                      <!-- PO Process -->
                      <div *ngIf="requestData.requestType === 'PO_PROCESS'">
                        <div class="headerDetails">
                          <ion-row>
                            <ion-col size="12">
                              <div class="initiatedChip">
                                {{requestData.header.GROSS_AMT | number}} INR
                              </div>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                PO Number
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.EBELN}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Vendor Code
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.LIFNR}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Vendor Name
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.NAME1}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <!-- <ion-row>
                            <ion-col size="12">
                              <ion-text>
                                <p class="smallFontText" style="margin: 0;">
                                  {{requestData.header.LIFNR}}
                                </p>
                                <h2 class="smallFontTextBold" style="margin: 0;">
                                  {{requestData.header.NAME1}}
                                </h2>
                              </ion-text>
                            </ion-col>
                          </ion-row> -->
                          <!-- <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Purchase Group
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.EKGRP}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Purchase Org.
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.EKORG}}
                              </ion-text>
                            </ion-col>
                          </ion-row> -->
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Payment Terms
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.PAY_TERMS}} {{requestData.header.PAY_DESCRIPTION}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <!-- <ion-row>
                            <ion-col size="12">
                              <ion-text>
                                <p class="smallFontText" style="margin: 0;">
                                  Payment Terms
                                </p>
                                <h2 class="smallFontTextBold" style="margin: 0;">
                                  {{requestData.header.PAY_TERMS}} {{requestData.header.PAY_DESCRIPTION}}
                                </h2>
                              </ion-text>
                            </ion-col>
                          </ion-row> -->
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Inco Terms
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.INCO1}} - {{requestData.header.INCO2}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Created By
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.PO_CREATOR}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Created On
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{global.getPortalDate(requestData.header.PO_DATE)}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Pending Since
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.lastModifiedDate.substring(8,10)}}-{{
                                requestData.lastModifiedDate.substring(5,7)}}-{{
                                requestData.lastModifiedDate.substring(0,4)}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="12">
                              <ion-text>
                                <p class="smallFontText" style="margin: 0;">
                                  Header Text
                                </p>
                                <h2 class="smallFontTextBold" style="margin: 0;">
                                  {{requestData.header.HD_TEXT}}
                                </h2>
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <!-- <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Type
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{global.checkForType(requestData)}}
                              </ion-text>
                            </ion-col>
                          </ion-row> -->
                        </div>
                        <div class="otherDetails">
                          <ion-grid>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Purchase Group
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.EKGRP}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Purchase Org.
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.EKORG}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Invoicing Party
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.INVOICING_PARTY}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Quotation Ref Field
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.QUOTATION_REF}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Gross Amount
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.GROSS_AMT | number}} {{requestData.lineItems[0].lineItems.WAERS}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Validity Start
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{global.getPortalDate(requestData.header.VALIDITY_START)}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Validity End
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{global.getPortalDate(requestData.header.VALIDITY_END)}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </div>
                        <mat-accordion>
                          <mat-expansion-panel *ngFor="let lineItem of requestData.lineItems; index as i">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <ion-label>Line item No.{{lineItem.lineItems.LINE_NO}}
                                </ion-label>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <!-- <p *ngIf="lineItem.lineItems.MAKTX" class="lineItemMaterialHeader">
                              {{lineItem.lineItems.MAKTX}}</p> -->
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Material/Service Desc.
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.MAKTX}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Requisitioner
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.PO_REQUISITIONER}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Quantity
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.MENGE}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  UOM
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.MEINS}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Unit Price
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.NETPR}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Stock Quantity
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.LABST}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Other Charges
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">

                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Tax Amount
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.TAX_AMOUNT | number}} {{lineItem.lineItems.WAERS}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Net Price
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.PRICE | number}} {{lineItem.lineItems.WAERS}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Delivery Date
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.EEIND}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row style="margin-top: 0.5rem;">
                              <ion-col size="12">
                                <ion-text class="smallFontText">
                                  Additional Details
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="12">
                                <ion-text>
                                  <h2 class="smallFontTextBold" style="margin: 0;">
                                    Line Item Text
                                  </h2>
                                  <p class="smallFontText" style="margin: 0;">
                                    {{lineItem.lineItems.PO_LINE_TEXT}}
                                  </p>
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <!-- <ion-row>
                              <ion-col size="12">
                                <ion-text>
                                  <h2 class="smallFontTextBold" style="margin: 0;">
                                    Delivery Text
                                  </h2>
                                  <p class="smallFontText" style="margin: 0;">
                                    
                                  </p>
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="12">
                                <ion-text>
                                  <h2 class="smallFontTextBold" style="margin: 0;">
                                    Internal Text
                                  </h2>
                                  <p class="smallFontText" style="margin: 0;">
                                    
                                  </p>
                                </ion-text>
                              </ion-col>
                            </ion-row> -->
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                      <!-- PR Process -->
                      <div *ngIf="requestData.requestType === 'PR_PROCESS'">
                        <div class="headerDetails">
                          <ion-row *ngIf="requestData.lineItems[0].lineItems.RLWRT">
                            <ion-col size="12">
                              <div class="initiatedChip">
                                {{requestData.lineItems[0].lineItems.RLWRT | number}} INR
                              </div>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.BANFN">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                PR Number
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.BANFN}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.TRACKING_NUMBER">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Tracking No.
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.TRACKING_NUMBER}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.lineItems.length > 0">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Material No.
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.lineItems[0].lineItems.MATNR}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.lineItems.length > 0">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Material/Service Desc.
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.lineItems[0].lineItems.MAKTX}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.lineItems.length > 0">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Quantity
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.lineItems[0].lineItems.MENGE}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.ERNAM">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Created By
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.ERNAM}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.BADAT">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Created On
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{global.getPortalDate(requestData.header.BADAT)}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.lineItems[0].lineItems.LFDAT">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Delivery Date
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{global.getPortalDate(requestData.lineItems[0].lineItems.LFDAT)}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.lastModifiedDate">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Pending Since
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{
                                requestData.lastModifiedDate.substring(8,10)
                                }}-{{
                                requestData.lastModifiedDate.substring(5,7)}}-{{
                                requestData.lastModifiedDate.substring(0,4)}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <!-- <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Type
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{global.checkForType(requestData)}}
                              </ion-text>
                            </ion-col>
                          </ion-row> -->
                        </div>
                        <mat-accordion>
                          <mat-expansion-panel *ngFor="let lineItem of requestData.lineItems; index as i">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <ion-label>Item No.{{lineItem.lineItems.ITEM_NO}}
                                </ion-label>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ion-row *ngIf="requestData.header.EKORG">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Purchase Org.
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.EKORG}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="requestData.header.EKGRP">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Purchase Group
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.EKGRP}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="lineItem.lineItems.WERKS">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Plant
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.WERKS}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="lineItem.lineItems.PR_REQUISITIONER">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Requisitioner
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.PR_REQUISITIONER}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="lineItem.lineItems.ERFME">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Stock Details
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.LABST}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="12">
                                <ion-text>
                                  <h2 class="smallFontTextBold" style="margin: 0;">
                                    Item Text
                                  </h2>
                                  <p class="smallFontText" style="margin: 0;">
                                    {{lineItem.lineItems.PR_LINE_TEXT}}
                                  </p>
                                </ion-text>
                              </ion-col>
                            </ion-row>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                      <!-- SA and Contracts -->
                      <div *ngIf="requestData.requestType === 'SA_PROCESS' || requestData.requestType === 'CONTRACTS'">
                        <div class="headerDetails">
                          <ion-row *ngIf="requestData.header.EBELN && service.parentRequestId === 'CONTRACTS'">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Agreement
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.EBELN}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.EVART && service.parentRequestId === 'CONTRACTS'">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Agreement Type
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.EVART}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.VEDAT && service.parentRequestId === 'CONTRACTS'">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Agreement Date
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{global.getPortalDate(requestData.header.VEDAT)}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.NAME1 && service.parentRequestId === 'CONTRACTS'">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Plant Name
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.NAME1}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.EBELN && service.parentRequestId === 'SA_PROCESS'">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                SA No.
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.EBELN}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.LIFNR && service.parentRequestId === 'SA_PROCESS'">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Vendor
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.LIFNR}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.EKORG && service.parentRequestId === 'SA_PROCESS'">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Purchase Org.
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.EKORG}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.EKGRP && service.parentRequestId === 'SA_PROCESS'">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Purcahse Group
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.EKGRP}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                        </div>
                        <mat-accordion>
                          <mat-expansion-panel *ngFor="let lineItem of requestData.lineItems; index as i">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <ion-label>Line Item No.{{i+1}}
                                </ion-label>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ion-row *ngIf="lineItem.lineItems.LINE_NO">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Line No.
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.LINE_NO}}
                                </ion-text>
                              </ion-col>
                            </ion-row>

                            <ion-row *ngIf="lineItem.lineItems.MATNR">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Material No.
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.MATNR}}
                                </ion-text>
                              </ion-col>
                            </ion-row>

                            <ion-row *ngIf="lineItem.lineItems.MAKTX">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Short Text
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.MAKTX}}
                                </ion-text>
                              </ion-col>
                            </ion-row>

                            <ion-row *ngIf="lineItem.lineItems.MENGE">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Target Quantity
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.MENGE}}
                                </ion-text>
                              </ion-col>
                            </ion-row>

                            <ion-row *ngIf="lineItem.lineItems.MEINS">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  UOM
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.MEINS}}
                                </ion-text>
                              </ion-col>
                            </ion-row>

                            <ion-row *ngIf="lineItem.lineItems.NETWR">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Net Price
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.NETWR}}
                                </ion-text>
                              </ion-col>
                            </ion-row>

                            <ion-row *ngIf="lineItem.lineItems.MATKL">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Material Group
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.MATKL}}
                                </ion-text>
                              </ion-col>
                            </ion-row>

                            <ion-row *ngIf="lineItem.lineItems.WERKS">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Plant
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.WERKS}}
                                </ion-text>
                              </ion-col>
                            </ion-row>

                            <ion-row *ngIf="lineItem.lineItems.LGORT">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Storage Location
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.LGORT}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                      <!-- Service Entry -->
                      <div *ngIf="requestData.requestType === 'SERVICE_ENTRY'">
                        <div class="headerDetails">
                          <ion-row *ngIf="requestData.lineItems[0].lineItems.NETWR">
                            <ion-col size="12">
                              <div class="initiatedChip">
                                {{requestData.lineItems[0].lineItems.NETWR | number}} INR
                              </div>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.SER_ET_NO">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Service Entry No.
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.SER_ET_NO}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.EBELN">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                PO :
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.EBELN}} / {{requestData.lineItems[0].lineItems.LINE_NO}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.LIFNR">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Vendor Code
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.LIFNR}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.EBELN">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Vendor Name
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.NAME1}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.ERNAM">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Created By
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.ERNAM}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.ERDAT">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Created On
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{global.getPortalDate(requestData.header.ERDAT)}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.lastModifiedDate">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Pending Since
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{
                                requestData.lastModifiedDate.substring(8,10)
                                }}/{{
                                requestData.lastModifiedDate.substring(5,7)}}/{{
                                requestData.lastModifiedDate.substring(0,4)}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.lastModifiedDate">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Last Modified
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{
                                requestData.lastModifiedDate.substring(8,10)
                                }}/{{
                                requestData.lastModifiedDate.substring(5,7)}}/{{
                                requestData.lastModifiedDate.substring(0,4)}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.TXZ01">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Short Text
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.TXZ01}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <!-- <ion-row *ngIf="requestData.header.BSTPO">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Type
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{global.checkForType(requestData)}}
                              </ion-text>
                            </ion-col>
                          </ion-row> -->
                        </div>
                        <div class="otherDetails">
                          <ion-grid>
                            <ion-row *ngIf="requestData.header.LZVON || requestData.header.LZBIZ">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Period (From - To)
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{global.getPortalDate(requestData.header.LZVON)}} -
                                  {{global.getPortalDate(requestData.header.LZBIS)}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="requestData.header.BUDAT">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Posting Date
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{global.getPortalDate(requestData.header.BUDAT)}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="requestData.header.NETWR">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Net Amount
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.NETWR | number}} {{requestData.lineItems[0].lineItems.WAERS}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="requestData.header.LWERT">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Total Amount
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.LWERT | number}} {{requestData.lineItems[0].lineItems.WAERS}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="requestData.header.DLORT">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Service Location
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.DLORT}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="requestData.header.SE_TEXT">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Long Text
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.SE_TEXT}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="requestData.header.XBLNR">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Reference Text
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.XBLNR}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="requestData.header.BKTXT">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Doc Text
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.BKTXT}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <!-- <ion-row *ngIf="requestData.header.QUOTATION_REF">
                              <ion-col size="12">
                                <ion-text>
                                  <h2 class="smallFontTextBold" style="margin: 0;">
                                    Long Text
                                  </h2>
                                  <p class="smallFontText" style="margin: 0;">
                                    {{requestData.header.QUOTATION_REF}}
                                  </p>
                                </ion-text>
                              </ion-col>
                            </ion-row> -->
                          </ion-grid>
                        </div>
                        <mat-accordion>
                          <mat-expansion-panel *ngFor="let lineItem of requestData.lineItems; index as i">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <ion-label>Item No.{{lineItem.lineItems.LINE_NO}}
                                </ion-label>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Service Number
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.SRVPOS}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="lineItem.lineItems.KTEXT1">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Service Description
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.KTEXT1}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="lineItem.lineItems.MENGE || lineItem.lineItems.MEINS">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Quantity (UOM)
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.MENGE}} ({{lineItem.lineItems.MEINS}})
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="lineItem.lineItems.TBTWR">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Gross Amount
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.TBTWR | number}} {{lineItem.lineItems.WAERS}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="lineItem.lineItems.NETWR">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Net Amount
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.NETWR | number}} {{lineItem.lineItems.WAERS}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="12">
                                <ion-text>
                                  <h2 class="smallFontTextBold" style="margin: 0;">
                                    Acc.Asst.Cat
                                  </h2>
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="lineItem.lineItems.KOSTL">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  CC
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.KOSTL}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="lineItem.lineItems.SAKTO">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  GL
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.SAKTO}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="lineItem.lineItems.AUFNR">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  IO No.
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.AUFNR}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="lineItem.lineItems.WBS_NO">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  WBS
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{lineItem.lineItems.WBS_NO}}
                                </ion-text>
                              </ion-col>
                            </ion-row>

                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                      <ion-row id="finalOptionsRow">
                        <ion-col size="12" size-lg="6" offset-lg="3" class="ion-padding">
                          <div id="finalOptions">
                            <p>Request For Action</p>
                            <div class="approvalOptions">
                              <div *ngIf="requestData.currentstep !== '&START' && requestData.status !== '5'"
                                class="option" (click)="submit('Approve')">
                                <img src="assets/svg/approvePO.svg">
                                <p>Approve</p>
                              </div>
                              <div *ngIf="requestData.currentstep !== '&START' && requestData.status !== '5'"
                                class="option" (click)="submit('Reject')">
                                <img src="assets/svg/rejectPO.svg">
                                <p>Reject</p>
                              </div>
                              <div *ngIf="requestData.currentstep !== '&START' && requestData.status !== '5'"
                                class="option" (click)="onCollaborate('Collaborate')">
                                <img src="assets/svg/collabPO.svg">
                                <p>Collaborate</p>
                              </div>
                              <div *ngIf="requestData.currentstep !== '&START' && requestData.status === '5'"
                                class="option" (click)="onCollaborate('CollaborateBack')">
                                <img src="assets/svg/collabBack.svg">
                                <p>Collaborate Back</p>
                              </div>
                            </div>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-slide>
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <div class="attachmentCard" *ngFor="let attachment of requestData.attachments">
                      <ion-row>
                        <ion-col size="1">
                          <ion-icon class="docIcon" name="document"></ion-icon>
                        </ion-col>
                        <ion-col style="text-align: left;" size="10">
                          <ion-text>{{attachment.fileName}}</ion-text><br>
                          <ion-text style="font-weight: lighter; font-size: small;">Uploaded By: <span
                              style="font-weight: bold;">{{attachment.creator}}</span></ion-text><br>
                          <ion-text style="font-weight: lighter; font-size: small;">Uploaded On: <span
                              style="font-weight: bold;">{{global.getPortalDate(attachment.createDate)}}</span>
                          </ion-text>
                        </ion-col>
                        <ion-col size="1">
                          <ion-icon (click)="downloadAttachment(attachment)" class="eyeIcon" name="eye"></ion-icon>
                        </ion-col>
                      </ion-row>
                    </div>
                    <p *ngIf="attachments[0].length > 0 || attachments[1].length > 0"
                      style="font-size: smaller; margin: 1rem;">Uploaded Attachments</p>
                    <div class="attachmentCard" *ngFor="let attachment of attachments[0]; index as i">
                      <ion-row>
                        <ion-col size="1">
                          <ion-icon class="docIcon" name="document"></ion-icon>
                        </ion-col>
                        <ion-col style="text-align: left;" size="10">
                          <ion-text>{{attachment.name}}</ion-text><br>
                          <ion-text style="font-weight: lighter; font-size: small;">Attachment Type: <span
                              style="font-weight: bold;">{{attachment.type}}</span></ion-text><br>
                          <ion-text style="font-weight: lighter; font-size: small;">Size: <span
                              style="font-weight: bold;">{{global.getBytesConversion(attachment.size, 2)}}</span>
                          </ion-text>
                        </ion-col>
                        <ion-col size="1">
                          <ion-icon (click)="onRemoveAttachment(i, 'file')" class="removeIcon" name="close"></ion-icon>
                        </ion-col>
                      </ion-row>
                    </div>
                    <div class="attachmentCard" *ngFor="let attachment of attachments[1]; index as i">
                      <ion-row>
                        <ion-col size="1">
                          <ion-icon class="docIcon" name="document"></ion-icon>
                        </ion-col>
                        <ion-col style="text-align: left;" size="10">
                          <ion-text>{{attachment.name}}</ion-text><br>
                          <!-- <ion-text style="font-weight: lighter; font-size: small;">Attachment Type: <span
                              style="font-weight: bold;">{{attachment.type}}</span></ion-text><br>
                          <ion-text style="font-weight: lighter; font-size: small;">Size: <span
                              style="font-weight: bold;">{{global.getBytesConversion(attachment.size, 2)}}</span>
                          </ion-text> -->
                        </ion-col>
                        <ion-col size="1">
                          <ion-icon (click)="onRemoveAttachment(i, 'camera')" class="removeIcon" name="close">
                          </ion-icon>
                        </ion-col>
                      </ion-row>
                    </div>
                    <input id="fileUploadInput" type="file" (change)="onSelectFile($event)" multiple="multiple"
                      hidden />
                    <ion-button (click)="uploadAnAttachment()" class="customButton" expand="full">UPLOAD FILES &nbsp;
                      <ion-icon name="cloud-upload">
                      </ion-icon>
                    </ion-button>
                    <p style="font-size: smaller; margin: 0;"><b>NOTE:</b> Maximum size per attachment is <b>25MB</b>.
                    </p>
                  </ion-col>
                </ion-row>
              </ion-slide>
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <div class="logsBox">
                      <ion-card *ngFor="let log of requestData.logs.slice().reverse()">
                        <ion-row>
                          <ion-col size="12">
                            <ion-text style="float: left;">Action Taken:&nbsp;
                              <span
                                [ngClass]="{'initiatedText': log.activityText === 'Submit', 'successText': log.activityText === 'Approve', 'rejectedText': log.activityText === 'Reject' || log.activityText === 'RejectComplete', 'collboratedText': log.activityText === 'Collaborate' || log.activityText === 'CollaborateBack'}">
                                {{global.getLogTextBasedOnActivity(log.activityText)}}
                              </span>
                            </ion-text>
                          </ion-col>
                        </ion-row>
                        <ion-item transparent class="ion-no-padding" lines="none">
                          <ion-avatar slot="start">
                            <img src="assets/imgs/user.png">
                          </ion-avatar>
                          <ion-label>
                            <h2 text-size-md>User: <span style="color: #31a5db;">{{log.actualUser}}</span></h2>
                            <h3 class="ion-text-wrap" text-size-sm>{{log.comments}}</h3>
                          </ion-label>
                        </ion-item>
                        <ion-row>
                          <ion-col size="12">
                            <ion-text style="float: left;">Sent on:&nbsp;
                              <span style="font-weight: bold; color: black;">{{global.getPortalDate(log.endDate)}}
                                {{global.getPortalTime(log.endTime)}}</span>
                            </ion-text>
                          </ion-col>
                        </ion-row>
                      </ion-card>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-slide>
            </ion-slides>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>