<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" style="zoom: 1.7" (click)="modalController.dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>Invoice Logs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment mode="md" (ionChange)="segmentValue = $event.target.value;">
    <ion-segment-button mode="md" value="logs" checked>
      <ion-label>Logs</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="attachments">
      <ion-label>Attachments</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid class="ion-no-padding" *ngIf="segmentValue === 'logs'">
    <ion-row>
      <ion-col size="11" offset="1">
        <!-- Cards -->
        <ion-card class="ion-padding animated fadeInRight" *ngFor="let log of requestData.logs">

          <span span-small font-bold>{{global.getPortalDate(log.endDate)}}</span><br>
          <span font-bold>{{log.currAgent}}</span>
          <ion-item transparent class="ion-no-padding ion-margin-top"  lines="none">
            <ion-avatar slot="start">
              <img src="assets/imgs/user.png">
            </ion-avatar>
            <ion-label>
              <h2 text-size-xs>{{log.actualUser}}</h2>
              <h3 text-size-sm>{{log.activityText}}</h3>
              <div clearfix></div>
            </ion-label>
          </ion-item>
          <ion-card-content class="ion-no-padding">
            <p text-size-p class="ion-text-wrap ion-padding-top">{{log.comments}}</p>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding" *ngIf="segmentValue === 'attachments'">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="is-empty-state-content" *ngIf="requestData.attachments === null">
          <img src="assets/imgs/empty-tasks-4.png" />
          <h3>No Attachments</h3>
        </div>
        <ion-list lines="none" class="ion-padding  animated fadeInRight">
          <ion-item style="box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)" class="ion-margin-top"
            *ngFor="let attachment of requestData.attachments" (click)="onAttachmentOpen(attachment)">
            <ion-avatar slot="start">
              <ion-icon [name]="global.getAttachmentIcon(attachment.mimeType)" color="primary" style="zoom: 3.0">
              </ion-icon>
            </ion-avatar>
            <ion-label>
              <h3>{{attachment.fileName}}</h3>
              <h3 text-size-sm font-bold style="color: #3880FF">{{global.getPortalDate(attachment.createDate)}}</h3>
              <p text-size-p class="ion-text-wrap ion-padding-top">
                Created By: {{attachment.creator}}
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>