<ion-content fullscreen>
  <div class="upperRect">
    <img src="assets/svg/background-svg/upper.svg" alt="upper-svg">
  </div>
  <div class="lowerRect">
    <img src="assets/svg/background-svg/lower.svg" alt="lower-svg">
  </div>
  <form #goodsIssueForm="ngForm">
    <ion-grid fixed>
      <ion-row class="header">
        <ion-col class="ion-no-padding">
          <div class="header-text">
            <h1 id="toolbarText">
              <ion-icon [routerLink]="['/main/outbox/ABP']" id="toolbarBackBtn" mode="md" name="arrow-back">
              </ion-icon>
              &nbsp;
              {{requestData.requestId}}
            </h1>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="segmentRow">
        <ion-col size="12" class="ion-no-padding">
          <ion-segment #segments name="segment" (ionChange)="segmentChanged()" [(ngModel)]="segment" value="0"
            mode="md">
            <ion-segment-button mode="md" value="0">
              <ion-label>Details</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="1">
              <ion-label>Attachments</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="2">
              <ion-label>Logs</ion-label>
            </ion-segment-button>
          </ion-segment>
          <div class="overflowContainer">
            <ion-slides #slides [options]="slideOpts" scrollbar="false">
              <!-- Header Details -->
              <ion-slide>
                <div class="overflowSlideContainer">
                  <ion-row class="slideInitialRow">
                    <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                      <div class="headerDetails">
                        <ion-row>
                          <ion-col size="7">
                            <div *ngIf="currentStatus" class="{{currentStatusCssClass}}">
                              {{currentStatus}}</div>
                          </ion-col>
                          <ion-col size="5">
                            <ion-text style="float: right; font-size: small;">
                              {{global.convertToLocalDate(requestData.createdDate)}}
                            </ion-text>
                          </ion-col>
                        </ion-row>
                        <ion-item *ngIf="requestData.createdBy">
                          <ion-label class="headerLabels">
                            <p>Created By</p>
                            <h2 style="font-weight: bold;">{{requestData.createdBy}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.ProjectTitle">
                          <ion-label class="headerLabels">
                            <p>Project Title</p>
                            <h2 style="font-weight: bold;" class="ion-text-wrap">{{requestData.header.ProjectTitle}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.ProjectType">
                          <ion-label class="headerLabels">
                            <p>Project Type</p>
                            <h2 style="font-weight: bold;">{{requestData.header.ProjectType}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.ProjectCategory">
                          <ion-label class="headerLabels">
                            <p>Project Category</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">{{requestData.header.ProjectCategory}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.IRRPercentage">
                          <ion-label class="headerLabels">
                            <p>IRR Percentage (%)</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">
                              {{requestData.header.IRRPercentage}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.NPVRsCrore">
                          <ion-label class="headerLabels">
                            <p>NPV (Rs. in Cr)</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">
                              {{requestData.header.NPVRsCrore}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.originalFinancialYear">
                          <ion-label class="headerLabels">
                            <p>Original Financial Year</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">
                              {{requestData.header.originalFinancialYear}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.currentFinancialYear">
                          <ion-label class="headerLabels">
                            <p>Current Financial Year</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.currentFinancialYear}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.TotalProjectCost">
                          <ion-label class="headerLabels">
                            <p class="ion-text-wrap">Project Total Budget&nbsp; (INR in Lakhs)</p>
                            <h2 style="font-weight: bold; color: green">
                              {{requestData.header.TotalProjectCost}}
                            </h2>
                          </ion-label>
                        </ion-item>
                      </div>
                      <br>
                      <div class="otherDetails">
                        <ion-item *ngIf="requestData.header.PayBackPeriod">
                          <ion-label class="headerLabels">
                            <p>Playback Period</p>
                            <h2 style="font-weight: bold;">{{requestData.header.PayBackPeriod}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.ProfitabilityIndex">
                          <ion-label class="headerLabels">
                            <p>Profitability Index</p>
                            <h2 style="font-weight: bold;">{{requestData.header.ProfitabilityIndex}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.CalcumationOfIRR">
                          <ion-label class="headerLabels">
                            <p>Calculation of IRR</p>
                            <h2 style="font-weight: bold;">{{requestData.header.CalcumationOfIRR}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.GrowthOrSustenance">
                          <ion-label class="headerLabels">
                            <p>Growth / Sustenance</p>
                            <h2 style="font-weight: bold;">{{requestData.header.GrowthOrSustenance}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.CapexFor3Years">
                          <ion-label class="headerLabels">
                            <p>Capex for 3 Years (INR in Lakhs)</p>
                            <h2 style="font-weight: bold;">{{requestData.header.CapexFor3Years}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.EstimatedAmountTobeSpentUptodate">
                          <ion-label class="headerLabels">
                            <p class="ion-text-wrap">Estimated amount to be spent up to date (INR in Lakhs)</p>
                            <h2 style="font-weight: bold; color: red">
                              {{requestData.header.EstimatedAmountTobeSpentUptodate}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.Balance">
                          <ion-label class="headerLabels">
                            <p class="ion-text-wrap">Balance (INR in Lakhs)</p>
                            <h2 style="font-weight: bold; color: blue">{{requestData.header.Balance}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.BusinessTypes">
                          <ion-label class="headerLabels">
                            <p class="ion-text-wrap">Business Types</p>
                            <h2 style="font-weight: bold;">{{requestData.header.BusinessTypes}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.Category">
                          <ion-label class="headerLabels">
                            <p class="ion-text-wrap">Category</p>
                            <h2 style="font-weight: bold;">{{requestData.header.Category}}</h2>
                          </ion-label>
                        </ion-item>
                      </div>
                      <br>
                      <div class="cashflowDetails">
                        <ion-row>
                          <ion-col size="12" style="text-align: center;">
                            <p class="cashflowHeader">CASHFLOW DETAILS</p>
                            <p class="cashflowHeader" style="font-weight: bold; margin-top: 0.5rem;">YEAR 1</p>
                            <p class="cashflowHeader" style="font-weight: bold; margin-bottom: 0.5rem;">Total (INR in
                              Lakhs): <span style="color: green;">{{requestData.header.TotalY1}}</span></p>
                          </ion-col>
                        </ion-row>
                        <div class="tableContainer">
                          <table>
                            <thead>
                              <tr>
                                <th colspan="3" class="quarterTableHeader">Quarter 1</th>
                                <th colspan="3" class="quarterTableHeader">Quarter 2</th>
                                <th colspan="3" class="quarterTableHeader">Quarter 3</th>
                                <th colspan="3" class="quarterTableHeader">Quarter 4</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="monthRow">
                                <td>Apr</td>
                                <td>May</td>
                                <td class="borderedTd">Jun</td>
                                <td>Jul</td>
                                <td>Aug</td>
                                <td class="borderedTd">Sep</td>
                                <td>Oct</td>
                                <td>Nov</td>
                                <td class="borderedTd">Dec</td>
                                <td>Jan</td>
                                <td>Feb</td>
                                <td>Mar</td>
                              </tr>
                              <tr class="monthRow">
                                <td>{{requestData.header.AprilY1}}</td>
                                <td>{{requestData.header.MayY1}}</td>
                                <td class="borderedTd">{{requestData.header.JuneY1}}</td>
                                <td>{{requestData.header.JulyY1}}</td>
                                <td>{{requestData.header.AugustY1}}</td>
                                <td class="borderedTd">{{requestData.header.SeptemberY1}}</td>
                                <td>{{requestData.header.OctoberY1}}</td>
                                <td>{{requestData.header.NovemberY1}}</td>
                                <td class="borderedTd">{{requestData.header.DecemberY1}}</td>
                                <td>{{requestData.header.JanuaryY1}}</td>
                                <td>{{requestData.header.FebruaryY1}}</td>
                                <td>{{requestData.header.MarchY1}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <ion-row>
                          <ion-col size="12" style="text-align: center;">
                            <p style="margin: 0; font-size: x-small;">Swipe horizontally to see more details <ion-icon
                                name="arrow-forward" style="position: relative; top: 0.1rem"></ion-icon>
                            </p>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12" style="text-align: center;">
                            <p class="cashflowHeader" style="font-weight: bold; margin-top: 0.5rem;">YEAR 2</p>
                            <p class="cashflowHeader" style="font-weight: bold; margin-bottom: 0.5rem;">Total (INR in
                              Lakhs): <span style="color: green;">{{requestData.header.TotalY2}}</span></p>
                          </ion-col>
                        </ion-row>
                        <div class="tableContainer">
                          <table style="width: 100%;">
                            <thead>
                              <tr>
                                <th colspan="3" class="quarterTableHeader">Quarter 1</th>
                                <th colspan="3" class="quarterTableHeader">Quarter 2</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="monthRow">
                                <td>Apr</td>
                                <td>May</td>
                                <td class="borderedTd">Jun</td>
                                <td>Jul</td>
                                <td>Aug</td>
                                <td>Sep</td>
                              </tr>
                              <tr class="monthRow">
                                <td>{{requestData.header.AprilY2}}</td>
                                <td>{{requestData.header.MayY2}}</td>
                                <td class="borderedTd">{{requestData.header.JuneY2}}</td>
                                <td>{{requestData.header.JulyY2}}</td>
                                <td>{{requestData.header.AugustY2}}</td>
                                <td>{{requestData.header.SeptemberY2}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <ion-row style="margin-top: 0.5rem;">
                          <ion-col size="12">
                            <p style="margin: 0; font-size: smaller;">
                              Year 1 (<span class="yearCostText">{{requestData.header.Year1}}</span>) + Year 2 (<span
                                class="yearCostText">{{requestData.header.Year2}}</span>) + Year 3 (<span
                                class="yearCostText">{{requestData.header.Year3}}</span>) = <span
                                class="yearCostText">{{requestData.header.TotalProjectCost}}</span></p>
                            <p style="margin: 0; font-size: smaller;">(INR in Lakhs)</p>
                          </ion-col>
                        </ion-row>
                      </div>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-slide>
              <!-- Attachment Slide -->
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <div class="attachmentBox">
                      <div *ngIf="requestData.attachments === null">
                        <ion-text style="font-size: small;">Attachment doesn't exist for this request</ion-text>
                      </div>
                      <div *ngIf="requestData.attachments !== null">
                        <ion-text style="font-size: small;" *ngIf="requestData.attachments.length === 0">Attachment
                          doesn't exist for this request
                        </ion-text>
                        <div *ngIf="requestData.attachments.length > 0">
                          <h5 style="margin: 0;">Attachments</h5>
                          <ion-row *ngFor="let attachment of requestData.attachments; index as i">
                            <ion-col size="10">
                              <ion-text (click)="onViewFile(attachment)" color="primary"
                                style="float: left; font-size: small;">
                                {{i+1}}. {{global.setAttachmentName(attachment.fileName)}}
                                ({{global.getBytesConversion(attachment.fileSize, 2)}})</ion-text>
                            </ion-col>
                          </ion-row>
                        </div>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-slide>
              <!-- Logs Slide -->
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <div class="logsBox">
                      <ion-card *ngFor="let log of requestData.logs.slice().reverse()">
                        <ion-row>
                          <ion-col size="12">
                            <ion-text style="float: left;">Action Taken:&nbsp;
                              <span
                                class="{{global.getColorTextClass(global.getLogTextBasedOnActivity(log.activityText))}}">
                                {{global.getLogTextBasedOnActivity(log.activityText)}}
                              </span>
                            </ion-text>
                          </ion-col>
                        </ion-row>
                        <ion-item transparent class="ion-no-padding" lines="none">
                          <ion-avatar slot="start">
                            <img src="assets/imgs/user.png">
                          </ion-avatar>
                          <ion-label class="ion-text-wrap">
                            <h2 text-size-md class="ion-text-wrap">User: <span
                                style="color: #31a5db;">{{log.actualUser}}</span></h2>
                            <h3 class="ion-text-wrap" text-size-sm>{{log.comments}}</h3>
                          </ion-label>
                        </ion-item>
                        <ion-row>
                          <ion-col size="12">
                            <ion-text style="float: left;">Sent on:&nbsp;
                              <span style="font-weight: bold; color: black;">{{global.getPortalDate(log.endDate)}}
                                {{global.getPortalTime(log.endTime)}}</span>
                            </ion-text>
                          </ion-col>
                        </ion-row>
                      </ion-card>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-slide>
            </ion-slides>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>