<ion-header>
  <ion-toolbar>
    <ion-title>Attachments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <ion-list lines="none" class="ion-padding">

              <ion-item box-shadow margin-top *ngFor="let attachment of attachments" (click)="onAttachmentOpen(attachment)">
                <ion-avatar slot="start">
                  <ion-icon [name]="global.getAttachmentIcon(attachment.mimeType)" color="primary" style="zoom: 3.0"></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h3>{{attachment.fileName}}</h3>
                  <h3 text-size-sm font-bold style="color: #3880FF">{{global.getPortalDate(attachment.createDate)}}</h3>
                  <p text-size-p class="ion-text-wrap ion-padding-top">
                    Created By: {{attachment.creator}}
                  </p>
                </ion-label>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="is-empty-state-content" *ngIf="attachments.length == 0">
        <img src="assets/imgs/empty-tasks-4.png" />
        <h3>No Attachments</h3>
      </div>

</ion-content>

<ion-footer>
  <ion-button expand="full" fill="clear" color="primary" (click)="modalController.dismiss()">Back</ion-button>
</ion-footer>
