<ion-content fullscreen>
  <div class="upperRect">
    <img src="assets/svg/background-svg/upper.svg" alt="upper-svg">
  </div>
  <form #goodsIssueForm="ngForm">
    <ion-grid fixed>
      <ion-row class="header">
        <ion-col class="ion-no-padding">
          <div class="header-text">
            <h1 id="toolbarText">
              <ion-icon [routerLink]="['/main/inbox']" id="toolbarBackBtn" mode="md" name="arrow-back"></ion-icon>
              &nbsp;
              {{global.getProperOtherScopeName(service.requestType)}}
              <span class="selectedCountText">Selected: {{selectedWorkItems.length}}</span>
            </h1>
          </div>
          <div class="searchbarDiv">
            <ion-row>
              <ion-col class="ion-no-padding" size-lg="8" offset-lg="2" size-md="8" offset-md="2" size="12">
                <ion-searchbar #Searchbar mode="ios" placeholder="{{searchBarLabel}}"
                  (keyup)="searchOnResult($event.target.value)" (ionClear)="searchOnResult('')"></ion-searchbar>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
        <div class="no-records" *ngIf="requestData.RequestList">
          <img src="assets/imgs/empty-tasks-4.png" alt="no-records" *ngIf="requestData.RequestList.length == 0"
            width="150">
        </div>
      </ion-row>
      <ion-row class="segmentRow">
        <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2" size="12" class="ion-padding"
          style="padding-top: 0 !important;">
          <div class="detailCard" *ngFor="let request of requestData.RequestList; index as i"
            [routerLink]="['./', request.requestId]">
            <ion-row>
              <ion-col size="12">
                <ion-row (click)="$event.stopPropagation()">
                  <ion-col>
                    <ion-checkbox *ngIf="request.status !== '5'" [checked]="request.isSelected" mode="md"
                      (ionChange)="onSelectWorkItem(request)"></ion-checkbox>
                  </ion-col>
                </ion-row>
                <div>
                  <ion-row *ngIf="request.header.Department">
                    <ion-col size="6">
                      <ion-text class="smallFontText">
                        Department
                      </ion-text>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text class="smallFontTextBold">
                        {{request.header.Department}}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="request.header.PLNT">
                    <ion-col size="6">
                      <ion-text class="smallFontText">
                        Plant
                      </ion-text>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text class="smallFontTextBold">
                        {{request.header.PLNT}}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="request.header.location">
                    <ion-col size="6">
                      <ion-text class="smallFontText">
                        Location
                      </ion-text>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text class="smallFontTextBold">
                        {{request.header.location}}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="request.createdBy">
                    <ion-col size="6">
                      <ion-text class="smallFontText">
                        Created By
                      </ion-text>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text class="smallFontTextBold">
                        {{request.createdBy}}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6" *ngIf="request.header.MATKL">
                      <ion-text class="smallFontText">
                        Material Group
                      </ion-text>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text class="smallFontTextBold">
                        {{request.header.MATKL}}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="text-align: center;" size="12">
                <ion-chip color="primary">{{request.requestId}}</ion-chip>
              </ion-col>
            </ion-row>
            <hr>
            <!-- <ion-row>
              <ion-col size="12">
                <ion-text class="requestDateTime">
                  <ion-icon style="position: relative; top: 2px" name="calendar"></ion-icon>
                  {{global.getPortalDate(request.cDate)}}
                  <ion-icon style="position: relative; top: 2px" name="time"></ion-icon>
                  {{global.getPortalTime(request.cTime)}}
                </ion-text>
              </ion-col>
            </ion-row> -->
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size-lg="6" offset-lg="3" size-md="8" offset-md="2" size="12">
      <ion-row>
        <ion-col size="5" class="ion-no-padding">
          <ion-item lines="none">
            <ion-label>Select All</ion-label>
            <ion-checkbox (ionChange)="onSelectAll($event)" [checked]="isAllSelected" mode="md" slot="start">
            </ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col size="7">
          <div class="approveRejectOptions">
            <div class="option" (click)="submit('Approve')">
              <img src="assets/svg/approvePO.svg">
              <p>Approve</p>
            </div>
            <div class="option" (click)="submit('Reject')">
              <img src="assets/svg/rejectPO.svg">
              <p>Reject</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>