ion-content {
    .selectedCountText {
        float: right;
        margin-right: 0.5rem;
    }
    .upperRect {
        position: fixed;
        top: -3%;
        width: 100%;
    }

    @media screen and( min-width: 768px) and (min-height: 1024px) {
        .upperRect {
            position: fixed;
            top: -12%;
            width: 100%;
        }
        .lowerRect {
            position: fixed;
            bottom: 0;
            width: 100%;

            > img {
                position: fixed;
                bottom: -2%;
                width: 100%;
                z-index: 0;
            }
        }

        #lineItemSubmitBtn {
            margin-bottom: 12%;
        }
        .inner-item {
            height: 40rem !important;
        }
    }

    @media screen and (min-width: 1024px) {
        .inner-item {
            height: 55rem !important;
        }
    }

    .lowerRect {
        position: fixed;
        bottom: 0;
        width: 100%;

        > img {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 0;
        }
    }

    .requestDateTime {
        font-size: small;
        font-weight: bold;
    }

    .header-text {
        position: fixed;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background: linear-gradient(237.78deg, #2196f3 -0.07%, #18dbf5 102.14%), #c4c4c4;
    }

    .header {
        width: 100%;
        z-index: 11;
        color: white;

        #toolbarText {
            font-size: 2.4vh;
        }

        #toolbarBackBtn {
            vertical-align: middle;
            zoom: 1.5;
        }

        #moreOptionsIcon {
            position: absolute;
            right: 1vw;
            zoom: 2;
            top: 0.8vh;
        }
    }

    .searchbarDiv {
        position: fixed;
        top: 5vh;
        left: 0;
        width: 100%;
        z-index: 999999;
        
        ::ng-deep .searchbar-input {
            border: 1px #2b2b2b98 solid;
        }
    }

    .segmentRow {
        position: fixed;
        top: 18vh;
        left: 0;
        height: 80vh;
        width: 100%;
        overflow-y: scroll;
        padding-bottom: 2rem;
        z-index: 99999;
    }

    .detailCard {
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
        margin-bottom: 0.3rem;
    }

    .initiatedChip {
        background: #ffc65d;
        border-radius: 2px;
        color: white;
        text-align: center;
        float: right;
    }

    .approvedChip {
        background: #187fa8;
        border-radius: 2px;
        color: white;
        text-align: center;
        float: right;
    }

    .rejectedChip {
        background: #c43920;
        border-radius: 2px;
        color: white;
        text-align: center;
        float: right;
    }

    .collaboratedChip {
        background: #417687;
        border-radius: 2px;
        color: white;
        text-align: center;
        float: right;
    }

    .outForDeliveryChip {
        background: #24ac2b;
        border-radius: 2px;
        color: white;
        text-align: center;
        float: right;
    }

    .smallFontText {
        font-weight: lighter;
        font-size: small;
    }

    .smallFontTextBold {
        font-weight: bold;
        font-size: small;
    }

    .headerLabels {
        margin: 0;
        p {
            margin-top: 5px;
            margin-bottom: 3px;
        }
        h2 {
            margin-bottom: 5px;
        }
    }

    .detailsTitleText {
        font-weight: lighter;
    }

    #cardIconArea {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    hr {
        margin: 0;
        border-top: 1px #00000018 solid;
    }

    .approvalOptions {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        .option {
            text-align: center;
            transform: scale(0.8);
            p {
                margin: 0;
                color: #4e4e4eb7;
            }
        }
    }

    .amountField {
        color: green;
    }
}

ion-footer {
    background: white;
    z-index: 100000;

    .approveRejectOptions {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 0.5rem;
    }

    .option {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            margin: 0;
            margin-left: 5px;
        }
    }
}

.no-records img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
