<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" style="zoom: 1.7" (click)="onBack()"></ion-icon>
    </ion-buttons>
    <ion-title>{{service.requestType}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionClear)="searchText = ''" name="globalSearch" placeholder="Global Search"
      [(ngModel)]="searchText"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card class="ion-no-padding ion-box-shadow">
          <ion-card-content>
            <ion-item>
              <ion-label color="primary" position="floating">WorkItems</ion-label>
              <ion-select interface="action-sheet" (ionChange)="onApprovalTypeChange($event.target.value)">
                <ion-select-option *ngFor="let type of approvalTypes" value="{{type}}"
                  [selected]=" type == 'Approved' ? true : false">{{type}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" position="floating">Contractor Name</ion-label>
              <ion-select interface="action-sheet">
                <ion-select-option value="All" selected>All</ion-select-option>
                <ion-select-option *ngFor="let contractor of requestData.CONT_NAME" value={{contractor}}>{{contractor}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" position="floating">Engineer Name</ion-label>
              <ion-select interface="action-sheet">
                <ion-select-option value="All" selected>All</ion-select-option>
                <ion-select-option *ngFor="let engg of requestData.EMP_ENG_NAME" value={{engg}}>{{engg}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" position="floating">TaskGroup Name</ion-label>
              <ion-select interface="action-sheet">
                <ion-select-option value="All" selected>All</ion-select-option>
                <ion-select-option *ngFor="let tg of requestData.TG_DES" value={{tg}}>{{tg}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let request of requestData.RequestList | filter: searchText | filter: filteredSearch.CONT_NAME | filter: filteredSearch.EMP_ENG_NAME | filter: filteredSearch.TG_DES; index as i">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-checkbox mode="md" (click)="onSelectWorkItems(request); $event.stopPropagation()"></ion-checkbox>
                &nbsp; &nbsp;
                <ion-label color="primary"> {{request.requestId.substring(4, request.requestId.length)}}</ion-label>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-item>
                <ion-label color="primary" position="floating">
                  ID
                </ion-label>
                <ion-input [readonly]="true" value="{{request.header.TG_DES}}"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">
                  Employee
                </ion-label>
                <ion-input [readonly]="true" value="{{request.header.EMP_CODE}}"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">
                  Engineer
                </ion-label>
                <ion-input [readonly]="true" value="{{request.header.EMP_ENG_NAME}} {{request.header.DEPT_DES}}">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">
                  Skill
                </ion-label>
                <ion-input [readonly]="true" value="{{request.header.DESIGNATION}} {{request.header.SKILL_RATE}}">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary">
                  Attendance
                </ion-label>
                <ion-icon slot="end" [color]="request.header.PRESENT === 'PR' ? 'success' : 'danger'"
                  [name]="request.header.PRESENT === 'PR' ? 'checkmark-circle' : 'close-circle'"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">
                  Net Hours
                </ion-label>
                <ion-input type="number" name="NET_TIME{{i}}" [readonly]="!request.CAN_EDIT"
                  (ionChange)="onEditableChange(request)" [(ngModel)]="request.header.NET_TIME"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">
                  OT Hours
                </ion-label>
                <ion-input type="number" name="OT_TIME{{i}}" [readonly]="!request.CAN_EDIT"
                  (ionChange)="onEditableChange(request)" [(ngModel)]="request.header.OVER_TIME"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">
                  INCENTIVE
                </ion-label>
                <ion-input type="number" name="INCENTIVE{{i}}" [readonly]="!request.CAN_EDIT"
                  (ionChange)="onEditableChange(request)" [(ngModel)]="request.header.INCENTIVE"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">
                  Amount
                </ion-label>
                <ion-input type="number" name="amount{{i}}" [readonly]="true" color="success"
                  [(ngModel)]="'&#x20b9; ' + request.header.AMOUNT"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">
                  Completed Date
                </ion-label>
                <ion-input [readonly]="true" value="{{global.getPortalDate(request.header.CR_DATE)}}"></ion-input>
              </ion-item>
            </ion-list>
            <ion-row style="text-align: center" *ngIf="!request.CAN_EDIT">
              <ion-col *ngIf="request.currentstep == '1'">
                <!-- Edit Work Item -->
                <ion-icon style="zoom: 1.5" color="warning" name="create" (click)="onEditWorkItem(request)"></ion-icon>
              </ion-col>
              <ion-col>
                <!-- Attachments -->
                <ion-icon (click)="onViewAttachment(request)" style="zoom: 1.5" color="secondary" name="attach">
                </ion-icon>
              </ion-col>
              <ion-col *ngIf="!(request.currentstep === '&START') && request.activities">
                <!-- Approve -->
                <ion-icon style="zoom: 1.5" color="success" name="checkmark"
                  (click)="onSingleSubmission(request, 'Approved')">
                </ion-icon>
              </ion-col>
              <ion-col *ngIf="request.currentstep === '&START' && request.activities">
                <!-- Resubmit -->
                <ion-icon style="zoom: 1.5" color="success" name="refresh"
                  (click)="onSingleSubmission(request, 'Resubmit')">
                </ion-icon>
              </ion-col>
              <ion-col *ngIf="!(request.currentstep === '&START') && request.activities">
                <!-- Reject -->
                <ion-icon style="zoom: 1.5" color="danger" name="close"
                  (click)="onSingleSubmission(request, 'Rejected')">
                </ion-icon>
              </ion-col>
              <ion-col *ngIf="request.currentstep === '&START' && request.activities">
                <!-- Cancel -->
                <ion-icon style="zoom: 1.5" color="danger" name="trash" (click)="onSingleSubmission(request, 'Cancel')">
                </ion-icon>
              </ion-col>
              <ion-col>
                <!-- Logs -->
                <ion-icon (click)="onViewLogs(request)" style="zoom: 1.5" color="tertiary" name="list-box"></ion-icon>
              </ion-col>
              <!-- Document Change -->
              <ion-col *ngIf="request.changedlag">
                <ion-icon (click)="onViewChangeDocument(request)" style="zoom: 1.5" color="warning" name="copy">
                </ion-icon>
              </ion-col>
            </ion-row>
            <ion-row style="text-align: center" *ngIf="request.CAN_EDIT">
              <ion-col>
                <ion-icon style="zoom: 1.5" color="primary" name="done-all" (click)="request.CAN_EDIT = false">
                </ion-icon>
              </ion-col>
            </ion-row>
          </mat-expansion-panel>
        </mat-accordion>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer *ngIf="selectedWorkItems.length > 0 && requestData.RequestList[0].activities">
  <ion-row>
    <ion-col>
      <ion-button expand="full" color="success" (click)="onMultipleSubmission('Approved')">Approve</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="danger" (click)="onMultipleSubmission('Rejected')">Reject</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>