<div class="customLICard">
  <div class="customLineItemCard" (click)="onExpand()" button>
    <ion-grid button>
      <ion-row>
        <ion-col size="9">
          <ion-checkbox *ngIf="isReservationSynced" style="float: left;" (click)="$event.stopPropagation()" (ionChange)="onSelectLineItem($event)"></ion-checkbox>
        </ion-col>
        <ion-col size="3">
          <div class="chip">{{lineItemObj.MEINS}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="leftAlignedText" size="12">
          <ion-text>{{lineItemObj.MATNR}}</ion-text><br>
          <ion-text style="font-size: medium;">{{lineItemObj.MAT_DES}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="leftAlignedText" size="12">
          <ion-item class="ion-no-padding">
            <ion-label>
              <h2 style="font-weight: bold;">Plant</h2>
              <p>{{lineItemObj.PLANT_DES}}</p>
            </ion-label>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label>
              <h2 style="font-weight: bold;">S.LOC/BIN</h2>
              <p style="font-weight: bold;">{{lineItemObj.LGORT}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div>
      <p class="expansionText">Tap here to {{isCollapsed ? 'Expand' : 'Collapse'}} <ion-icon
          name="{{isCollapsed ? 'arrow-down' : 'arrow-up'}}"></ion-icon>
      </p>
    </div>
  </div>
  <div class="collapsedArea" #collapsedArea>
    <div id="{{'collapsedContent' + lineItemId}}">
      <ion-grid>
        <ion-row>
          <ion-col class="leftAlignedText" size="6">
            <ion-text style="font-family: 'Open Sans'; font-weight: 300; font-size: initial;">Reserve Qty.</ion-text>
          </ion-col>
          <ion-col class="leftAlignedText" size="6">
            <ion-text style="font-family: 'Open Sans'; font-weight: bold; font-size: initial;">{{lineItemObj.ERFMG}}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="leftAlignedText" size="6">
            <ion-text style="font-family: 'Open Sans'; font-weight: 300; font-size: initial;">Reserve Value</ion-text>
          </ion-col>
          <ion-col class="leftAlignedText" size="6">
            <ion-text style="font-family: 'Open Sans'; font-weight: bold; font-size: initial;">{{lineItemObj.BDMNG ===
              'NaN' ? '' : lineItemObj.BDMNG}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!isReservationSynced">
          <ion-col size="6">
            <ion-button id="editBtn" mode="ios" expand="full" (click)="onEditLineItem()">EDIT &nbsp;<ion-icon
                name="create"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button id="removeBtn" mode="ios" expand="full" (click)="onRemoveLineItem()">REMOVE &nbsp;<ion-icon
                name="trash"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button [disabled]="!lineItemObj.MATNR" (click)="openStockCheckModal()" expand="full"
              id="lineItemSubmitBtn">
              Stock Check
              <ion-icon name="stats"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</div>