.customLICard {
    background: linear-gradient(0deg, #E6E6E6, #E6E6E6);
}

.customLineItemCard {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.56);
    border-radius: 4px;
    padding: 0.2rem;
    z-index: 100;
    margin-bottom: 1rem;
}

.chip {
    background: #5B7E9A;
    border-radius: 2px;
    color: white;
}

ion-text {
    font-weight: bold;
}

.leftAlignedText {
    text-align: left;
    p {
        margin: 0;
    }
}

.valueLabel {
    font-weight: lighter;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapsedArea {
    height: 0px;
    margin-bottom: 1rem;
}

#editBtn {
    --background: linear-gradient(103.28deg, #1BC4F5 0%, #2196F3 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

#removeBtn {
    --background: linear-gradient(103.28deg, #F3AC21 0%, #F5771B 78.98%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

ion-item {
    --padding-end: 0 !important;
    --inner-padding-end: 0px;
}

.expansionText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    margin: 0;
}