<ion-content>
  <div class="emptyStateContainer" *ngIf="requests.length == 0">
    <div class="is-empty-state-content">
      <img src="assets/imgs/empty-tasks-4.png" />
      <h3>Nothing In Requests</h3>
    </div>
  </div>
  <div *ngIf="requests.length > 0">
    <div class="heading">
      <ion-text class="pageTitle">REQUESTS</ion-text><br>
      <ion-text>Initiate your Requests.</ion-text>
    </div>
    <div style="padding: 0 1rem">
      <hr>
    </div>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="4" *ngFor='let request of requests; index as i'>
          <div class="customCard {{global.animationClass}}" [routerLink]="'/main/requests/'+request.id">
            <img *ngIf="global.getIconName(request.description)" class="requestIcon animated fadeInRight"
              src="{{global.getIconName(request.description)}}">
            <div style="height: 30px; width: 30px" *ngIf="!global.getIconName(request.description)"></div>
            <div class="customCardTitle">
              <p class="animated fadeInRight">{{request.description}}</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>