.emptyStateContainer {
  background: white;
  height: 100%;
  .is-empty-state-content {
    width: 100%;
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20vh;
   
    img {
      width: 55%;
      max-width: 370px;
    }
  }
}

ion-content {
  --background: linear-gradient(to bottom, #3A729B, #5dbbff);
}

hr {
  margin-top: 0;
  border-bottom: 2px white solid;
  padding: 0 1rem;
}

.heading {
  text-align: center;
  padding: 1rem;
  color: white;

  .pageTitle {
    font-size: x-large;
  }
}

.customCard {
  padding: 0.8rem;
  border-radius: 8px;
  background: white;
  margin: 0.5rem;
  min-height: 120px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.customCardTitle {
  p {
    margin: 0;
  }
}

.customCardCountBox {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: #00c3e6;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 100px;
  padding: 0.5rem 0.5rem 0.8rem 0.8rem;

  .customCardCountBoxText {
    margin: 0;
    color: white;
  }
}