<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pricing Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="overflow: auto !important;">
    <table>
      <thead>
        <tr *ngIf="data.lineItems.ZDPC">
          <th>Transportation To Depot (ZDTC)</th>
          <th>Depot Handling Charges (ZDPC)</th>
          <th>Basic Price - Domestic (PR00)</th>
          <th>Basic From Depot</th>
          <th *ngIf="data.lineItems.PRO_QTY">Proposed Quantity</th>
          <th *ngIf="data.lineItems.PRO_QTY">Total Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="data.lineItems.ZDPC">
          <td>{{data.lineItems.ZDTC}}</td>
          <td>{{data.lineItems.ZDPC}}</td>
          <td>{{data.lineItems.COND_AMOUNT}}</td>
          <td>{{getAmount(data.lineItems.ZDTC, data.lineItems.ZDPC, data.lineItems.COND_AMOUNT, null, 'price')}}</td>
          <td *ngIf="data.lineItems.PRO_QTY">{{data.lineItems.PRO_QTY}}</td>
          <td *ngIf="data.lineItems.PRO_QTY">
            {{getAmount(data.lineItems.ZDTC, data.lineItems.ZDPC, data.lineItems.COND_AMOUNT, data.lineItems.PRO_QTY, 'amt')}}
          </td>
        </tr>
        <div class="ion-padding empty-task" *ngIf="!data.lineItems.ZDPC">
          <img class="animated fadeInUp" src="assets/imgs/empty-tasks-4.png" alt="no-data">
          <ion-label class="animated bounceIn" color="tertiary"><h3><b>No Pricing Details</b></h3></ion-label>
        </div>
      </tbody>
    </table>
  </div>
  <ion-grid *ngIf="data.lineItems.PRO_QTY && data.lineItems.ZDPC">
    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <p class="animated bounceIn" style="margin: 0; font-size: small;">Swipe horizontally to see more details
          <ion-icon name="arrow-forward" style="vertical-align: middle;"></ion-icon>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer (click)="closeModal()">
  <ion-toolbar>
    <ion-title class="ion-text-center" button>Close</ion-title>
  </ion-toolbar>
</ion-footer>