table,
th,
td,
tr {
    border: 1px solid #fff;
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: #008cc7;
    color: #fff;
}

table tr:nth-child(odd) {
    background-color: #e2e8ff;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

.empty-task{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    > img {
      width: 75%;
      height: 75%;  
    }
}
