<ion-header>
  <ion-toolbar>
    <ion-title>Existing Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="overflow: auto;">
    <table matSort (matSortChange)="sortData($event)">
      <thead *ngIf="!isLineitem">
        <tr class="table-header">
          <th>Workflow no.</th>
          <th>Settlement Workflow no.</th>
          <th>Condition Record no.</th>
          <th>Rebate Agreement no.</th>
          <th>Proposed By</th>
          <th mat-sort-header="createdDate">Date Of
            Request</th>
          <th>Payer Name</th>
          <th>Period From</th>
          <th>Period To</th>
          <th>Material Group</th>
          <th>Type Of Disc.</th>
          <th>Disc. Rate</th>
        </tr>
      </thead>
      <thead *ngIf="isLineitem">
        <tr class="table-header">
          <th>Workflow no.</th>
          <th>Proposed By</th>
          <th>Condition Type</th>
          <th>Key Combination</th>
          <th mat-sort-header="createdDate">Date Of
            Request</th>
          <th>Payer code</th>
          <th>Period From</th>
          <th>Period To</th>
          <th>Material code</th>
          <th>Discount Rate</th>
        </tr>
      </thead>
      <tbody *ngIf="data && !isLineitem">
        <tr *ngFor="let item of data; index as i">
          <td [ngStyle]="{'color': !item.requestId ? 'black' : 'blue'}">
            {{item.requestId || '--'}}</td>
          <td *ngIf="item.header.DCM" style="color: blue;">{{item.header.DCM || '--'}}</td>
          <td *ngIf="!item.header.DCM">--</td>
          <td>{{item.header.KNUMH || '--'}}</td>
          <td>{{item.header.KNUMA || '--'}}</td>
          <td>{{item.logs[0].actualUser || '--'}}</td>
          <td *ngIf="item.createdDate">{{global.convertZonalDate(item.createdDate)}}</td>
          <td *ngIf="!item.createdDate">{{'--'}}</td>
          <td>{{item.header.BONEM}}</td>
          <td>{{global.getPortalDate(item.header.DATAB)}}</td>
          <td>{{global.getPortalDate(item.header.DATBI)}}</td>
          <td>{{item.header.MAKTL || item.header.MATNR || '--'}}</td>
          <td>{{item.header.TYP_DICS || '--'}}</td>
          <td>{{getAmount(item.header.TotalDiscount || item.header.TOTAL_AMOUNT) || '--'}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="data && isLineitem">
        <tr *ngFor="let item of data; index as i">
          <td [ngStyle]="{'color': !item.requestId ? 'black' : 'blue'}">
            {{item.requestId || '--'}}</td>
          <td>{{item.logs[0].actualUser || '--'}}</td>
          <td>{{item.header.KSCHL_DESC || '--'}}</td>
          <td>{{item.header.Key_Comb_Desc || '--'}}</td>
          <td *ngIf="item.createdDate">{{global.convertZonalDate(item.createdDate)}}</td>
          <td *ngIf="!item.createdDate">{{'--'}}</td>
          <td>
            <div>
              <span *ngIf="showDatabyPayer.length > 0">{{showDatabyPayer[i].PAYER}}</span>
            </div>
          </td>
          <td>
            <div>
              <span
                *ngIf="showDatabyPayer.length > 0">{{global.getPortalDate(showDatabyPayer[i].COND_VALID_FROM)}}</span>
            </div>
          </td>
          <td>
            <div>
              <span *ngIf="showDatabyPayer.length > 0">{{global.getPortalDate(showDatabyPayer[i].COND_VALID_TO)}}</span>
            </div>
          </td>
          <td>
            <div>
              <span *ngIf="showDatabyPayer.length > 0">{{showDatabyPayer[i].MATNR}}</span>
            </div>
          </td>
          <td>
            <div>
              <span *ngIf="showDatabyPayer.length > 0">{{getAmount(showDatabyPayer[i].COND_AMOUNT)}}</span>
            </div>
          </td>
        </tr>
      </tbody>
      <ion-item class="ion-padding" *ngIf="!data">
        <ion-label color="tertiary">No match found !!</ion-label>
      </ion-item>
    </table>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <p class="animated bounceIn" style="margin: 0; font-size: small;">Swipe horizontally to see more details
          <ion-icon name="arrow-forward" style="vertical-align: middle;"></ion-icon>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer (click)="closeModal()">
  <ion-toolbar>
    <ion-title class="ion-text-center" button>Close</ion-title>
  </ion-toolbar>
</ion-footer>