table,
th,
td,
tr {
    border: 1px solid #fff;
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: #008cc7;
    color: #fff;
}

table tr:nth-child(odd) {
    background-color: #e2e8ff;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

::ng-deep .mat-sort-header-arrow {
    color: white !important;
}
