<ion-content fullscreen>
  <div class="upperRect">
    <img src="assets/svg/background-svg/upper.svg" alt="upper-svg">
  </div>
  <div class="lowerRect">
    <img src="assets/svg/background-svg/lower.svg" alt="lower-svg">
  </div>
  <form #goodsIssueForm="ngForm">
    <ion-grid fixed>
      <ion-row class="header">
        <ion-col class="ion-no-padding">
          <div class="header-text">
            <h1 id="toolbarText">
              <ion-icon (click)="onBack()" id="toolbarBackBtn" mode="md" name="arrow-back"></ion-icon>
              &nbsp;
              {{requestID}}
            </h1>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="segmentRow">
        <ion-col size="12" class="ion-no-padding">
          <ion-segment #segments name="segment" (ionChange)="segmentChanged()" [(ngModel)]="segment" value="0"
            mode="md">
            <ion-segment-button mode="md" value="0">
              <ion-label>Details</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="1">
              <ion-label>Attachments</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="2">
              <ion-label>Logs</ion-label>
            </ion-segment-button>
          </ion-segment>
          <div class="overflowContainer">
            <ion-slides #slides [options]="slideOpts" scrollbar="false">
              <!-- Header Details -->
              <ion-slide>
                <div class="overflowSlideContainer">
                  <ion-row class="slideInitialRow">
                    <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                      <div>
                        <div class="headerDetails">
                          <p style="font-size: smaller; margin: 0;" *ngIf="requestData.currentstep == '5'">
                            <b>NOTE:</b> If You Want To Make Changes In this Request, <b>Login</b> in <b>Web
                              Portal</b>
                          </p>
                          <ion-item-divider>
                            <ion-label color="primary"><b>MATERIAL REQUEST-1</b></ion-label>
                          </ion-item-divider>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Company
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.company1}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Business Area
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.businessarea}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Industry Sector
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.MBBEZ}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Department
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.Department}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Specific
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.specific}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Function location / Equipment name (on which material to be install)
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.instrument}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Reference Material
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.COPY_MATNR}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Reference Material Description
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.MTBEZ}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Ref Plant
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.PLNT}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Location
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.location}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Remarks/justification
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.description}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-item-divider></ion-item-divider>
                          <div class="materialSpecific">
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Material Type
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.MTBEZ}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  New Material's plant
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.PLNT || requestData.header.STRG}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  New Material's storage location
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.STRG}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Sales Organisation
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.VTEXTV}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Distribution channel
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.VTEXTD}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Valuation Type
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.BWTAR}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Ware House No
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.LNUMTTXT1}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Storage Type
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.LTYPTTXT1}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                          </div>
                        </div>
                        <div class="otherDetails" *ngIf="requestData.header.requesttype == 'NewMaterial'">
                          <ion-grid>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Material Codification
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.level2 || ''}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Level3
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.level3 || ''}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Level4
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.level4 || ''}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="showMaterial">
                              <ion-col size="12">
                                <ion-text class="smallFontText">
                                  <span
                                    style="color: blue; font-size: large; font-weight: bold;">{{requestData.header.level1}}</span>
                                  - Level1 (Main Group)
                                </ion-text>
                              </ion-col>
                              <ion-col size="12">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.level1Desciption || ''}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="showMaterial">
                              <ion-col size="12">
                                <ion-text class="smallFontText">
                                  <span
                                    style="color: red; font-size: large; font-weight: bold;">{{requestData.header.level2}}</span>
                                  - Level2
                                  (Sub Group)
                                </ion-text>
                              </ion-col>
                              <ion-col size="12">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.level2Desciption || ''}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="showMaterial">
                              <ion-col size="12">
                                <ion-text class="smallFontText">
                                  <span
                                    style="color: green; font-size: large; font-weight: bold;">{{requestData.header.level3}}</span>
                                  - Level3 (Sub Sub Group)
                                </ion-text>
                              </ion-col>
                              <ion-col size="12">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.level3Desciption || ''}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="showMaterial">
                              <ion-col size="12">
                                <ion-text class="smallFontText">
                                  <span
                                    style="color: orange; font-size: large; font-weight: bold;">{{requestData.header.level4}}</span>
                                  - Level4 (Material Data)
                                </ion-text>
                              </ion-col>
                              <ion-col size="12">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.level4Desciption || ''}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="requestData.currentstep == '5'">
                              <ion-col size="12">
                                <ion-item>
                                  <ion-label position="floating">New Material Code</ion-label>
                                  <ion-input type="text" readonly="true" value="{{requestData.header.MATNR}}">
                                  </ion-input>
                                </ion-item>
                                <ion-button (click)="generateMaterialCode()" color="primary" expand="full"
                                  *ngIf="requestData.header.requesttype == 'NewMaterial'"
                                  [disabled]="disableGenerateButton">
                                  <ion-icon slot="start" name="cog"></ion-icon>
                                  Generate material code
                                </ion-button>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </div>
                        <mat-accordion>
                          <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <ion-label>Basic Data</ion-label>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Unit of Measurement
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.MSEHL1}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Material Group
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.WGBEZ}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Division
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.VTEXT1}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Lab/Office
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.LBTXT}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Short Text
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.COPY_MAKTX}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Basic Data Text
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.BASIC_TEXT}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Gross Weight
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.BRGEW}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Net Weight
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.NTGEW}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Product Hierachy
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.VTEXT7}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Material pack group / V E D
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.BEZEIMP}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row style="margin-top: 0.5rem;">
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Weight Unit
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                {{requestData.header.MSEHLDES}}
                              </ion-col>
                            </ion-row>
                          </mat-expansion-panel>
                          <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <ion-label>Purchasing Data</ion-label>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Purchasing Group
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.EKNAM}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Purchasing value key
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.EKOTX}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Tax indicator for material
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.TAXIB}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Batch Management
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.XCHPF}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Control code/HSN code
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.STEUC1}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Purchase Order text
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.PURCHASE_TEXT}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                          </mat-expansion-panel>
                          <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <ion-label>Accounting Data</ion-label>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Valuation Class
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.BKBEZ}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Moving price
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.VERPR}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                          </mat-expansion-panel>
                          <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <ion-label>General/Plant Data</ion-label>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Profit center
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.PRCTR}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                          </mat-expansion-panel>
                          <mat-expansion-panel *ngIf="requestData.header.ClassificationData">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <ion-label>Classification Data</ion-label>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Class Type
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.MSEHL1}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Class
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.KLASSE_D}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                          </mat-expansion-panel>
                          <mat-expansion-panel *ngIf="requestData.header.SalesData">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <ion-label>Sales Data</ion-label>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Tax Jurisdict.Code d1
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.VTEXT2}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Tax Jurisdict.Code d2
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.VTEXT2}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Tax Jurisdict.Code d3
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.VTEXT2}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Tax Jurisdict.Code d4
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.VTEXT2}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  GST Tax classficatio/Tax ind. f. material
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.TAXIB}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Sales text
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.MSEHL}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Matl statistics grp
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.STGMA}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Account assignment group
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.VTEXT3}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Item category group
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.BEZEI}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  General item category group
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.GEN_ITEM}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Stock Availability check
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.VTEXT4}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Transfer group
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.VTEXT5}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Loading group
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.VTEXT6}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Profit center
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.PRC_TXT}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                          </mat-expansion-panel>
                          <mat-expansion-panel *ngIf="requestData.header.MRP">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <ion-label>MRP</ion-label>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  MRP TYPE
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.DISMM}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Stock Availability check
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.CHCK_GROUP}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                          </mat-expansion-panel>
                          <mat-expansion-panel *ngIf="requestData.header.QualityManagement">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <ion-label>Quality Management</ion-label>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Inspection setup
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  <ion-icon *ngIf="checkForMark(requestData.header.QMATV)" size="large" color="primary"
                                    name="checkmark-circle-outline"></ion-icon>
                                  <ion-icon *ngIf="!checkForMark(requestData.header.QMATV)" size="large" color="primary"
                                    name="close-circle-outline"></ion-icon>
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  QM proc active
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  <ion-icon *ngIf="checkForMark(requestData.header.QMPUR)" size="large" color="primary"
                                    name="checkmark-circle-outline"></ion-icon>
                                  <ion-icon *ngIf="!checkForMark(requestData.header.QMPUR)" size="large" color="primary"
                                    name="close-circle-outline"></ion-icon>
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Documentation required
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  <ion-icon *ngIf="checkForMark(requestData.header.KZDKZ)" size="large" color="primary"
                                    name="checkmark-circle-outline"></ion-icon>
                                  <ion-icon *ngIf="!checkForMark(requestData.header.KZDKZ)" size="large" color="primary"
                                    name="close-circle-outline"></ion-icon>
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Inspection type
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.KURZTEXT2}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <ion-text class="smallFontText">
                                  Qm control key
                                </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                <ion-text class="smallFontTextBold">
                                  {{requestData.header.QSSPUR}}
                                </ion-text>
                              </ion-col>
                            </ion-row>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                      <ion-row id="finalOptionsRow">
                        <ion-col size="12" size-lg="6" offset-lg="3" class="ion-padding">
                          <div id="finalOptions">
                            <p>Request For Action</p>
                            <div class="approvalOptions">
                              <div *ngIf="requestData.header.requesttype == 'ChangeMaterial'" class="option"
                                (click)="changedDocumentHistory()">
                                <img src="assets/svg/timesheet-claim.svg">
                                <p>Change Logs</p>
                              </div>
                              <div *ngIf="requestData.currentstep !== '&START' && requestData.status !== '5'"
                                class="option" (click)="submit('Approve')">
                                <img src="assets/svg/approvePO.svg">
                                <p>Approve</p>
                              </div>
                              <div *ngIf="requestData.currentstep !== '&START' && requestData.status !== '5'"
                                class="option" (click)="submit('RejectComplete')">
                                <img src="assets/svg/rejectPO.svg">
                                <p>Reject</p>
                              </div>
                              <div *ngIf="requestData.currentstep !== '&START' && requestData.status !== '5'"
                                class="option" (click)="onCollaborate('Collaborate')">
                                <img src="assets/svg/collabPO.svg">
                                <p>Collaborate</p>
                              </div>
                              <div *ngIf="requestData.currentstep !== '&START' && requestData.status === '5'"
                                class="option" (click)="onCollaborate('CollaborateBack')">
                                <img src="assets/svg/collabBack.svg">
                                <p>Collaborate Back</p>
                              </div>
                            </div>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-slide>
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <div class="attachmentCard" *ngFor="let attachment of requestData.attachments">
                      <ion-row>
                        <ion-col size="1">
                          <ion-icon class="docIcon" name="document"></ion-icon>
                        </ion-col>
                        <ion-col style="text-align: left;" size="10">
                          <ion-text>{{attachment.fileName}}</ion-text><br>
                          <ion-text style="font-weight: lighter; font-size: small;">Uploaded By: <span
                              style="font-weight: bold;">{{attachment.creator}}</span></ion-text><br>
                          <ion-text style="font-weight: lighter; font-size: small;">Uploaded On: <span
                              style="font-weight: bold;">{{global.getPortalDate(attachment.createDate)}}</span>
                          </ion-text>
                        </ion-col>
                        <ion-col size="1">
                          <ion-icon (click)="downloadAttachment(attachment)" class="eyeIcon" name="eye"></ion-icon>
                        </ion-col>
                      </ion-row>
                    </div>
                    <p *ngIf="attachments[0].length > 0 || attachments[1].length > 0"
                      style="font-size: smaller; margin: 1rem;">Uploaded Attachments</p>
                    <div class="attachmentCard" *ngFor="let attachment of attachments[0]; index as i">
                      <ion-row>
                        <ion-col size="1">
                          <ion-icon class="docIcon" name="document"></ion-icon>
                        </ion-col>
                        <ion-col style="text-align: left;" size="10">
                          <ion-text>{{attachment.name}}</ion-text><br>
                          <ion-text style="font-weight: lighter; font-size: small;">Attachment Type: <span
                              style="font-weight: bold;">{{attachment.type}}</span></ion-text><br>
                          <ion-text style="font-weight: lighter; font-size: small;">Size: <span
                              style="font-weight: bold;">{{global.getBytesConversion(attachment.size, 2)}}</span>
                          </ion-text>
                        </ion-col>
                        <ion-col size="1">
                          <ion-icon (click)="onRemoveAttachment(i, 'file')" class="removeIcon" name="close"></ion-icon>
                        </ion-col>
                      </ion-row>
                    </div>
                    <div class="attachmentCard" *ngFor="let attachment of attachments[1]; index as i">
                      <ion-row>
                        <ion-col size="1">
                          <ion-icon class="docIcon" name="document"></ion-icon>
                        </ion-col>
                        <ion-col style="text-align: left;" size="10">
                          <ion-text>{{attachment.name}}</ion-text><br>
                          <!-- <ion-text style="font-weight: lighter; font-size: small;">Attachment Type: <span
                              style="font-weight: bold;">{{attachment.type}}</span></ion-text><br>
                          <ion-text style="font-weight: lighter; font-size: small;">Size: <span
                              style="font-weight: bold;">{{global.getBytesConversion(attachment.size, 2)}}</span>
                          </ion-text> -->
                        </ion-col>
                        <ion-col size="1">
                          <ion-icon (click)="onRemoveAttachment(i, 'camera')" class="removeIcon" name="close">
                          </ion-icon>
                        </ion-col>
                      </ion-row>
                    </div>
                    <input id="fileUploadInput" type="file" (change)="onSelectFile($event)" multiple="multiple"
                      hidden />
                    <ion-button (click)="uploadAnAttachment()" class="customButton" expand="full">UPLOAD FILES &nbsp;
                      <ion-icon name="cloud-upload">
                      </ion-icon>
                    </ion-button>
                    <p style="font-size: smaller; margin: 0;"><b>NOTE:</b> Maximum size per attachment is <b>25MB</b>.
                    </p>
                  </ion-col>
                </ion-row>
              </ion-slide>
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <div class="logsBox">
                      <ion-card *ngFor="let log of requestData.logs.slice().reverse()">
                        <ion-row>
                          <ion-col size="12">
                            <ion-text style="float: left;">Action Taken:&nbsp;
                              <span
                                [ngClass]="{'initiatedText': log.activityText === 'Submit', 'successText': log.activityText === 'Approve', 'rejectedText': log.activityText === 'Reject' || log.activityText === 'RejectComplete', 'collboratedText': log.activityText === 'Collaborate' || log.activityText === 'CollaborateBack'}">
                                {{global.getLogTextBasedOnActivity(log.activityText)}}
                              </span>
                            </ion-text>
                          </ion-col>
                        </ion-row>
                        <ion-item transparent class="ion-no-padding" lines="none">
                          <ion-avatar slot="start">
                            <img src="assets/imgs/user.png">
                          </ion-avatar>
                          <ion-label>
                            <h2 text-size-md>User: <span style="color: #31a5db;">{{log.actualUser}}</span></h2>
                            <h3 class="ion-text-wrap" text-size-sm>{{log.comments}}</h3>
                          </ion-label>
                        </ion-item>
                        <ion-row>
                          <ion-col size="12">
                            <ion-text style="float: left;">Sent on:&nbsp;
                              <span style="font-weight: bold; color: black;">{{global.getPortalDate(log.endDate)}}
                                {{global.getPortalTime(log.endTime)}}</span>
                            </ion-text>
                          </ion-col>
                        </ion-row>
                      </ion-card>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-slide>
            </ion-slides>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>