ion-content {
    .upperRect {
        position: fixed;
        top: -3%;
        width: 100%;
    }

    @media screen and( min-width: 768px) and (min-height: 1024px) {
        .upperRect {
            position: fixed;
            top: -12%;
            width: 100%;
        }
        .lowerRect {
            position: fixed;
            bottom: 0;
            width: 100%;

            > img {
                position: fixed;
                bottom: -2%;
                width: 100%;
                z-index: 0;
            }
        }

        #lineItemSubmitBtn {
            margin-bottom: 12%;
        }
        .inner-item {
            height: 40rem !important;
        }
    }

    @media screen and (min-width: 1024px) {
        .inner-item {
            height: 55rem !important;
        }
    }

    .lowerRect {
        position: fixed;
        bottom: 0;
        width: 100%;

        > img {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 0;
        }
    }

    .header-text {
        position: fixed;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background: linear-gradient(237.78deg, #2196f3 -0.07%, #18dbf5 102.14%), #c4c4c4;
    }

    .header {
        width: 100%;
        z-index: 11;
        color: white;

        #toolbarText {
            font-size: 2.4vh;
            text-transform: capitalize;
        }

        #toolbarBackBtn {
            vertical-align: middle;
            zoom: 1.5;
        }

        #moreOptionsIcon {
            position: absolute;
            right: 1vw;
            zoom: 2;
            top: 0.8vh;
        }
    }

    .segmentRow {
        margin-top: 8vh;
        overflow-y: scroll;
        ion-segment {
            position: fixed;
            right: 0;
            left: 0;
            width: 100%;
            background: white;
            z-index: 11;
        }
        ion-segment-button {
            border-right: 1px #80808067 solid;
            ion-label {
                font-size: small;
                text-transform: capitalize !important;
            }
        }
        .segment-button-checked {
            background: #5b7e9a;
            color: white;
        }
    }

    .overflowContainer {
        height: 90vh;
        overflow-y: scroll;
    }

    .initiatedChip {
        background: #ffc65d;
        border-radius: 2px;
        color: white;
        text-align: center;
        width: fit-content;
        padding: 0 1rem;
    }

    .approvalIcons {
        transform: scale(0.6);
    }

    ion-slides {
        margin-top: 6vh;
    }

    ion-slide {
        display: initial;
        background: transparent;
    }

    .overflowSlideContainer {
        height: 85vh;
        overflow-y: scroll;
    }

    hr {
        margin: 0;
        border-top: 1px #00000018 solid;
    }

    .slideInitialRow {
        margin-top: 2vh;
    }

    .topSpaceRow {
        margin-top: 0.2rem;
    }

    mat-expansion-panel {
        ion-col {
            text-align: left;
        }
    }

    ::ng-deep .mat-expansion-panel-header {
        padding: 0 0.5rem;
    }

    ::ng-deep .mat-expansion-panel-body {
        padding: 0.5rem !important;
        // background: #f3f3f3;
    }

    .customButton {
        --background: linear-gradient(111.81deg, #1bc4f5 0%, #2196f3 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        margin-top: 0.5rem;
    }

    .headerDetails {
        background: #ffffff;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.274);
        border-radius: 4px;
        padding: 0.5rem;
        margin-bottom: 1rem;

        ion-col {
            text-align: left;
        }
    }

    .headerLabels {
        margin: 0;
        p {
            margin-top: 5px;
            margin-bottom: 3px;
        }
        h2 {
            margin-bottom: 5px;
        }
    }

    .leftAlignedText {
        text-align: left;
    }

    .materialCodeText {
        position: absolute;
        right: 4rem;
        font-weight: bold;
    }

    #finalOptions {
        text-align: center;
        background: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 0.5rem;
    }

    .approveButton {
        --background: linear-gradient(111.81deg, #1bc4f5 0%, #2196f3 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
    }

    .rejectButton {
        --color: #ff8e3d;
        --border-color: #ff8e3d;
        width: 100%;
        margin-top: 1rem;
    }

    .collaborateButton {
        --color: #14637d;
    }

    .otherDetails {
        background: #e2e8ff;
        border-radius: 4px;
        text-align: left;
        margin-bottom: 1rem;
    }

    .lineItemMaterialHeader {
        text-decoration: underline;
        margin: 0;
    }

    .attachmentCard {
        background: #ffffff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        padding: 1rem;
    }

    .docIcon {
        transform: scale(2);
        color: gray;
        position: absolute;
        top: 1rem;
        left: 0;
    }

    .eyeIcon {
        color: #0084ff;
        transform: scale(1.5);
        position: absolute;
        bottom: 0;
        right: 1rem;
    }

    .removeIcon {
        color: tomato;
        transform: scale(1.5);
        position: absolute;
        bottom: 0;
        right: 1rem;
    }

    .logsBox {
        padding-left: 1.5rem;
        height: 70vh;
        overflow-y: scroll;

        ion-card {
            overflow: visible;
            position: relative;
            --background: white;
            padding: 0.5rem;

            ion-item {
                --background: white;
                ion-avatar {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        filter: grayscale(100%);
                        height: 50px;
                        width: 50px;
                    }
                }
            }

            &:after {
                content: "";
                width: 2px;
                background-color: rgb(218, 218, 218);
                top: 20px;
                left: -20px;
                bottom: -30px;
                position: absolute;
            }

            &:before {
                content: "";
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: #008cff;
                top: 19px;
                left: -26px;
                position: absolute;
                z-index: 999;
            }
        }

        ion-col > ion-card:last-child {
            &:after {
                display: none;
            }
        }

        .initiatedText {
            font-weight: bold;
            color: #31a5db;
        }

        .successText {
            font-weight: bold;
            color: #24c73f;
        }

        .rejectedText {
            font-weight: bold;
            color: #b32d2d;
        }

        .collboratedText {
            font-weight: bold;
            color: #417687;
        }
    }

    .editIcon {
        color: #2196f3;
        transform: scale(1.5);
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .movementTypeReasonItem {
        ion-label {
            position: relative;
            left: 0;
        }
    }

    ng-select {
        padding: 0;
        margin-bottom: 5px;
    }

    .smallFontText {
        // font-weight: lighter;
        font-size: small;
    }

    .smallFontTextBold {
        font-weight: bold;
        font-size: small;
    }

    .materialSpecific {
        background-color: #d0d4d4;
    }
}
