<ion-content>
  <div class="heading">
    <ion-text class="pageTitle">REPORTS</ion-text><br>
    <ion-text>Check your Initiated Requests.</ion-text>
  </div>
  <div style="padding: 0 1rem">
    <hr>
  </div>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col  size="6" size-md="4" size-lg="4" *ngFor='let request of requests; index as i'>
        <div class="customCard {{global.animationClass}}" [routerLink]="['./', request.routeUrl]">
          <img *ngIf="global.getIconName(request.imgText)" class="requestIcon animated fadeInRight"
            src="{{global.getIconName(request.imgText)}}">
            <div style="height: 30px; width: 30px" *ngIf="!global.getIconName(request.imgText)"></div>
          <div class="customCardTitle">
            <p class="animated fadeInRight">{{request.imgText}}</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
