<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" style="zoom: 1.7" (click)="modalController.dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>{{processDetails.status === '5' ? 'Collaborate Back' : 'Collaborate'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment mode="md" (ionChange)="segmentValue = $event.target.value;">
    <ion-segment-button *ngIf="userList.length > 0" background="primary" value="user" checked="true" mode="md">
      <ion-label>Collaborate With <br> User</ion-label>
    </ion-segment-button>
    <ion-segment-button
      *ngIf="toShowCollaborateWithInitiator && processDetails.requestType !== 'PRC_PROCESS' && processDetails.requestType !== 'REB_PROCESS' && processDetails.requestType !== 'REB_DRCT_A_NOTE'"
      background="primary" value="initiator" mode="md">
      <ion-label>Collaborate With <br> Initiator</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid class="ion-no-padding" *ngIf="segmentValue === 'user'">
    <ion-row class="ion-justify-content-start">
      <ion-col class="ion-padding-top" size="12">
        <br>
        <div>
          <ng-select [items]="userList" #select bindLabel="login" [dropdownPosition]="'auto'" [bindValue]="login"
            placeholder="Select user" [virtualScroll]="true" [(ngModel)]="selectedUser" [searchFn]="customSearchFn">
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
              <span style="color: #038bff;" [ngOptionHighlight]="search"> <b>{{item.login}}</b></span><br>
              <small><b>Name: </b> {{item.firstName}} {{item.lastName}}</small>
            </ng-template>
          </ng-select>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-textarea [(ngModel)]="comments.userComment" rows="6" autoGrow="false" id="commentBox"
          placeholder="Enter Comments (Optional)"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row id="finalOptionsRow">
      <ion-col size="12" size-lg="6" offset-lg="3" class="ion-padding">
        <div id="finalOptions">
          <p>Take your action on this Request</p>
          <ion-button (click)="onCollaborate()" class="approveButton" expand="full">
            Collaborate
            &nbsp;<ion-icon name="checkmark">
            </ion-icon>
          </ion-button>
          <ion-button (click)="modalController.dismiss()" class="rejectButton" fill="outline" mode="md">
            Cancel &nbsp;
            <img src="assets/svg/block.svg">
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid class="ion-no-padding" *ngIf="segmentValue === 'initiator'">
    <ion-row>
      <ion-col class="ion-padding-top">
        <br>
        <ion-item>
          <ion-input [(ngModel)]="initiator" type="text" [readonly]="true">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-textarea [(ngModel)]="comments.initiatorComment" rows="6" autoGrow="true" id="commentBox"
          placeholder="Enter Comments (Optional)"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row id="finalOptionsRow">
      <ion-col size="12" size-lg="6" offset-lg="3" class="ion-padding">
        <div id="finalOptions">
          <p>Take your action on this Request</p>
          <ion-button (click)="onCollaborate()" class="approveButton" expand="full">
            Collaborate
            &nbsp;<ion-icon name="checkmark">
            </ion-icon>
          </ion-button>
          <ion-button (click)="modalController.dismiss()" class="rejectButton" fill="outline" mode="md">
            Cancel &nbsp;
            <img src="assets/svg/block.svg">
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>