ion-toolbar {
    --background: linear-gradient(111.81deg, #1BC4F5 0%, #2196F3 100%);
}

.commentInput {
    border: 1px #868686 solid;
}

#commentBox {
    --background: #417687;
    --color: white;
    text-align: left;
    font-size: initial;
    height: 150px;
}

#finalOptions {
    text-align: center;
    background: white;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.45);
    padding: 0.5rem;
}

.approveButton {
    --background: linear-gradient(111.81deg, #1BC4F5 0%, #2196F3 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.rejectButton {
    --color: #FF8E3D;
    --border-color: #FF8E3D;
    width: 100%;
    margin-top: 1rem;
}