ion-header {
    ion-toolbar {
        --background: linear-gradient(to right, #25cfdb, #2196f3);
    }
    #toolbarBackBtn {
        vertical-align: middle;
        zoom: 1.5;
    }
    .refreshIcon {
        zoom: 1.5;
        margin-right: 0.5rem;
        animation: rotation 1s infinite;
        transition: 500ms ease;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .firstRow {
        ion-searchbar {
            --border-radius: 10px;
        }

        .searchIcon {
            position: absolute; 
            right: 10px; 
            color: gray;
            transform: rotateY(180deg) scale(1.3);
        }

        .filterText {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;

            ion-text {
                font-size: larger;
            }
        }
    }
}

ion-content {
    --background: #f0f0f0;
    // --background: url('/assets/svg/app-screen.svg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: calc(100vh - 56px);

    .reportsRow {
        margin-top: 0.5rem;
        .reportsCard {
            box-shadow: 3px 3px 3px rgba(0,0,0,0.16), 3px 3px 6px rgba(0,0,0,0.23);
            padding: 0.5rem;
            background: white;
            margin-bottom: 0.1rem;
        }

        .initiatedChip {
            background: #FFC65D;
            border-radius: 2px;
            color: white;
            text-align: center;
            float: right;
        }

        .approvedChip {
            background: #187fa8;        
            border-radius: 2px;
            color: white;
            text-align: center;
            float: right;
        }
    
        .rejectedChip {
            background: #c43920;
            border-radius: 2px;
            color: white;
            text-align: center;
            float: right;
        }
    
        .collaboratedChip {
            background: #417687;
            border-radius: 2px;
            color: white;
            text-align: center;            
            float: right;
        }
    
        .outForDeliveryChip {
            background: #24ac2b;
            border-radius: 2px;
            color: white;
            text-align: center;
            float: right;
        }

        .smallFontText {
            font-weight: lighter;
        }

        .smallFontTextBold {
            font-weight: bold;
        }

        .timingRow {
            background: #d7f2ff;
        }
    }
}