<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon (click)="onBack()" id="toolbarBackBtn" mode="md" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Store Goods Issue Reports</ion-title>
    <ion-buttons *ngIf="isDataLoading" slot="end">
      <ion-icon class="refreshIcon" name="refresh"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-row class="firstRow">
      <ion-col class="ion-no-padding" size="9">
        <ion-searchbar (ionClear)="applyFilter('')" (keyup)="applyFilter($event.target.value)" name="docIdInput"
          class="searchBar" type="text" placeholder="Search By Document ID"></ion-searchbar>
      </ion-col>
      <ion-col class="ion-no-padding filterText" size="3">
        <ion-text (click)="openFilterModal()">
          <ion-icon name="funnel"></ion-icon>&nbsp;Filter
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid fixed>
      <ion-row>
        <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
          <ion-row class="reportsRow" *ngIf="reports.length > 0">
            <ion-col size="12" class="ion-no-padding">
              <div *ngFor="let report of reports">
                <div class="reportsCard">
                  <ion-row>
                    <ion-col size="8" [routerLink]="['./', report.requestId]">
                      <ion-text style="font-weight: bold; color: #202020; text-decoration: underline;">
                        {{report.requestId}}</ion-text>
                    </ion-col>
                    <ion-col size="4">
                      <div
                        class={{global.getColorCssClass(global.getLogTextBasedOnActivity(report.logs[report.logs.length-1].activityText))}}
                        *ngIf="(report.currentstep !== '4' || report.sapDocId === null) && report.logs.length > 0">
                        <ion-text>{{global.getLogTextBasedOnActivity(report.logs[report.logs.length-1].activityText)}}
                        </ion-text>
                      </div>
                      <div
                        *ngIf="report.currentstep === '4' && report.status === '5' && report.sapDocId !== null && report.logs.length > 0"
                        class="collaboratedChip" style="float: right;">
                        Collaborated
                      </div>
                      <div
                        *ngIf="(report.currentstep === '4' || report.currentstep === '5') && report.status !== '5' && report.sapDocId !== null && report.logs.length > 0"
                        class="outForDeliveryChip" style="float: right;">
                        {{report.header.WORKFLOW_COMPLETED === 'true' ? 'Completed' : 'Delivered'}}
                      </div>
                    </ion-col>
                  </ion-row>
                  <br>
                  <ion-row *ngIf="report.header.RSNUM">
                    <ion-col size="6">
                      <ion-text class="smallFontText">
                        Reservation Number
                      </ion-text>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text class="smallFontTextBold">
                        {{report.header.RSNUM}}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="report.header.BWART">
                    <ion-col size="6">
                      <ion-text class="smallFontText">
                        Movement Type
                      </ion-text>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text class="smallFontTextBold">
                        {{report.header.MVT_DES}} ({{report.header.BWART}})
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="report.header.WERKS">
                    <ion-col size="6">
                      <ion-text class="smallFontText">
                        Plant
                      </ion-text>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text class="smallFontTextBold">
                        {{report.header.PLANT_DES}}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="report.header.DEPT_ID">
                    <ion-col size="6">
                      <ion-text class="smallFontText">
                        Department
                      </ion-text>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text class="smallFontTextBold">
                        {{report.header.DEPT_NAME}}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="calculateTotalUsers(report)">
                    <ion-col size="6">
                      <ion-text class="smallFontText">
                        Created By
                      </ion-text>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text class="smallFontTextBold">
                        {{report.createdBy}}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <!-- <ion-row>
                    <ion-col size="6">
                      <ion-text class="smallFontText">
                        Current Status
                      </ion-text>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text class="smallFontTextBold">
                        {{getWorkitemStatus(report)}}
                      </ion-text>
                    </ion-col>
                  </ion-row> -->
                  <ion-row *ngIf="report.header.CurrentUser">
                    <ion-col size="6">
                      <ion-text class="smallFontText">
                        Current Agent
                      </ion-text>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text class="smallFontTextBold">
                        {{fixCurrentUserBrackets(report.header.CurrentUser)}}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row class="timingRow" *ngIf="report.header.RSDAT">
                    <ion-col size="6">
                      <ion-text class="smallFontText">
                        WF Start Date
                      </ion-text>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text class="smallFontTextBold">
                        <ion-icon style="position: relative; top: 1px;" name="calendar"></ion-icon>
                        {{global.getPortalDate(report.header.RSDAT)}}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row class="timingRow" *ngIf="report.logs.length > 0">
                    <ion-col size="6">
                      <ion-text class="smallFontText">
                        WF Start Time
                      </ion-text>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text class="smallFontTextBold">
                        <ion-icon style="position: relative; top: 1px;" name="time"></ion-icon>
                        {{global.getPortalTime(report.logs[0].endTime)}}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row class="timingRow">
                    <ion-col size="6">
                      <ion-text class="smallFontText">
                        Current Status
                      </ion-text>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text class="smallFontTextBold">
                        {{service.getRequestStatus(report)}}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="reports.length === 0 && !isLoadedFirstTime">
            <ion-col size="12" style="text-align: center;">
              <p>No Records Found.</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer *ngIf="searchParams.isFiltered">
  <ion-row class="ion-no-padding">
    <ion-col size="12" class="ion-no-padding">
      <ion-button (click)="clearFilters()" expand="full">Clear All Filters</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>