// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


//////////////////////////////////////////////////

// Theme: Ionic 4 UI Theme/Template App - Material Design - Blue-Light
// Web Site: https://csform.com/
// Author: CSFORM
// Email support:  dev@csform.com

//////////////////////////////////////////////////


/* INCLUDE FONTS AND COLOR COMBINATION
=======================================================
=======================================================*/
@import "fontello";
@import "open-sans";
@import "default-colors";
@import "rtl";
// Oder Color Combination
@import "themes-color/blue";
@import "themes-color/blue-gradient-1";
@import "themes-color/blue-gradient-2";
@import "themes-color/blue-gradient-3";
@import "themes-color/dark-gray";
@import "themes-color/green";
@import "themes-color/purple";
@import "themes-color/red";
@import "themes-color/orange";
@import "themes-color/yellow";

body {
  --ion-font-family: 'Open Sans', sans-serif;
}

ion-avatar {
  height: var(--size-avatar);
  width: var(--size-avatar);
}

/* SETTINGS TOOLBAR
=======================================================
=======================================================*/

ion-toolbar {
  --background: var(--cs-gradient-linear);
  --color: #fff;


  [slot=start] {
    margin-inline-end: 0;
  }

  ion-menu-button,
  ion-back-button{
    --color: #fff !important;
  }

  ion-title {
      font-weight: bold !important;
      font-size: var(--h3-font-size) !important;
  }
}

[margin-half] {
  margin: 16px 8px 0 8px;
}

[padding-half] {
  padding: 8px;
}

/* SETTINGS FONT SIZE
=======================================================
=======================================================*/
[text-size-xl] {
  font-size: var(--h1-font-size, 24px) !important;
  color: var(--cs-text-accent, #455B65);
  line-height: 36px;
  letter-spacing: 1px;
}

[text-size-lg] {
  font-size: var(--h2-font-size, 16px) !important;
  color: var(--cs-text-accent, #455B65);
  letter-spacing: 1px;
}

[text-size-md] {
  font-size: var(--h3-font-size, 15px) !important;
  color: var(--cs-text-accent, #455B65);
  letter-spacing: 1px;
}

[text-size-xs] {
  font-size: var(--h4-font-size, 14px) !important;
  color: var(--cs-text-accent, #455B65);
  letter-spacing: 1px;
}

[text-size-sm] {
  font-size: var(--h5-font-size, 12px) !important;
  color: var(--cs-text-accent, #455B65);
  letter-spacing: 1px;
}

[text-size-p] {
  font-size: var(--text-font-size, 12px) !important;
  color: var(--cs-text-accent, #455B65);
  letter-spacing: 1px;
}

[text-nowrap] {
  text-overflow: ellipsis;
  overflow: hidden;
}


/* SETTINGS COLOR BACKGROUND OUR APP
=======================================================
=======================================================*/
ion-content {
  --background: var(--cs-background-primary, #ffffff);
}

ion-list {
  padding-top: 0 !important;
}

ion-list {
  --ion-item-background: var(--cs-background-primary, #ffffff);
}

ion-item {
  --background: var(--cs-background-primary, #ffffff);
  [input] ion-label {
    color: red !important;
  }
}

/* SETTINGS ITEM SLIDING
=======================================================
=======================================================*/
ion-item-option {
  --background: var(--cs-background-primary, #ffffff);
  --color: transparent;
  font-size: 32px;
  width: 56px;

  &.item-options-ios {
    border-bottom-color: transparent !important;
  }
}


/* SETTINGS MAIN MENU
=======================================================
=======================================================*/
ion-menu-toggle {
  [icon-small] {
    margin-right: 10px;
  }
}

// Settings Icon Outline
i {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

/* SETTINGS COLOR AND SIZE ICON
=======================================================
=======================================================*/
[icon-small] {
  color: var(--cs-icon-color-primary, #00c0e8);
  font-size: var(--icon-size-small, 20px);
}

[icon-medium] {
  color: var(--cs-icon-color-primary, #00c0e8);
  font-size: var(--icon--size-medium, 32px);
}

[icon-large] {
  color: var(--cs-icon-color-secondary, #ffffff);
  font-size: var(--icon--size-large, 60px);
}

/* # Settings Span Components
================================================
================================================*/
[span-small]{
  color: var(--cs-text-secondary);
  font-size: var(--h4-font-size);
}

[span-medium]{
  color: var(--cs-text-secondary);
  font-size: var(--h1-font-size);
}

[span-large]{
  color: var(--cs-text-secondary);
  font-size: 30px !important;
}

/* SETTINGS BUTTON SIZE
=======================================================
=======================================================*/

[default-button] {
    --color: var(--cs-text-primary, #ffffff);
    --background: var(--cs-background-accent, #0090d0);
    --color-activated: var(--cs-text-primary, #ffffff);
    --color-focused: var(--cs-text-primary, #ffffff);
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 25px;
    --padding-end: 25px;
    font-size: var(--h5-font-size);
    font-weight: 400;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
}

ion-button {
  --ripple-color: transparent;
  --color-focused: transparent;
}

ion-ripple-effect {
    color: transparent;
}

[button-round] {
  --border-width: 1px;
  --color: var(--cs-text-secondary, #0090d0) !important;
  --padding-top: 15px;
  --padding-bottom: 15px;
  --padding-start: 25px;
  --padding-end: 25px;
  --border-color: var(--cs-background-accent, #0090d0) !important;
    font-weight: bold !important;
}

[button-icon] {
  background-color: transparent !important;
  color: var(--cs-text-accent, #455B65) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  [slot=start] {
    margin-inline-end: 8px !important;
  }
}

ion-fab-button {
  --background-focused: transparent;
  --background: transparent;
  --color: var(--cs-background-accent, #0090d0);
  --color-activated: #00bee4;
  --box-shadow: none;
  --ripple-color: rgba(0, 0, 0, 0.1);
}

[button-clear] {
  --color: var(--cs-text-secondary, #0090d0) !important;
}

/* SETTINGS INPUT FIELD
=======================================================
=======================================================*/
[input]{
  ion-label {
    --color: var(--cs-text-secondary, #0090d0) !important;
  }

  &.item-has-focus .label-floating{
    color: var(--cs-text-secondary, #0090d0) !important;
  }

  --highlight-height: 1px;
  --highlight-color-focused: var(--cs-background-accent, #0090d0);
  --highlight-color-valid: var(--cs-background-accent, #0090d0);
  --highlight-color-invalid: var(--cs-background-accent, #0090d0);
  //--highlight-background: red !important;

  [icon-small] {
    color: red;
  }
}

/* SETTINGS CHECK BOX
=======================================================
=======================================================*/
ion-checkbox{
  --background-checked:  var(--cs-background-accent, #0090d0);
  --border-color-checked: var(--cs-background-accent, #0090d0);
  --border-color: var(--cs-background-accent, #0090d0);
}

/* SETTINGS TOOGLE
=======================================================
=======================================================*/
// Disabled ion-toggle settins from own
// ion-toggle {
//   --background: var(--cs-background-secondary, #f7f7f7);
//   --background-checked: var(--cs-background-secondary, #f7f7f7);
//   --handle-background: var(--cs-background-secondary, #f7f7f7);
//   --handle-background-checked: var(--cs-background-accent, #0090d0);
// }

/* SETTINGS RADIO
=======================================================
=======================================================*/
ion-radio {
  --color: var(--cs-background-secondary, #f7f7f7);
  --color-checked: var(--cs-background-accent, #0090d0);
}

/* SETTINGS TABS
=======================================================
=======================================================*/
ion-tab-bar {
  --background: var(--cs-background-accent, #0090d0);
}

ion-tab-button {
  --color: rgba(255, 255, 255, 0.432);
  --color-selected: var(--cs-text-primary, #ffffff);
  --ripple-color: #ffffff;

  
}

/* SETTING SEGMENT BUTTON
===========================================
===========================================*/
// ion-segment-button {
//   --ripple-color: transparent;
//   --color: rgba(255, 255, 255, 0.7);
//   --color-checked: var(--cs-text-primary, #ffffff);
// }

/* SETTINGS SEARCHBAR
=======================================================
=======================================================*/
ion-searchbar {
  --background: var(--cs-background-primary, #fff) !important;
  --cancel-button-color: var(--cs-text-secondary, #0090d0) !important;
  --clear-button-color: var(--cs-text-secondary, #0090d0) !important;
  --color: var(--cs-text-secondary, #0090d0) !important;
  --icon-color: var(--cs-text-secondary, #0090d0) !important;
  --placeholder-color: var(--cs-text-secondary, #0090d0) !important;
}

/* SETTINGS RANGE
=======================================================
=======================================================*/
ion-range {
  --knob-background: var(--cs-background-accent, #0090d0);
  --bar-background-active: var(--cs-background-accent, #0090d0);
  --bar-background: var(--cs-background-secondary, #f7f7f7);
  --pin-background: var(--cs-background-accent, #0090d0);
}

/* SETTINGS ION-BADGE
=======================================================
=======================================================*/
ion-badge {
  --background: var(--cs-background-accent, #0090d0);
  --color: var(--cs-text-primary, #ffffff);
}

/* SETTINGS WIZARD
=======================================================
=======================================================*/
cs-wizard-layout-1 {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 50px !important;
  }

  .swiper-pagination-bullet-active {
    --bullet-background: #fff !important;
    background: var(--bullet-background);

  }
}

cs-wizard-layout-2 {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: -35px !important;
  }

  .swiper-pagination-bullet-active {
    background: var(--cs-background-accent, #0090d0);
  }
}

cs-wizard-layout-3 {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 50px !important;
  }

  .swiper-pagination-bullet-active {
    --bullet-background: #fff !important;
    background: var(--bullet-background);

  }
}

cs-wizard-layout-4 {
  .swiper-pagination-bullet-active {
    --bullet-background: #fff !important;
    background: var(--bullet-background);

  }
}

cs-profile-layout-2 {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: -35px !important;
  }

  .swiper-pagination-bullet-active {
    background: var(--cs-background-accent, #0090d0);
  }
}

cs-profile-layout-4 {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: -25px !important;
  }

  .swiper-pagination-bullet-active {
    background: var(--cs-background-accent, #0090d0);
  }
}



/* Black&White Avatar and Image
=======================================================
=======================================================*/

// ion-avatar, ion-thumbnail {
//   -webkit-filter: grayscale(100%);
//     filter: grayscale(100%);
// }

[images-filter] {
  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img {
  object-fit: cover;
}

/* Default Overview Ionic Section
=======================================================
=======================================================*/
[background-size] {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

[background-white] {
  background-color: #fff;
}

[slot=end]{
  margin-inline-start: 0px;
}

[slot=start]{
  margin-inline-end: 16px;
}

[font-bold] {
  font-weight: 900 !important;
}

[border-radius] {
  border-radius: var(--border-radius);
}

[no-box-shadow] {
  box-shadow: none !important;
}

[transparent]{
  --background: transparent;
  background: var(--background)
}

[box-shadow] {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) !important;
  z-index: 999;
}

[clearfix] {
  display: block;
  clear: both;
}


/* Settings Alert Info
================================================
================================================*/
.info-dialog {
  text-align: center;
  .alert-head {
    text-align: center;
    .alert-title {
      font-size: var(--h4-font-size, 14px);
      color: var(--cs-text-secondary, #0090d0) !important;
    }
    .alert-sub-title {
      font-size: var(--h2-font-size, 16px);
      color: var(--cs-text-secondary, #0090d0);
    }
  }
  .alert-message {
    color: var(--cs-text-accent, #455B65) !important;
    font-size: var(--text-font-size, 12px);
  }

  .alert-button-inner {
    color: var(--cs-text-secondary, #0090d0) !important;
  }
}

/* Settings Alert Warning
================================================
================================================*/
.alert-warning {
  .alert-title {
    text-align: center;
    font-size: var(--h4-font-size, 14px);
    color: var(--cs-text-secondary, #0090d0) !important;
  }

  .alert-sub-title {
    text-align: center;
    color: var(--cs-text-secondary, #0090d0);
  }

  .alert-message {
    color: var(--cs-text-accent, #455B65) !important;
    font-size: var(--text-font-size, 12px);
    text-align: center;
  }

  .alert-button-group {
    padding: 8px 0 8px 8px !important;
  }


  button{
    width: 100%;
    margin-bottom: 20px;
    background: var(--cs-background-accent, #0090d0) !important;
    text-align: center;
    color: var(--cs-text-primary, #ffffff) !important;
    display: block;

    .alert-button-inner {
      text-align: center;
      display: block;
    }
  }
}

/* Settings Alert Wrapper
================================================
================================================*/
.select-alert{
  [aria-checked=true].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md,
  [aria-checked=true].sc-ion-alert-ios .alert-radio-icon.sc-ion-alert-ios {
    border-color: var(--cs-text-secondary, #0090d0) !important;
  }

  .alert-radio-inner {
    background-color: var(--cs-background-accent, #0090d0) !important;
  }

  [aria-checked=true].sc-ion-alert-md .alert-checkbox-icon.sc-ion-alert-md,
  [aria-checked=true].sc-ion-alert-ios .alert-checkbox-icon.sc-ion-alert-ios {
    border-color: var(--cs-text-secondary, #0090d0) !important;
    background-color: var(--cs-background-accent, #0090d0) !important;
  }

  .alert-button-inner {
    color: var(--cs-text-secondary, #0090d0) !important;
  }

}

/* Settings Alert Subscribe
================================================
================================================*/
.alert-subscribe {

  .alert-title {
    font-size: var(--h4-font-size, 14px);
    color: var(--cs-text-secondary, #0090d0);
  }

  .alert-sub-title {
    color: var(--cs-text-secondary, #0090d0);
    font-size: var(--h3-font-size, 15px);
  }

  .alert-button-inner {
    color: var(--cs-text-secondary, #0090d0) !important;
  }
}

/* Settings Alert Dialog
================================================
================================================*/
.basic-dialog {
  .alert-head {
    .alert-title {
      font-size: var(--text-size-lg, 16px);
      color: var(--cs-text-secondary, #0090d0) !important;
    }
  }
  .alert-message {
    color: var(--cs-text-accent, #455B65) !important;
    font-size: var(--h4-font-size, 14px);
  }

  .alert-input:focus {
    border-bottom: 1px solid var(--ion-color-primary,#0090d0);
  }
}

/* Settings Spinner
================================================
================================================*/

ion-spinner {
  width: 40px;
  height: 40px;
  color: var(--cs-background-accent, #0090d0) !important;
}

cs-spinner {
  &[svg-size] {
    font-size: 45px;
    color: var(--cs-background-accent, #0090d0) !important;
  }
}
