<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" style="zoom: 1.7" (click)="onBack()"></ion-icon>
    </ion-buttons>
    <ion-title>{{service.requestType}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionClear)="searchText = ''" placeholder="Global Search" name="search" [(ngModel)]="searchText">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content #page>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3" size-md="12" class="ion-no-padding">
        <ion-card class="ion-no-padding ion-box-shadow">
          <ion-card-content>
            <ion-item>
              <ion-label color="primary" position="floating">Contractor Name</ion-label>
              <ion-select interface="action-sheet" (ionChange)="filteredSearch.CONT_NAME = $event.target.value">
                <ion-select-option value="" selected>All</ion-select-option>
                <ion-select-option *ngFor="let contractor of requestData.CONT_NAME" [value]=contractor>{{contractor}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" position="floating">Engineer Name</ion-label>
              <ion-select interface="action-sheet" (ionChange)="filteredSearch.EMP_ENG_NAME = $event.target.value">
                <ion-select-option value="" selected>All</ion-select-option>
                <ion-select-option *ngFor="let engg of requestData.EMP_ENG_NAME" [value]=engg>{{engg}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" position="floating">TaskGroup Name</ion-label>
              <ion-select interface="action-sheet" (ionChange)="filteredSearch.TG_DES = $event.target.value">
                <ion-select-option value="" selected>All</ion-select-option>
                <ion-select-option *ngFor="let tg of requestData.TG_DES" [value]=tg>{{tg}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row
      *ngFor="let request of requestData.RequestList  | filter: searchText | filter: filteredSearch.CONT_NAME | filter: filteredSearch.EMP_ENG_NAME | filter: filteredSearch.TG_DES; index as i">
      <ion-col size="12">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-label color="primary"> {{request.requestId.substring(4, request.requestId.length)}}</ion-label>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-item>
                <ion-label color="primary" position="floating">
                  Contractor Name
                </ion-label>
                <ion-input [readonly]="true" value="{{request.header.CONT_NAME}}"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">
                  Engineer Name
                </ion-label>
                <ion-input [readonly]="true" value="{{request.header.EMP_ENG_NAME}}"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">
                  Department Name
                </ion-label>
                <ion-input [readonly]="true" value="{{request.header.DEPT_DES}}"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">
                  TaskGroup Name
                </ion-label>
                <ion-input [readonly]="true" value="{{request.header.TG_DES}}"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">
                  SOR Name
                </ion-label>
                <ion-input [readonly]="true" value="{{request.header.SOR}}"></ion-input>
                <ion-icon *ngIf="request.header.SOR_DES" (click)="showSORDescription(request.header.SOR_DES)"
                  class="sorIcon" color="primary" name="information-circle-outline"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">
                  Remarks
                </ion-label>
                <ion-textarea [readonly]="true" value="{{request.header.REMARKS}}"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">
                  Quantity
                </ion-label>
                <ion-input type="number" [readonly]="true" [value]="request.header.QUANTITY"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">
                  Amount
                </ion-label>
                <ion-input [readonly]="true" color="success" [value]="'&#x20b9; ' + request.header.AMOUNT">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" position="floating">
                  Completed Date
                </ion-label>
                <ion-input [readonly]="true" value="{{global.getPortalDate(request.header.CMPL_DATE)}}"></ion-input>
              </ion-item>
            </ion-list>
            <ion-row style="text-align: center">
              <ion-col>
                <!-- Attachments -->
                <ion-icon (click)="onViewAttachment(request)" style="zoom: 1.5" color="secondary" name="attach">
                </ion-icon>
              </ion-col>
              <ion-col>
                <!-- Logs -->
                <ion-icon (click)="onViewLogs(request)" style="zoom: 1.5" color="tertiary" name="list-box">
                </ion-icon>
              </ion-col>
            </ion-row>
          </mat-expansion-panel>
        </mat-accordion>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="paginationButtons">
          <ion-icon [hidden]="service.pageDetails.first == true"
            (click)="changePage('decrement'); getRequestWorkitems()" style="zoom: 2.0" mode="ios" name="arrow-back">
          </ion-icon>
          &nbsp; &nbsp;
          Showing {{service.pageNumber + 1}} of {{service.pageDetails.totalPages}} Page(s).
          &nbsp; &nbsp;
          <ion-icon [hidden]="service.pageDetails.last == true" (click)="changePage('increment'); getRequestWorkitems()"
            style="zoom: 2.0" mode="ios" name="arrow-forward"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>