.paginationButtons {
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #cecece solid;
    border-radius: 5px;
}

.sorIcon {
    position: absolute;
    right: 0;
    bottom: 10px;
}