ion-content {
    .upperRect {
        position: fixed;
        top: -3%;
        width: 100%;
    }

    @media screen and( min-width: 768px) and (min-height: 1024px) {
        .upperRect {
            position: fixed;
            top: -12%;
            width: 100%;
        }
        .lowerRect {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: -99999;

            > img {
                position: fixed;
                bottom: -2%;
                width: 100%;
                z-index: 0;
            }
        }

        #lineItemSubmitBtn {
            margin-bottom: 12%;
        }
        .inner-item {
            height: 40rem !important;
        }
    }

    @media screen and (min-width: 1024px) {
        .inner-item {
            height: 55rem !important;
        }
    }

    .lowerRect {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: -99999;
        > img {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 0;
        }
    }

    .header-text {
        position: fixed;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background: linear-gradient(237.78deg, #2196f3 -0.07%, #18dbf5 102.14%), #c4c4c4;
    }

    .header {
        width: 100%;
        z-index: 11;
        color: white;

        #toolbarText {
            font-size: 2.4vh;
        }

        #toolbarBackBtn {
            vertical-align: middle;
            zoom: 1.5;
        }

        #moreOptionsIcon {
            position: absolute;
            right: 1vw;
            zoom: 2;
            top: 0.8vh;
        }
    }

    ion-item {
        --background: transparent;
        --padding: 0;

        ion-label {
            --color: #14637d;
            font-size: initial;
        }

        ion-input {
            --background: #417687;
            --color: white;
            padding-left: 1rem !important;
            font-size: initial;
        }

        ion-textarea {
            --background: #417687;
            --color: white;
            padding-left: 1rem !important;
        }

        ion-select {
            background: #417687;
            color: white;
            padding-left: 1rem !important;
        }
    }

    .formRow {
        margin-top: 10vh; 
    }

    .inner-item {
        height: 70vh;
        overflow-y: scroll;
    }

    #lineItemSubmitBtn {
        margin-top: 1rem;
        --background: linear-gradient(112.1deg, #1bc4f5 0%, #2196f3 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        --color: white;
        z-index: 99999;
    }

    .redAsterix {
        color: red;
    }
}