<ion-content fullscreen>
  <div class="upperRect">
    <img src="assets/svg/background-svg/upper.svg" alt="upper-svg">
  </div>

  <ion-grid>
    <ion-row class="header">
      <ion-col class="ion-no-padding">
        <div class="header-text">
          <h1 id="toolbarText">
            <ion-icon [routerLink]="['/main/requests/gi_process']" id="toolbarBackBtn" mode="md" name="arrow-back">
            </ion-icon> &nbsp;
            New Line Item Entry
          </h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="formRow">
      <ion-col size-lg="6" offset-lg="3" size-md="6" offset-md="3">
        <div class="inner-item">
          <form #lineItemForm="ngForm">
            <ion-item mode="ios" lines="none">
              <ion-label mode="ios" position="stacked">Material <span class="redAsterix">*</span></ion-label>
              <ion-input (click)="openMaterialSearchHelp(lineItem.MATNR)" [readonly]="true" [(ngModel)]="lineItem.MATNR"
                name="material" #material mode="ios" placeholder="Select Material" required></ion-input>
            </ion-item>
            <ion-item mode="ios" lines="none">
              <ion-label mode="ios" position="stacked">Material Description <span class="redAsterix">*</span>
              </ion-label>
              <ion-textarea (click)="global.displayToastMessage('Select Material to get Material Description.')"
                [readonly]="true" [(ngModel)]="lineItem.MAT_DES" name="materialDesc" #materialDesc mode="ios"
                placeholder="Material Description" rows="1" autoGrow="true" required></ion-textarea>
            </ion-item>
            <ion-item mode="ios" lines="none">
              <ion-label mode="ios" position="stacked">Plant <span class="redAsterix">*</span></ion-label>
              <ion-input [readonly]="true" [(ngModel)]="lineItem.PLANT_DES"
                (click)="global.displayToastMessage('Select Material to get Plant.')" name="plant" #plant mode="ios"
                placeholder="Select Plant" required>
              </ion-input>
            </ion-item>
            <ion-item mode="ios" lines="none">
              <ion-label mode="ios" position="stacked">Storage Location <span class="redAsterix">*</span></ion-label>
              <ion-input [readonly]="true" (click)="openStorageLocationSearchHelp(lineItem.LGORT)"
                [(ngModel)]="lineItem.STORAGE_DES" name="slocbin" #slocbin mode="ios"
                placeholder="Select Storage Location" required>
              </ion-input>
            </ion-item>
            <ion-item mode="ios" lines="none">
              <ion-label mode="ios" position="stacked">UOM <span class="redAsterix">*</span></ion-label>
              <ion-input [readonly]="true"
                (click)="global.displayToastMessage('Select Material First to get Unit details.')"
                [(ngModel)]="lineItem.MEINS" name="unit" #unit mode="ios" placeholder="Unit" required>
              </ion-input>
            </ion-item>
            <ion-item mode="ios" lines="none" *ngIf="specialStock">
              <ion-label mode="ios" position="stacked">Special Stock</ion-label>
              <ion-input [(ngModel)]="specialStock" name="specialStockInput" #specialStockInput (click)="selectSpecialStock(lineItem.SOBKZ)"
                mode="ios" placeholder="Enter Special Stock" type="text" readonly="true" required>
              </ion-input>
            </ion-item><ion-item mode="ios" lines="none" *ngIf="lineItem.SOBKZ === 'K'">
              <ion-label mode="ios" position="stacked">Vendor Code</ion-label>
              <ion-input [(ngModel)]="lineItem.VENDOR_NAME" name="vendor" #vendor (click)="selectVendorCode(lineItem.VENDOR_CODE)"
                mode="ios" placeholder="Enter Vendor Code" type="text" readonly="true" required>
              </ion-input>
            </ion-item>
            <ion-item mode="ios" lines="none">
              <ion-label mode="ios" position="stacked">Batch</ion-label>
              <ion-input [(ngModel)]="lineItem.CHARG" name="batch" #batch (click)="selectBatch(lineItem.CHARG)"
                mode="ios" placeholder="Enter Batch" type="text" readonly="true">
              </ion-input>
            </ion-item>
            <ion-item mode="ios" lines="none">
              <ion-label mode="ios" position="stacked">Door Delivery Point <span
                  *ngIf="service.movementTypeinHeader === '201'" class="redAsterix">*</span></ion-label>
              <ion-input type="text" name="doorDeliveryPoint" #doorDeliveryPoint mode="ios" autocomplete="on"
                placeholder="Select Door Delivery Point" [(ngModel)]="lineItem.ABLAD" maxLength="25"
                required="{{service.movementTypeinHeader === '201'}}">
              </ion-input>
            </ion-item>
            <ion-item mode="ios" lines="none">
              <ion-label mode="ios" position="stacked">Item Text</ion-label>
              <ion-textarea rows="1" [autoGrow]="true" [(ngModel)]="lineItem.SGTXT" name="itemText" #itemText mode="ios"
                maxLength="50" placeholder="Enter Item Text" type="text" (ionChange)="itemTextValidation($event)">
              </ion-textarea>
            </ion-item>
            <ion-row>
              <ion-col size="6">
                <ion-item mode="ios" lines="none">
                  <ion-label mode="ios" position="stacked">Res. Qty. <span class="redAsterix">*</span></ion-label>
                  <ion-input (ionBlur)="onReserveQtyChange()" (ionChange)="calculateReserveValue($event)" type="number"
                    min="1" name="reserveQty" #reserveQty mode="ios" [(ngModel)]="lineItem.ERFMG"
                    placeholder="Enter Res. Qty." required></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item mode="ios" lines="none">
                  <ion-label mode="ios" position="stacked">Rev. Value</ion-label>
                  <ion-input type="number" [(ngModel)]="lineItem.BDMNG" min="0" name="reserveValue" #reserveValue
                    mode="ios" [readonly]="true"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </form>
        </div>
        <ion-button [disabled]="!lineItem.MATNR" (click)="openStockCheckModal()" expand="full"
          id="lineItemSubmitBtn">Stock Check
          <ion-icon name="stats"></ion-icon>
        </ion-button>
        <ion-button [disabled]="lineItemForm.invalid" (click)="submitLineItem(lineItemForm)" expand="full"
          id="lineItemSubmitBtn">Save Line Item
          <ion-icon name="bookmark"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="lowerRect">
    <img src="assets/svg/background-svg/lower.svg" alt="lower-svg">
  </div>
</ion-content>