<ion-content transparent background-size
  [ngStyle]="{ 'background-image': 'linear-gradient(0deg, #0566a0 0%, #81d8ff 100%)' }">
  <ion-grid class="ion-padding">
    <ion-row class="ion-align-items-center">
      <ion-col background-white class="padding ion-margin-top ion-margin-bottom" border-radius box-shadow size="12"
        size-md="10" push-md="1" class="animated fadeInUp">
        <form #loginForm="ngForm">
          <ion-img class="ion-margin-top" src="./../assets/imgs/tcl.png"></ion-img>
          <!---Input field username-->
          <form #accountIdForm="ngForm"></form>
          <div *ngIf="isUpdated" class="animated fadeInRight">
            <ion-item class="no-padding" transparent input>
              <ion-label [color]="email.touched && !email.valid ? 'danger' : 'primary'" text-size-xs
                position="floating">
                UserID*</ion-label>
              <ion-input #email="ngModel" name="email" required type="text"
                (keypress)="onKeyPress($event.keyCode, loginForm)" [(ngModel)]="data.username"></ion-input>
            </ion-item>
            <!---Input field password-->
            <ion-item class="no-padding" transparent input>
              <ion-label [color]="
                  password.touched && !password.valid ? 'danger' : 'primary'
                " text-size-xs position="floating">Password*</ion-label>
              <ion-input #password="ngModel" name="password" (keypress)="onKeyPress($event.keyCode, loginForm)" required
                [type]="passwordType || 'password'" [(ngModel)]="data.password"></ion-input>
              <ion-icon color="primary" slot="end" (click)="togglePasswordType()" class="eye-icon"
                [name]="passwordType === 'text' ? 'eye' : 'eye-off'">
              </ion-icon>
            </ion-item>
            <div clearfix></div>
            <!-- <br /> -->
            <div style="text-align: center">
              <ion-label *ngIf="email.touched && !email.valid
              " color="danger">Username cannot be empty!</ion-label><br>
              <ion-label *ngIf="password.touched && !password.valid" color="danger">Password cannot be empty!
              </ion-label>
            </div>
            <ion-row class="ion-margin-top">
              <ion-col size="6" offset="3" class="no-padding" style="margin-top: 5px;">
                <!-- (click)="onSubmit(loginForm)" -->
                <ion-button (click)="onSubmit(loginForm)" [disabled]="loginForm.invalid" button-round shape="round"
                  expand="full" fill="outline">Login</ion-button>
                <ion-button (click)="googleSignIn()" class="ion-margin-top" button-round shape="round" expand="full" fill="outline">
                  Sign in with&nbsp;<img style="width: 15px;" src="assets/imgs/google-sign-in.png">
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="!isUpdated" style="text-align: center;">
            <p>Please Update the application from Playstore.</p>
          </div>
        </form>
      </ion-col>
      <!---End Share Section-->
    </ion-row>
  </ion-grid>
  <div class="branding">
    <p>&copy; Powered by SmartDocs Inc. {{currentYear}} <br> All rights reserved.</p>
  </div>
</ion-content>