<ion-app>
  <ion-router-outlet [ngClass]="{'blurBg': loading}"></ion-router-outlet>
  <!-- <div class="loadingSpinner" *ngIf="loading">
    <ion-spinner style="zoom: 1.5" color="dark"></ion-spinner>
  </div> -->
  <div class="loadingSpinner" *ngIf="loading">
    <div id="spinnerContainer">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
</ion-app>