<ion-header>
  <ion-toolbar>
    <ion-title>Document Change History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-padding" color="primary" *ngIf="filedDetails.property.length == 0">
    <h5 style="text-align: center;">Changed Details are not available</h5>
  </ion-text>
  <ion-card *ngFor="let key of filedDetails.property; index as i">
    <ion-card-header color="primary">
      <ion-card-title style="text-align: center">{{key}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <table mat-table [dataSource]="filedDetails.values[i]" class="mat-elevation-z8">

        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef> Order </th>
          <td mat-cell *matCellDef="let data"> {{data.sequence}} </td>
        </ng-container>


        <ng-container matColumnDef="olddata" *ngIf="data.requestType == 'MM_CHANGE'">
          <th mat-header-cell *matHeaderCellDef> Old Data </th>
          <td mat-cell *matCellDef="let data"> {{data.filedPreviousValue}} </td>
        </ng-container>


        <ng-container matColumnDef="changeddata" *ngIf="data.requestType == 'MM_CHANGE'">
          <th mat-header-cell *matHeaderCellDef> Changed Data </th>
          <td mat-cell *matCellDef="let data"> {{data.filedNewValue}} </td>
        </ng-container>

        <ng-container matColumnDef="to" *ngIf="data.requestType != 'MM_CHANGE'">
          <th mat-header-cell *matHeaderCellDef> To </th>
          <td mat-cell *matCellDef="let data"> {{data.filedNewValue}} </td>
        </ng-container>


        <ng-container matColumnDef="from" *ngIf="data.requestType != 'MM_CHANGE'">
          <th mat-header-cell *matHeaderCellDef> From </th>
          <td mat-cell *matCellDef="let data"> {{data.filedPreviousValue}} </td>
        </ng-container>

        <ng-container matColumnDef="by">
          <th mat-header-cell *matHeaderCellDef> By </th>
          <td mat-cell *matCellDef="let data"> {{data.createdBy}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button expand="full" fill="clear" color="primary" (click)="modalController.dismiss()">Back</ion-button>
</ion-footer>