<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="modalController.dismiss()">
      <ion-icon name="arrow-back" style="zoom: 1.7"></ion-icon>
    </ion-buttons>
    <ion-title *ngIf="selector !== 'storage'">Select <span style="text-transform: capitalize;">{{selector}}</span></ion-title>
    <ion-title *ngIf="selector === 'storage'">Select Storage Location</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar #searchbar (ionClear)="applyFilter('')" (keyup)="applyFilter($event.target.value)" placeholder="Search By {{selector === 'storage' ? 'Storage Location' : 'Batch'}}"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table *ngIf="tableData.data.length !== 0 && selector === 'plant'" mat-table [dataSource]="tableData" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="plant">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Plant</th>
      <td mat-cell *matCellDef="let element"> {{element.plant}} </td>
    </ng-container>

    <ng-container matColumnDef="plantDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Plant Description</th>
      <td mat-cell *matCellDef="let element"> {{element.plantDescription}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dataHeaders; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: dataHeaders;" (click)="getSelectedListItem(row)"></tr>

  </table>

  <table *ngIf="tableData.data.length !== 0 && selector === 'storage'" mat-table [dataSource]="tableData" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="storageLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Storage Location</th>
      <td mat-cell *matCellDef="let element"> {{element.LGORT_D}} </td>
    </ng-container>

    <ng-container matColumnDef="storageDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Storage Location Description</th>
      <td mat-cell *matCellDef="let element"> {{element.STRG}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dataHeaders; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: dataHeaders;" (click)="getSelectedListItem(row)"></tr>

  </table>

  <table *ngIf="tableData.data.length !== 0 && selector === 'storageFromLineItem'" mat-table [dataSource]="tableData" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="storageLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Storage Location</th>
      <td mat-cell *matCellDef="let element"> {{element.storageLocation}} </td>
    </ng-container>

    <ng-container matColumnDef="storageDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Storage Location Description</th>
      <td mat-cell *matCellDef="let element"> {{element.storageDescription}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dataHeaders; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: dataHeaders;" (click)="getSelectedListItem(row)"></tr>

  </table>

  <table *ngIf="tableData.data.length !== 0 && selector === 'batch'" mat-table [dataSource]="tableData" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="materialNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Material No.</th>
      <td mat-cell *matCellDef="let element"> {{element.materialNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="batchNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Batch No.</th>
      <td mat-cell *matCellDef="let element"> {{element.batchNumber}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dataHeaders; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: dataHeaders;" (click)="getSelectedListItem(row)"></tr>

  </table>

  <table *ngIf="tableData.data.length !== 0 && selector === 'specialStock'" mat-table [dataSource]="tableData" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="SOBKZ">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Special Stock Code</th>
      <td mat-cell *matCellDef="let element"> {{element.SOBKZ}} </td>
    </ng-container>

    <ng-container matColumnDef="SOTXT">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Special Stock Des.</th>
      <td mat-cell *matCellDef="let element"> {{element.SOTXT}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dataHeaders; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: dataHeaders;" (click)="getSelectedListItem(row)"></tr>

  </table>

  <div *ngIf="tableData.data.length === 0" class="noData">
    <ion-text color="primary">No Data.</ion-text>
  </div>
</ion-content>