<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="modalController.dismiss()">
      <ion-icon name="arrow-back" style="zoom: 1.7"></ion-icon>
    </ion-buttons>
    <ion-title>Select Department</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar #searchbar (ionClear)="applyFilter('')" (keyup)="applyFilter($event.target.value)" placeholder="Search by Department"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table *ngIf="tableData.data.length !== 0" mat-table [dataSource]="tableData" matSort class="mat-elevation-z8">

    <ng-container *ngFor="let header of dataHeaders" matColumnDef="{{header}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{displayHeaderFields[header]}}</th>
      <td mat-cell *matCellDef="let element"> {{element[header]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dataHeaders; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: dataHeaders;" (click)="getSelectedListItem(row)"></tr>

  </table>
  <div *ngIf="tableData.data.length === 0 && isLoadedFirstTime" class="noData">
    <ion-text color="primary">No Data.</ion-text>
  </div>
</ion-content>