<ion-content fullscreen>
  <div class="upperRect">
    <img src="assets/svg/background-svg/upper.svg" alt="upper-svg">
  </div>
  <div class="lowerRect">
    <img src="assets/svg/background-svg/lower.svg" alt="lower-svg">
  </div>
  <form #goodsIssueForm="ngForm">
    <ion-grid fixed>
      <ion-row class="header">
        <ion-col class="ion-no-padding">
          <div class="header-text">
            <h1 id="toolbarText">
              <ion-icon (click)="onBack()" id="toolbarBackBtn" mode="md" name="arrow-back">
              </ion-icon>
              &nbsp;
              {{requestData.requestId}}
            </h1>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="segmentRow">
        <ion-col size="12" class="ion-no-padding">
          <ion-segment #segments name="segment" (ionChange)="segmentChanged()" [(ngModel)]="segment" value="0"
            mode="md">
            <ion-segment-button mode="md" value="0">
              <ion-label>Details</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="1">
              <ion-label>Attachments</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="2">
              <ion-label>Logs</ion-label>
            </ion-segment-button>
          </ion-segment>
          <div class="overflowContainer">
            <ion-slides #slides [options]="slideOpts" scrollbar="false">
              <!-- Header Details -->
              <ion-slide>
                <div class="overflowSlideContainer">
                  <ion-row class="slideInitialRow">
                    <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                      <div class="headerDetails">
                        <ion-row>
                          <ion-col size="7">
                            <div class="{{currentStatusCssClass}}">
                              {{currentStatus}}</div>
                          </ion-col>
                          <ion-col size="5">
                            <ion-text style="float: right; font-size: small;">
                              {{global.getPortalDate(lastActivity)}}
                            </ion-text>
                          </ion-col>
                        </ion-row>
                        <ion-item *ngIf="requestData.header.KSCHL_DESC">
                          <ion-label class="headerLabels">
                            <p>Condition Type</p>
                            <h2 style="font-weight: bold;">{{requestData.header.KSCHL_DESC}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.TYP_DICS">
                          <ion-label class="headerLabels">
                            <p>Discount Type</p>
                            <h2 style="font-weight: bold;">{{requestData.header.TYP_DICS}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.APP_NOTE">
                          <ion-label class="headerLabels">
                            <p>Is Approval Note for Previous Month?</p>
                            <h2 style="font-weight: bold;">{{requestData.header.APP_NOTE == 'YES' ? 'YES' : 'NO'}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.DATAB">
                          <ion-label class="headerLabels">
                            <p>Valid From</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">
                              {{global.getPortalDate(requestData.header.DATAB)}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.DATBI">
                          <ion-label class="headerLabels">
                            <p>Valid Till</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">
                              {{global.getPortalDate(requestData.header.DATBI)}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.CONDCURR">
                          <ion-label class="headerLabels">
                            <p>Currency</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">{{requestData.header.CONDCURR}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.SALES_GROUP">
                          <ion-label class="headerLabels">
                            <p>Sales Group</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">
                              {{requestData.header.SALES_GROUP}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.SALES_OFFICE">
                          <ion-label class="headerLabels">
                            <p>Sales Office</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">
                              {{requestData.header.SALES_OFFICE}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.REGION">
                          <ion-label class="headerLabels">
                            <p>Region</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">
                              {{requestData.header.REGION}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.VKORG">
                          <ion-label class="headerLabels">
                            <p>Sales Organization</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.VKORG}} - {{requestData.header.salesorg_desc}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.VTWEG">
                          <ion-label class="headerLabels">
                            <p>Distribution Channel</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.VTWEG}} - {{requestData.header.distchannel_desc}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.SPART">
                          <ion-label class="headerLabels">
                            <p>Division</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.SPART}} - {{requestData.header.division_desc}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.SHIP_TO">
                          <ion-label class="headerLabels">
                            <p>All Ship To Party</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.SHIP_TO == 'Y' ? 'YES' : 'NO'}}
                            </h2>
                          </ion-label>
                        </ion-item>
                      </div>
                      <div class="otherDetails">
                        <ion-grid>
                          <ion-row *ngIf="isCancelled()">
                            <ion-col size="12">
                              <ion-text class="smallFontText">
                                <b>*NOTE :</b> This Credit Memo No. is cancelled.
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.KNUMA">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Rebate Agreement No.
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.KNUMA}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.CRE_MEMO">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Credit Memo No.
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.CRE_MEMO}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.CREDIT_NOTE_NUMBER">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Credit Note No.
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.CREDIT_NOTE_NUMBER}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.BILL_TYPE">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Bill Type
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.BILL_TYPE}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.discountToBeSettle">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Discount To Be Settled
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.discountToBeSettle}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.DISC_FOR">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Discount for Supplies
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.DISC_FOR}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.settlementCondition">
                            <ion-col size="6">
                              <ion-text class="smallFontText">
                                Settlement Condition
                              </ion-text>
                            </ion-col>
                            <ion-col size="6">
                              <ion-text class="smallFontTextBold">
                                {{requestData.header.settlementCondition}}
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.ABREX">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>Brief Justification</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.ABREX}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.detailsofanyotherdiscount">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>Details of any other discounts during current year</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.detailsofanyotherdiscount}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.PO_TEXT || requestData.header.POTEXT">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>PO Text</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.PO_TEXT || requestData.header.POTEXT}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                      <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <ion-label>Customer Details</ion-label>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <ion-item *ngIf="requestData.header.BONEM">
                            <ion-label class="headerLabels">
                              <p>Payer Details</p>
                              <u>
                                <h2 class="ion-text-wrap" style="font-weight: bold;">{{requestData.header.BONEM}}</h2>
                              </u>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{requestData.header.PayerName}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="rebateShiptoParty.length > 0">
                            <ion-label class="headerLabels">
                              <p>Ship To Party Details</p>
                              <div *ngFor="let item of rebateShiptoParty">
                                <u>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">{{item.party_code}}</h2>
                                </u>
                                <h2 class="ion-text-wrap" style="font-weight: bold;">{{item.party_name}}</h2>
                              </div>
                            </ion-label>
                          </ion-item>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <ion-label>Material Group & Additional Details</ion-label>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <ion-row *ngIf="requestData.header.MAKTL">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>Material Group</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.MAKTL}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.EstimatedQty">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>Estimated Qty</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.EstimatedQty}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.DiscountRate">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>Discount Rate</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.DiscountRate}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.TotalDiscount">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>Total Discount</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{getAmount(requestData.header.TotalDiscount)}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.qtySoldLastYear">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>Qty Sold Last Year</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.qtySoldLastYear}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.frieghtDifference">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>Freight Difference</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.frieghtDifference}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.gsrmt">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>GSR/MT</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.gsrmt}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.pcd">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>PCD</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.pcd}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.cd">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>CD</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.cd}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.frieghtSub">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>Freight Sub</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.frieghtSub}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.ippd">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>IPPD</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.ippd}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.specialDisc">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>Special Disc</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.specialDisc}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.nsrmt">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>NSR/MT</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.nsrmt}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.others">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>Others</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.others}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.quantityDisc">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>Quantity Discount</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.quantityDisc}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="requestData.header.qtyDiscountLastYear">
                            <ion-col size="12">
                              <ion-item>
                                <ion-label class="headerLabels">
                                  <p>Quantity Disc. Last Year</p>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">
                                    {{requestData.header.qtyDiscountLastYear}}
                                  </h2>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </mat-expansion-panel>
                        <mat-expansion-panel *ngFor="let item of requestData.lineItems; index as i">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <ion-label>Lineitem no. {{i+1}}</ion-label>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div *ngIf="requestData.requestType == 'REB_CRE_MEMO'">
                            <ion-item>
                              <ion-label class="headerLabels">
                                <p>Payer Details</p>
                                <u>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">{{item.lineItems.BONEM}}</h2>
                                </u>
                                <h2 class="ion-text-wrap" style="font-weight: bold;">{{requestData.header.PayerName}}
                                </h2>
                              </ion-label>
                            </ion-item>
                            <ion-item>
                              <ion-label class="headerLabels">
                                <p>Ship To Party Details</p>
                                <u>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">{{item.lineItems.KUNWE}}</h2>
                                </u>
                                <h2 class="ion-text-wrap" style="font-weight: bold;">
                                  {{getShipToPartyname(item.lineItems.KUNWE)}}</h2>
                              </ion-label>
                            </ion-item>
                            <ion-item>
                              <ion-label class="headerLabels">
                                <p>Bill Type</p>
                                <h2 class="ion-text-wrap" style="font-weight: bold;">{{item.lineItems.FKART}}</h2>
                              </ion-label>
                            </ion-item>
                            <ion-item>
                              <ion-label class="headerLabels">
                                <p>Material</p>
                                <h2 class="ion-text-wrap" style="font-weight: bold;">{{item.lineItems.MATNR}}</h2>
                              </ion-label>
                            </ion-item>
                            <ion-item>
                              <ion-label class="headerLabels">
                                <p>Material Group</p>
                                <h2 class="ion-text-wrap" style="font-weight: bold;">{{requestData.header.MAKTL}}</h2>
                              </ion-label>
                            </ion-item>
                            <ion-item>
                              <ion-label class="headerLabels">
                                <p>Amount Accrued</p>
                                <h2 class="ion-text-wrap" style="font-weight: bold;">
                                  {{getAmount(item.lineItems.PAY_ACCR)}}</h2>
                              </ion-label>
                            </ion-item>
                            <ion-item>
                              <ion-label class="headerLabels">
                                <p>Amount to be Settled</p>
                                <h2 class="ion-text-wrap" style="font-weight: bold;">{{getAmount(item.lineItems.BZWRT)}}
                                </h2>
                              </ion-label>
                            </ion-item>
                          </div>
                          <div *ngIf="requestData.requestType == 'REB_DRCT_CM'">
                            <ion-item>
                              <ion-label class="headerLabels">
                                <p>Material Details</p>
                                <u>
                                  <h2 class="ion-text-wrap" style="font-weight: bold;">{{item.lineItems.MATNR}}</h2>
                                </u>
                                <h2 class="ion-text-wrap" style="font-weight: bold;">{{item.lineItems.MAKTX}}</h2>
                              </ion-label>
                            </ion-item>
                            <ion-item>
                              <ion-label class="headerLabels">
                                <p>Plant</p>
                                <h2 class="ion-text-wrap" style="font-weight: bold;">{{item.lineItems.WERKS}}
                                </h2>
                              </ion-label>
                            </ion-item>
                            <ion-item>
                              <ion-label class="headerLabels">
                                <p>Quantity</p>
                                <h2 class="ion-text-wrap" style="font-weight: bold;">{{getAmount(item.lineItems.ZMENG)}}
                                </h2>
                              </ion-label>
                            </ion-item>
                            <ion-item>
                              <ion-label class="headerLabels">
                                <p>Discount Rate</p>
                                <h2 class="ion-text-wrap" style="font-weight: bold;">
                                  {{getAmount(item.lineItems.discountRate)}}
                                </h2>
                              </ion-label>
                            </ion-item>
                            <ion-item>
                              <ion-label class="headerLabels">
                                <p>Amount to be Paid</p>
                                <h2 class="ion-text-wrap" style="font-weight: bold;">{{getAmount(item.lineItems.NETWR)}}
                                </h2>
                              </ion-label>
                            </ion-item>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                      <ion-grid class="ion-no-padding" fixed>
                        <ion-row class="ion-no-padding ion-justify-content-center ion-align-items-center">
                          <ion-col size="12" class="ion-text-center">
                            <ion-button color="danger" mode="ios" shape="round" size="medium" *ngIf="!validating"
                              (click)="checkDuplicationOfRecords()">
                              Validate &nbsp;
                              <ion-icon *ngIf="!isValidate" name="clipboard"></ion-icon>
                              <ion-icon mode="md" *ngIf="isValidate" name="checkmark">
                              </ion-icon>
                            </ion-button>
                            <ion-button mode="ios" fill="clear" size="medium" *ngIf="validating">
                              <ion-icon mode="md" slot="icon-only" class="animated rotateOut infinite" name="close">
                              </ion-icon>
                            </ion-button>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-slide>
              <!-- Attachment Slide -->
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <div class="attachmentBox">
                      <div *ngIf="requestData.attachments === null">
                        <ion-text style="font-size: small;">Attachment doesn't exist for this request</ion-text>
                      </div>
                      <div *ngIf="requestData.attachments !== null">
                        <ion-text style="font-size: small;" *ngIf="requestData.attachments.length === 0">Attachment
                          doesn't exist for this request
                        </ion-text>
                        <div *ngIf="requestData.attachments.length > 0">
                          <h5 style="margin: 0;">Attachments</h5>
                          <ion-row *ngFor="let attachment of requestData.attachments; index as i">
                            <ion-col size="12">
                              <ion-text (click)="onViewFile(attachment)" color="primary"
                                style="float: left; font-size: medium;">
                                {{i+1}}. {{global.setAttachmentName(attachment.fileName)}}
                                ({{global.getBytesConversion(attachment.fileSize, 2)}})</ion-text>
                            </ion-col>
                          </ion-row>
                        </div>
                      </div>
                    </div>
                    <p style="font-size: small;" *ngIf="attachments.images.length > 0 || attachments.files.length > 0">
                      Total Attachments:
                      {{(attachments.images.length) + (attachments.files.length)}}</p>
                  </ion-col>
                </ion-row>
              </ion-slide>
              <!-- Logs Slide -->
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <ion-item
                      *ngIf="requestData.requestType == 'REB_CRE_MEMO' || requestData.requestType == 'REB_DRCT_CM'">
                      <ion-label color="primary">{{requestData.requestType == 'REB_CRE_MEMO' ? 'Rebate' : 'Direct'}}
                        Settlement Log Details</ion-label>
                    </ion-item>
                    <div class="logsBox">
                      <ion-card *ngFor="let log of requestData.logs.slice().reverse()">
                        <ion-row>
                          <ion-col size="12">
                            <ion-text style="float: left;">Action Taken:&nbsp;
                              <span
                                class="{{global.getColorTextClass(global.getLogTextBasedOnActivity(log.activityText))}}">
                                {{global.getLogTextBasedOnActivity(log.activityText)}}
                              </span>
                            </ion-text>
                          </ion-col>
                        </ion-row>
                        <ion-item transparent class="ion-no-padding" lines="none">
                          <ion-avatar slot="start">
                            <img src="assets/imgs/user.png">
                          </ion-avatar>
                          <ion-label class="ion-text-wrap">
                            <h2 text-size-md class="ion-text-wrap">User: <span
                                style="color: #31a5db;">{{log.actualUser}}</span></h2>
                            <h3 class="ion-text-wrap" text-size-sm>{{log.comments}}</h3>
                          </ion-label>
                        </ion-item>
                        <ion-row>
                          <ion-col size="12">
                            <ion-text style="float: left;">Sent on:&nbsp;
                              <span style="font-weight: bold; color: black;">{{global.getPortalDate(log.endDate)}}
                                {{global.getPortalTime(log.endTime)}}</span>
                            </ion-text>
                          </ion-col>
                        </ion-row>
                      </ion-card>
                    </div>
                    <ion-item
                      *ngIf="requestData.requestType == 'REB_CRE_MEMO' || requestData.requestType == 'REB_DRCT_CM'">
                      <ion-label color="primary">Approval Note Log Details</ion-label>
                    </ion-item>
                    <ion-text
                      *ngIf="!refWorkitemInfo && (requestData.requestType == 'REB_CRE_MEMO' || requestData.requestType == 'REB_DRCT_CM')"
                      color="secondary">No logs available</ion-text>
                    <div class="logsBox" *ngIf="refWorkitemInfo">
                      <ion-card *ngFor="let log of refWorkitemInfo.logs.slice().reverse()">
                        <ion-row>
                          <ion-col size="12">
                            <ion-text style="float: left;">Action Taken:&nbsp;
                              <span
                                class="{{global.getColorTextClass(global.getLogTextBasedOnActivity(log.activityText))}}">
                                {{global.getLogTextBasedOnActivity(log.activityText)}}
                              </span>
                            </ion-text>
                          </ion-col>
                        </ion-row>
                        <ion-item transparent class="ion-no-padding" lines="none">
                          <ion-avatar slot="start">
                            <img src="assets/imgs/user.png">
                          </ion-avatar>
                          <ion-label class="ion-text-wrap">
                            <h2 text-size-md class="ion-text-wrap">User: <span
                                style="color: #31a5db;">{{log.actualUser}}</span></h2>
                            <h3 class="ion-text-wrap" text-size-sm>{{log.comments}}</h3>
                          </ion-label>
                        </ion-item>
                        <ion-row>
                          <ion-col size="12">
                            <ion-text style="float: left;">Sent on:&nbsp;
                              <span style="font-weight: bold; color: black;">{{global.getPortalDate(log.endDate)}}
                                {{global.getPortalTime(log.endTime)}}</span>
                            </ion-text>
                          </ion-col>
                        </ion-row>
                      </ion-card>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-slide>
            </ion-slides>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>