<ion-content fullscreen>
  <div class="upperRect">
    <img src="assets/svg/background-svg/upper.svg" alt="upper-svg">
  </div>
  <form #goodsIssueForm="ngForm" ngNativeValidate>
    <ion-grid fixed>
      <ion-row class="header">
        <ion-col class="ion-no-padding">
          <div class="header-text">
            <h1 id="toolbarText">
              <ion-icon (click)="onBack()" id="toolbarBackBtn" mode="md" name="arrow-back"></ion-icon>
              &nbsp;
              Create Reservation
            </h1>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="segmentRow">
        <ion-col size="12" class="ion-no-padding">
          <ion-segment #segments name="segment" (ionChange)="segmentChanged()" [(ngModel)]="segment" mode="md">
            <ion-segment-button mode="md" value="0">
              <ion-label>Header</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="1">
              <ion-label>Items</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="2">
              <ion-label>Attachment</ion-label>
            </ion-segment-button>
          </ion-segment>
          <div class="overflowContainer">
            <ion-slides #slides [options]="slideOpts" scrollbar="false">
              <!-- Header Details -->
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <ion-row>
                      <ion-col style="padding-top: 0" class="ion-padding" size="12">
                        <div class="customInput animated fadeInUp">
                          <ion-row>
                            <ion-col class="inputContainer reservationFieldInput" size="10">
                              <ion-input class="ion-no-padding" (click)="reservationSync()"
                                [value]="this.reservationNumber" [readonly]="true" placeholder="Search Reservation No.">
                              </ion-input>
                            </ion-col>
                            <ion-col class="iconContainer submitReservationBtn">
                              <ion-icon mode="md" name="arrow-forward"></ion-icon>
                            </ion-col>
                          </ion-row>
                        </div>
                        <div class="separator">OR</div>
                        <div class="customInput animated fadeInUp">
                          <ion-text>Goods Recipient <span class="redAsterix">*</span></ion-text>
                          <ion-row>
                            <ion-col class="iconContainer" size="2">
                              <img src="assets/svg/man.svg">
                            </ion-col>
                            <ion-col class="inputContainer" size="10">
                              <ion-input *ngIf="recipient" class="ion-no-padding" [readonly]="true" #recipeint
                                name="recipeint" [value]="recipient.firstName + ' ' + recipient.lastName" type="text"
                                placeholder="Enter Recipient">
                              </ion-input>
                            </ion-col>
                          </ion-row>
                        </div>
                        <div class="customInput animated fadeInUp">
                          <ion-text>Reservation Date</ion-text>
                          <ion-row>
                            <ion-col class="iconContainer" size="2">
                              <img src="assets/svg/calendar.svg">
                            </ion-col>
                            <ion-col class="inputContainer" style="padding-left: 0;" size="10">
                              <ion-datetime class="ion-no-padding" mode="md" [(ngModel)]="reservationDate"
                                name="reservation" #reservation displayFormat="MMM-DD-YYYY" [min]="currentDate"
                                [max]="aheadDate" placeholder="Pick A Date *" required disabled>
                              </ion-datetime>
                            </ion-col>
                          </ion-row>
                        </div>
                        <!-- Plant -->
                        <div class="customInput animated fadeInUp">
                          <ion-text>Plant <span class="redAsterix">*</span></ion-text>
                          <ion-row>
                            <ion-col class="iconContainer" size="2">
                              <img src="assets/svg/plant.svg">
                            </ion-col>
                            <ion-col class="inputContainer" size="10">
                              <ion-textarea class="ion-no-padding" [readonly]="true" [(ngModel)]="header.PLANT_DES"
                                name="plant" #plant (click)="openSearchHelp('Plant', '')" readonly="true" type="text"
                                placeholder="Select Plant" required rows="1" [autoGrow]="true">
                              </ion-textarea>
                            </ion-col>
                          </ion-row>
                        </div>
                        <!-- Movement Type -->
                        <div class="customInput animated fadeInUp">
                          <ion-text>Movement Type <span *ngIf="header.BWART">({{header.BWART}})</span> <span
                              class="redAsterix">*</span></ion-text>
                          <ion-row>
                            <ion-col class="iconContainer" size="2">
                              <img src="assets/svg/traced.svg">
                            </ion-col>
                            <ion-col class="inputContainer" size="10">
                              <ion-textarea class="ion-no-padding" [readonly]="true" [(ngModel)]="header.MVT_DES"
                                name="movementType" #movementType (click)="openMovementTypeSearchHelp(header.BWART)"
                                readonly="true" type="text" placeholder="Select Movement Type" required rows="1"
                                [autoGrow]="true">
                              </ion-textarea>
                            </ion-col>
                          </ion-row>
                        </div>
                        <!-- Department -->
                        <div class="customInput animated fadeInUp">
                          <ion-text>Department <span class="redAsterix">*</span></ion-text>
                          <ion-row>
                            <ion-col class="iconContainer" size="2">
                              <img src="assets/svg/work.svg">
                            </ion-col>
                            <ion-col class="inputContainer" size="10">
                              <ion-textarea class="ion-no-padding" [readonly]="true" [(ngModel)]="header.DEPT_NAME"
                                name="department" #department (click)="openDepartmentSearchHelp(header.DEPT_ID)"
                                readonly="true" type="text" placeholder="Select Department" required rows="1"
                                [autoGrow]="true">
                              </ion-textarea>
                            </ion-col>
                          </ion-row>
                        </div>
                        <!-- GL Account -->
                        <div *ngIf="header.BWART === '201' || header.BWART === '202'"
                          class="customInput animated fadeInUp">
                          <ion-text>GL Account</ion-text>
                          <ion-row>
                            <ion-col class="iconContainer" size="2">
                              <img src="assets/svg/glaccount.svg">
                            </ion-col>
                            <ion-col class="inputContainer" size="10">
                              <ion-textarea class="ion-no-padding" name="glAccount" #glAccount type="text"
                                placeholder="Select GL Account" (click)="openSearchHelp('GLaccount', header.SAKNR)"
                                readonly="true" [(ngModel)]="header.GLACNT_TXT" rows="1" [autoGrow]="true">
                              </ion-textarea>
                            </ion-col>
                          </ion-row>
                        </div>
                        <!-- Cost Center -->
                        <div class="customInput animated fadeInUp"
                          *ngIf="header.BWART === '201' || header.BWART === '202' || header.BWART === '261' || header.BWART === '262' || header.BWART === '502'">
                          <ion-text>Cost Center <span class="redAsterix">*</span></ion-text>
                          <ion-row>
                            <ion-col class="iconContainer" size="2">
                              <img src="assets/svg/company.svg">
                            </ion-col>
                            <ion-col class="inputContainer" size="10">
                              <ion-textarea class="ion-no-padding" [readonly]="true" [(ngModel)]="header.COST_DES"
                                name="costCenter" #costCenter (click)="openSearchHelp('CostCenter', header.KOSTL)"
                                rows="1" [autoGrow]="true" readonly="true" type="text" placeholder="Select Cost Center"
                                [required]="true">
                              </ion-textarea>
                            </ion-col>
                          </ion-row>
                        </div>
                        <!-- Profit Center -->
                        <div *ngIf="header.BWART === '222' || header.BWART === '502'"
                          class="customInput animated fadeInUp">
                          <ion-text>Profit Center <span class="redAsterix">*</span>
                          </ion-text>
                          <ion-row>
                            <ion-col class="iconContainer" size="2">
                              <img src="assets/svg/profitcenter.svg">
                            </ion-col>
                            <ion-col class="inputContainer" size="10">
                              <ion-textarea class="ion-no-padding" name="profitCenter" #profitCenter type="text"
                                (click)="openSearchHelp('Profitcenter', header.PRCTR);" readonly="true"
                                placeholder="Select Profit Center" [(ngModel)]="header.PRC_TXT" rows="1"
                                [autoGrow]="true" required="header.BWART === '502'">
                              </ion-textarea>
                            </ion-col>
                          </ion-row>
                        </div>
                        <!-- WBS Element -->
                        <div *ngIf="header.BWART === '221' || header.BWART === '222'"
                          class="customInput animated fadeInUp">
                          <ion-text>WBS Element <span *ngIf="header.WBS_ELMNT">({{header.WBS_ELMNT}})</span> <span
                              class="redAsterix">*</span>
                          </ion-text>
                          <ion-row>
                            <ion-col class="iconContainer" size="2">
                              <img src="assets/svg/traced.svg">
                            </ion-col>
                            <ion-col class="inputContainer" size="10">
                              <ion-textarea class="ion-no-padding" name="wbselement" #wbselement type="text"
                                (click)="openSearchHelp('WBSElements', header.WBS_ELMNT)" readonly="true"
                                placeholder="Select WBS Element" [(ngModel)]="header.WBS_ELMNT_DES" [autoGrow]="true"
                                rows="1" required="header.BWART === '221'">
                              </ion-textarea>
                            </ion-col>
                          </ion-row>
                        </div>
                        <!-- Order Number -->
                        <div class="customInput animated fadeInUp"
                          *ngIf="header.BWART === '261' || header.BWART === '262'">
                          <ion-text>Order Number<span class="redAsterix">*</span></ion-text>
                          <ion-row>
                            <ion-col class="iconContainer" size="2">
                              <img src="assets/svg/orderNo.svg">
                            </ion-col>
                            <ion-col class="inputContainer" size="10">
                              <ion-textarea class="ion-no-padding" name="orderNumber" #orderNumber type="text"
                                [(ngModel)]="header.ORDER_DES" placeholder="Select Order Number"
                                (click)="getOrderNumber(header.ORDER_DES)" rows="1" [autoGrow]="true" [required]="true">
                              </ion-textarea>
                            </ion-col>
                          </ion-row>
                        </div>
                        <!-- Business Area -->
                        <div *ngIf="header.BWART === '201' || header.BWART === '202'"
                          class="customInput animated fadeInUp">
                          <ion-text>Business Area <span class="redAsterix">*</span></ion-text>
                          <ion-row>
                            <ion-col class="iconContainer" size="2">
                              <img src="assets/svg/businessarea.svg">
                            </ion-col>
                            <ion-col class="inputContainer" size="10">
                              <ion-textarea class="ion-no-padding" name="businessArea" #businessArea type="text"
                                [(ngModel)]="header.GTEXT" placeholder="Select Business Area"
                                (click)="global.displayToastMessage('Select Cost Center to get Business Area');"
                                readonly="true" [required]="header.BWART === '201' || header.BWART === '202'" rows="1"
                                [autoGrow]="true">
                              </ion-textarea>
                            </ion-col>
                          </ion-row>
                        </div>
                        <!-- Vendor Code -->
                        <!-- <div *ngIf="header.BWART === '502'"
                          class="customInput animated fadeInUp">
                          <ion-text>Vendor Code</ion-text>
                          <ion-row>
                            <ion-col class="iconContainer" size="2">
                              <img src="assets/svg/businessarea.svg">
                            </ion-col>
                            <ion-col class="inputContainer" size="10">
                              <ion-input class="ion-no-padding" name="vendorCode" #vendorCode type="text"
                                [(ngModel)]="header.VENDOR_NAME" placeholder="Select Vendor Code"
                                (click)="openSearchHelp('Vendors', header.VENDOR_NUM)" readonly="true"
                                [required]="header.BWART === '502'">
                              </ion-input>
                            </ion-col>
                          </ion-row>
                        </div> -->
                        <!-- Funds Center -->
                        <div *ngIf="header.BWART === '311'" class="customInput animated fadeInUp">
                          <ion-text>Funds Center</ion-text>
                          <ion-row>
                            <ion-col class="iconContainer" size="2">
                              <img src="assets/svg/fundscenter.svg">
                            </ion-col>
                            <ion-col class="inputContainer" size="10">
                              <ion-textarea class="ion-no-padding" name="fundsCenter" #fundsCenter readonly="true"
                                [(ngModel)]="header.BESCHR" placeholder="Select Funds Center"
                                (click)="openSearchHelp('Fundscenter', header.FISTL)" rows="1" [autoGrow]="true">
                              </ion-textarea>
                            </ion-col>
                          </ion-row>
                        </div>
                        <!-- Commitment Item -->
                        <div *ngIf="header.BWART === '311'" class="customInput animated fadeInUp">
                          <ion-text>Commitment Item</ion-text>
                          <ion-row>
                            <ion-col class="iconContainer" size="2">
                              <img src="assets/svg/commitmentitem.svg">
                            </ion-col>
                            <ion-col class="inputContainer" size="10">
                              <ion-textarea class="ion-no-padding" name="commitmentItem" #commitmentItem readonly="true"
                                [(ngModel)]="header.COMIT_ITEM_DES" placeholder="Select Commitment Item"
                                (click)="openSearchHelp('Commitmentitem', header.FIPOS)" rows="1" [autoGrow]="true">
                              </ion-textarea>
                            </ion-col>
                          </ion-row>
                        </div>
                        <!-- Receiving/Issuing Plant -->
                        <div *ngIf="header.BWART === '301' || header.BWART === '302'"
                          class="customInput animated fadeInUp">
                          <ion-text>{{header.BWART === '301' ? 'Receiving Plant' : 'Issuing Plant'}}<span
                              class="redAsterix">*</span></ion-text>
                          <ion-row>
                            <ion-col class="iconContainer" size="2">
                              <img src="assets/svg/receivingplant.svg">
                            </ion-col>
                            <ion-col class="inputContainer" size="10">
                              <ion-textarea class="ion-no-padding" name="receivingPlant" #receivingPlant readonly="true"
                                [(ngModel)]="header.RI_PLNT_DES" placeholder="Select Plant"
                                (click)="openSearchHelp('ReceivingPlant', header.UMWRK)" rows="1" [autoGrow]="true"
                                [required]="header.BWART === '301' || header.BWART === '302'">
                              </ion-textarea>
                            </ion-col>
                          </ion-row>
                        </div>
                        <!-- Receiving/Issuing Storage Location -->
                        <div *ngIf="header.BWART === '301' || header.BWART === '302' || header.BWART === '311'"
                          class="customInput animated fadeInUp">
                          <ion-text>
                            {{header.BWART === '302' ? 'Issuing Storage Location' : 'Receiving Storage Location'}}
                            <span class="redAsterix">*</span>
                          </ion-text>
                          <ion-row>
                            <ion-col class="iconContainer" size="2">
                              <img src="assets/svg/receivingstoragelocation.svg">
                            </ion-col>
                            <ion-col class="inputContainer" size="10">
                              <ion-textarea class="ion-no-padding" name="receivingStorageLocation"
                                #receivingStorageLocation readonly="true" [(ngModel)]="header.RI_STRG_DES"
                                placeholder="Select Storage Loc." rows="1" [autoGrow]="true"
                                (click)="openStorageLocationSearchHelp('ReceivingStorageLocation', header.UMLGO)"
                                [required]="header.BWART === '301' || header.BWART === '302' || header.BWART === '311'">
                              </ion-textarea>
                            </ion-col>
                          </ion-row>
                        </div>
                        <br>
                        <ion-row>
                          <ion-col size="9"></ion-col>
                          <ion-col size="3">
                            <ion-button [disabled]="goodsIssueForm.invalid" class="slideNavNextBtn"
                              (click)="onSlide('next')">Next
                            </ion-button>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-slide>
              <!-- Line Item Details -->
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <ion-button *ngIf="!service.isReservationSync" class="customButton" expand="full"
                      (click)="onAddLineItem()">ADD &nbsp; <ion-icon name="add"></ion-icon>
                    </ion-button>
                    <div *ngIf="lineItems.length > 0">
                      <p style="font-size: small; margin: 0;">Total LineItems: <span
                          style="font-weight: bold;">{{lineItems.length}}</span></p>
                    </div>
                    <div class="customLineItemOverflow">
                      <app-custom-line-item class="marginBottom" *ngFor="let lineItem of lineItems; index as i"
                        [lineItemObj]="lineItem" [lineItemId]="i" (removeLineItemById)="onRemoveLineItem($event)"
                        (editLineItem)="onEditLineItem($event)" [isReservationSynced]="service.isReservationSync"
                        (checkLineItem)="onLineItemChecked($event, lineItem)"
                        (stockCheckLineItem)="openStockCheckModal($event)"></app-custom-line-item>
                      <br>
                      <ion-row>
                        <ion-col size="3">
                          <ion-button class="slideNavNextBtn" (click)="onSlide('previous')">Prev
                          </ion-button>
                        </ion-col>
                        <ion-col size="6"></ion-col>
                        <ion-col size="3">
                          <ion-button class="slideNavNextBtn" (click)="onSlide('next')">Next
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-slide>
              <!-- Attachment Details -->
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <input id="fileUpload" type="file" (change)="onSelectFile($event)" multiple="multiple" hidden />
                    <p style="margin: 0; font-size: small;"
                      *ngIf="attachments.images.length > 0 || attachments.files.length > 0">Total Attachments:
                      {{(attachments.images.length) + (attachments.files.length)}}</p>
                    <div class="attachmentBox" *ngIf="attachments.images.length > 0 || attachments.files.length > 0">
                      <div>
                        <ion-row *ngFor="let file of attachments.files; index as i">
                          <ion-col size="10">
                            <ion-text style="float: left">{{i+1}}. {{global.setAttachmentName(file.name)}}
                              ({{global.getBytesConversion(file.size, 2)}})</ion-text>
                          </ion-col>
                          <ion-col size="2">
                            <ion-icon (click)="onRemoveAttachment(i, 'file')" color="danger" style="zoom: 1.3;"
                              name="trash"></ion-icon>
                          </ion-col>
                        </ion-row>
                        <ion-row *ngFor="let image of attachments.images; index as i">
                          <ion-col size="10">
                            <ion-text style="float: left">{{attachments.files.length + (i+1)}}.
                              {{global.setAttachmentName(image.name)}}</ion-text>
                          </ion-col>
                          <ion-col size="2">
                            <ion-icon (click)="onRemoveAttachment(i, 'image')" color="danger" style="zoom: 1.3;"
                              name="trash"></ion-icon>
                          </ion-col>
                        </ion-row>
                      </div>
                    </div>
                    <ion-button (click)="uploadAnAttachment()" class="customButton" expand="full">UPLOAD FILES &nbsp;
                      <ion-icon name="cloud-upload">
                      </ion-icon>
                    </ion-button>
                    <p style="font-size: smaller; margin: 0;"><b>NOTE:</b> Maximum size per attachment is <b>25MB</b>.
                    </p>
                    <ion-row style="margin-top: 1.5rem;">
                      <ion-col size="12">
                        <ion-textarea #comment name="comment" [(ngModel)]="comments" rows="3" [autoGrow]="true"
                          id="commentBox" placeholder="Enter Comments"></ion-textarea>
                        <div (click)="checkForm(goodsIssueForm.invalid)">
                          <ion-button [disabled]="goodsIssueForm.invalid" id="submitBtn" expand="full"
                            (click)="onSubmit()">SUBMIT &nbsp; <ion-icon mode="ios" name="rocket">
                            </ion-icon>
                          </ion-button>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="3">
                        <ion-button class="slideNavNextBtn" (click)="onSlide('previous')">Prev
                        </ion-button>
                      </ion-col>
                      <ion-col size="9"></ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-slide>
            </ion-slides>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div class="lowerRect">
    <img src="assets/svg/background-svg/lower.svg" alt="lower-svg">
  </div>
</ion-content>