ion-content {
    .upperRect {
        position: fixed;
        top: -3%;
        width: 100%;
    }

    @media screen and( min-width: 768px) and (min-height: 1024px) {
        .upperRect {
            position: fixed;
            top: -12%;
            width: 100%;
        }
        .lowerRect {
            position: fixed;
            bottom: 0;
            width: 100%;

            > img {
                position: fixed;
                bottom: -2%;
                width: 100%;
                z-index: 0;
            }
        }

        #lineItemSubmitBtn {
            margin-bottom: 12%;
        }
        .inner-item {
            height: 40rem !important;
        }
    }

    @media screen and (min-width: 1024px) {
        .inner-item {
            height: 55rem !important;
        }
    }

    .lowerRect {
        position: fixed;
        bottom: 0;
        width: 100%;

        > img {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 0;
        }
    }

    .header-text {
        position: fixed;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background: linear-gradient(237.78deg, #2196f3 -0.07%, #18dbf5 102.14%), #c4c4c4;
    }

    .header {
        width: 100%;
        z-index: 11;
        color: white;

        #toolbarText {
            font-size: 2.5vh;
        }

        #toolbarBackBtn {
            vertical-align: middle;
            zoom: 1.5;
        }

        #moreOptionsIcon {
            position: absolute;
            right: 1vw;
            zoom: 2;
            top: 0.8vh;
        }
    }

    .segmentRow {
        margin-top: 7vh;
        ion-segment {
            position: fixed;
            right: 0;
            left: 0;
            width: 100%;
            background: white;
            z-index: 11;
        }
        ion-segment-button {
            border-right: 1px #80808067 solid;
            ion-label {
                font-size: small;
                text-transform: capitalize !important;
            }
        }
        .segment-button-checked {
            background: #5b7e9a;
            color: white;
        }
    }

    .overflowContainer {
        height: 90vh;
        overflow-y: scroll;
    }

    ion-slides {
        margin-top: 3rem;
    }

    ion-slide {
        display: initial;
        background: transparent;
    }

    .slideInitialRow {
        margin-top: 2vh;
    }

    .headerCard {
        text-align: center;
        background: linear-gradient(237.78deg, #2196f3 -0.07%, #18dbf5 102.14%), #c4c4c4;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.56);
        border-radius: 5px;
        color: white;
        padding: 1rem;
    }

    .customInput {
        margin-top: 0.3rem;

        ion-text {
            font-size: initial;
        }
    }

    .iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(220, 220, 220, 0.75);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .submitReservationBtn {
        background: linear-gradient(248.46deg, #18dbf5 -29.62%, #2196f3 89.45%);
        border-top-left-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 10px;

        ion-icon {
            color: white;
            zoom: 1.7;
        }
    }

    .inputContainer {
        background: #417687;
        text-align: left;
        color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-left: 1rem;

        ion-datetime {
            padding-left: 1rem;
            font-size: initial;
        }

        ion-input {
            font-size: initial;
        }

        ion-textarea {
            font-size: initial;
            margin-top: 0;
        }

        ion-icon {
            position: absolute;
            right: 0.2rem;
            vertical-align: middle;
            top: 0.5rem;
        }

        .select-icon {
            right: 1rem !important;
        }
    }

    .reservationFieldInput {
        border-top-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 0;
    }

    .separator {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .separator::before,
    .separator::after {
        content: "";
        flex: 1;
        border-bottom: 3px solid #000000b0;
    }
    .separator::before {
        margin-right: 0.25em;
    }
    .separator::after {
        margin-left: 0.25em;
    }

    .customButton {
        --background: linear-gradient(111.81deg, #1BC4F5 0%, #2196F3 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
    }

    .attachmentBox {
        border: 1px #000000b2 solid;
        border-radius: 4px;
        padding: 0.5rem;
    }

    #commentBox {
        --background: #417687;
        --color: white;
        text-align: left;
        padding-left: 1rem;
        font-size: initial;
    }

    #submitBtn {
        --background: linear-gradient(112.78deg, #3FFD5D 3.75%, #09D135 74.93%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        --color: white;
        margin-top: 1rem;
    }

    .marginBottom {
        margin-bottom: 2rem;
    }

    .customLineItemOverflow {
        height: 60vh;
        overflow-y: scroll;
    }

    .slideNavPreviousBtn {
        width: 100%;
        --background: #417687;
        --color: white;
    }

    .slideNavNextBtn {
        width: 100%;
        --background: #417687;
        --color: white;
    }

    ::ng-deep ion-datetime.datetime-disabled {
        opacity: 1 !important;
    }

    .redAsterix {
        color: red;
    }
}

