ion-content {
    .headerLabels {
        margin: 0;
        p {
            margin-top: 5px;
            margin-bottom: 3px;
        }
        h2 {
            margin-bottom: 5px;
        }
    }

    .tableContainer {
        height: 45vh;
        overflow: scroll;
        border-bottom: 0.5px slategray solid;
    }

    table {
        width: 300vw;
    }

    thead th {
        position: sticky;
        top: 0;
    }

    th {
        padding: 0.5rem;
        background: #007cdc;
        color: white
    }

    td {
        padding: 0.5rem;
        border: 0.5px slategray solid;
    }

    tbody tr:nth-child(odd){
        background: #f0f0f0;
    }

    tbody > tr:hover {
        background: #007cdc;
        color: white;
    }

    .headingWithIcon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100% !important;
    }

}