<ion-header>
  <ion-toolbar>
    <ion-title>Stock Overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label class="headerLabels">
      <p>Material Code</p>
      <h2 class="ion-text-wrap" style="font-weight: bold;">
        {{materialDetails.materialNumber}}
      </h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="headerLabels">
      <p>Material Description</p>
      <h2 class="ion-text-wrap" style="font-weight: bold;">
        {{materialDetails.materialDescription}}
      </h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="headerLabels">
      <p>UOM</p>
      <h2 class="ion-text-wrap" style="font-weight: bold;">
        {{materialDetails.uom}}
      </h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="headerLabels">
      <p>Extracted Time</p>
      <h2 class="ion-text-wrap" style="font-weight: bold;">
        {{extractedTime}}
      </h2>
    </ion-label>
  </ion-item>
  <p style="font-size: smaller;">You can sort the details based on quantity by tapping on Storage Location Qty, Batch Qty and Special Stk. Qty.</p>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>Storage Location</th>
          <th class="headingWithIcon" (click)="onSortColumn('storageLocationQuantity')">
            <span>Storage Location Qty</span>
            <ion-icon *ngIf="sortingDetails.storageLocationQuantity.ascending" name="arrow-round-up"></ion-icon>
            <ion-icon *ngIf="sortingDetails.storageLocationQuantity.descending"  name="arrow-round-down"></ion-icon>
          </th>
          <th>Batch</th>
          <th class="headingWithIcon" (click)="onSortColumn('batchQuantity')">
            <span>Batch Quantity &nbsp;</span>
            <ion-icon *ngIf="sortingDetails.batchQuantity.ascending" name="arrow-round-up"></ion-icon>
            <ion-icon *ngIf="sortingDetails.batchQuantity.descending"  name="arrow-round-down"></ion-icon>
          </th>
          <th>Special Stk.</th>
          <th>Vendor</th>
          <th>WBS Element</th>
          <th class="headingWithIcon" (click)="onSortColumn('specialStockQuantity')">
            <span>Special Stk. Qty</span>
            <ion-icon *ngIf="sortingDetails.specialStockQuantity.ascending" name="arrow-round-up"></ion-icon>
            <ion-icon *ngIf="sortingDetails.specialStockQuantity.descending"  name="arrow-round-down"></ion-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stockDetail of renderedDetails">
          <td>{{stockDetail.STRGE_LOC_OUT}} - {{stockDetail.SLOC_NAME}}</td>
          <td><b>{{stockDetail.SLOC_QTY}}</b></td>
          <td>{{stockDetail.BATCH_OUT}}</td>
          <td><b>{{stockDetail.BATCH_QTY}}</b></td>
          <td>{{stockDetail.SPCL_STOCK}} - {{stockDetail.SPCL_STOCK_DES}}</td>
          <td>{{stockDetail.VENDOR}} - {{stockDetail.VENDOR_NAME}}</td>
          <td>{{stockDetail.WBS_ELEMENT}}</td>
          <td><b>{{stockDetail.MKOL_QTY}}</b></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p style="font-size: smaller;"><b>NOTE: </b>You can scroll horizontally and vertically to see the stock details
    properly. You can also highlight the row by tapping on it.</p>


</ion-content>

<ion-footer>
  <ion-button expand="full" fill="clear" color="primary" (click)="modalController.dismiss()">Back</ion-button>
</ion-footer>