<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" style="zoom: 1.7" [routerLink]="['/main/requests']"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-label style="color: white; margin-right: 10px"><b>&#x20b9; {{totalAmount | number}}</b></ion-label>
    </ion-buttons>
    <ion-title>Timesheet Claim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #timesheetForm="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card mode="md">
            <ion-card-header>
              <ion-card-title mode="md">
                <ion-icon name="calendar"></ion-icon> Date
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label color="primary">Date *</ion-label>
                    <ion-datetime name="createDate" [(ngModel)]="createDate"
                      (ionChange)="onDateChange($event.target.value, true)"></ion-datetime>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header>
              <ion-card-title mode="md">
                <ion-icon name="attach"></ion-icon>Attachments
                <ion-label color="primary" style="float: right !important">
                  <ion-button color="danger" style="zoom: 0.5" shape="round" fill="outline"
                    *ngIf="this.attachments.length > 0" (click)="this.attachments = []">
                    <ion-icon color="danger" name="close"></ion-icon> Remove All
                  </ion-button>
                </ion-label>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="attachmentCard">
              <ion-row>
                <ion-col size="6">
                  <input id="fileUpload" type="file" (change)="onSelectFile($event)" multiple="multiple" hidden />
                  <ion-button (click)="chooseFiles()" size="small" shape="round" expand="full" fill="outline">Upload
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button size="small" shape="round" expand="full" fill="outline" (click)="onTakeImage()">Take A Photo</ion-button>
                </ion-col>
              </ion-row>
              <ion-list>
                <ion-item *ngFor="let file of attachments; index as i" [ngSwitch]="file.type">
                  <ion-icon *ngSwitchCase="'image/png'" name="image" color="primary"></ion-icon>
                  <ion-icon *ngSwitchCase="'text/plain'" name="text" color="primary"></ion-icon>
                  <ion-icon *ngSwitchCase="'text/html'" name="logo-html5" color="primary"></ion-icon>
                  <ion-icon *ngSwitchDefault name="link" color="primary"></ion-icon>
                  <ion-label>{{ file.name.substring(0, 10) }} -
                    {{ getBytesConversion(file.size) }} <ion-icon color="danger" name="close"
                      (click)="onRemoveAttachment(i)"></ion-icon>
                  </ion-label>
                </ion-item>
                <ion-item *ngFor="let file of images; index as i">
                  <ion-icon name="image" color="primary"></ion-icon>
                  <ion-label>{{ file.name.substring(0, 10) }}... -
                      {{ getBytesConversion(file.image.size) }} <ion-icon color="danger" name="close" (click)="onRemoveImage(i)"></ion-icon></ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header>
              <ion-card-title mode="md">Line Items
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <mat-accordion>
                <mat-expansion-panel *ngFor="let lineItem of lineItems; index as i" class="animated fadeInRight">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <ion-label color="primary">Line Item {{ i+1 }}</ion-label>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ion-item>
                    <ion-label color="primary" position="floating">Contractor</ion-label>
                    <ion-input [readonly]="true" name="Contractor{{i}}" [(ngModel)]="lineItem.CONT_CODE"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">Employee</ion-label>
                    <ion-input [readonly]="true" name="Employee{{i}}" [(ngModel)]="lineItem.EMP_CODE"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">Engineer *</ion-label>
                    <ion-input [required]="!lineItem.SOR_FLAG" [readonly]="true" name="Engineer{{i}}" placeholder="Select Engineer" (click)="onEngineerSelect(lineItem)" [(ngModel)]="lineItem.EMP_ENG_NAME"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">Department</ion-label>
                    <ion-input [readonly]="true" name="Department{{i}}" [(ngModel)]="lineItem.DEPT_CODE"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">TaskGroup *</ion-label>
                    <ion-input [required]="!lineItem.SOR_FLAG" [readonly]="true" name="TaskGroup{{i}}" placeholder="Select TaskGroup" (click)="onTaskGroupSelect(lineItem)" [(ngModel)]="lineItem.TG_DES"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">Skill</ion-label>
                    <ion-input [readonly]="true" name="Skill{{i}}" [(ngModel)]="lineItem.DESIGNATION"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">Rate</ion-label>
                    <ion-input [readonly]="true" name="Rate{{i}}" [(ngModel)]="lineItem.SKILL_RATE"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">Shift</ion-label>
                    <ion-input [readonly]="true" name="Shift{{i}}" [(ngModel)]="lineItem.SHIFT"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary">Attendace</ion-label>
                    <ion-select name="Present{{i}}" interface="popover" [(ngModel)]="lineItem.PRESENT">
                      <ion-select-option [selected]="lineItem.PRESENT === 'PR'" value="PR">PR</ion-select-option>
                      <ion-select-option [selected]="lineItem.PRESENT === 'AB'" value="AB">AB</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">Net Hours *</ion-label>
                    <ion-input [required]="!lineItem.SOR_FLAG" type="number" name="NetHours{{i}}" (ionChange)="getLineItemAmount(lineItem)" [(ngModel)]="lineItem.NET_TIME"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">OT Hours</ion-label>
                    <ion-input type="number" name="OtHours{{i}}" (ionChange)="getLineItemAmount(lineItem)" [(ngModel)]="lineItem.OVER_TIME"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">Incentive</ion-label>
                    <ion-input type="number" name="Incentive{{i}}" (ionChange)="getLineItemAmount(lineItem)" [(ngModel)]="lineItem.INCENTIVE"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary">SOR</ion-label>
                    <ion-toggle mode="ios" name="Toggle{{i}}" [value]="true" [(ngModel)]="lineItem.SOR_FLAG" (ionChange)="onSORChange(lineItem)"></ion-toggle>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" position="floating">Amount</ion-label>
                    <ion-input [readonly]="true" type="number" name="Amount{{i}}" [(ngModel)]="lineItem.AMOUNT" (ionChange)="getLineItemAmount(lineItem)"></ion-input>
                  </ion-item>
                </mat-expansion-panel>
              </mat-accordion>
              <div style="text-align: center">
                <ion-spinner *ngIf="lineItemLoading" name="bubbles"></ion-spinner>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row *ngIf="lineItems.length > 0">
      <ion-col size="4" offset="4">
        <ion-button expand="full" size="small" shape="round" fill="outline" color="primary" [disabled]="lineItems.length >= totalCount" (click)="onDateChange(createDate, false)">More</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<ion-footer *ngIf="lineItems.length > 0">
  <ion-row>
    <ion-col size="12">
      <ion-button style="margin: 0 !important" expand="full" color="primary" [disabled]="timesheetForm.invalid" (click)="onSubmit()">Submit</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>