ion-tab-button {
    transition: 0.2s ease-in;
}

.tab-selected {
    ion-icon {
        transform: scale(1.3);
        transition: 0.2s ease-in;
    }
    ion-label {
        transition: 0.2s ease-in;
    }
}