<ion-tabs>
  <ion-tab-bar mode="md" translucent="true" id="tabs" slot="bottom">
    <ion-tab-button mode="md" tab="requests">
      <ion-label>Request</ion-label>
      <ion-icon name="paper"></ion-icon>
    </ion-tab-button>
    <ion-tab-button mode="md" tab="inbox">
      <ion-label>Inbox</ion-label>
      <ion-icon name="mail"></ion-icon>
    </ion-tab-button>
    <ion-tab-button mode="md" tab="outbox">
      <ion-label>Outbox</ion-label>
      <ion-icon name="mail-open"></ion-icon>
    </ion-tab-button>
    <ion-tab-button mode="md" tab="reports">
      <ion-label>Reports</ion-label>
      <ion-icon name="clipboard"></ion-icon>
    </ion-tab-button>
    <ion-tab-button mode="md" tab="profile">
      <ion-label>Profile</ion-label>
      <ion-icon mode="ios" name="contact"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>