<ion-content fullscreen>
  <div class="upperRect">
    <img src="assets/svg/background-svg/upper.svg" alt="upper-svg">
  </div>
  <div class="lowerRect">
    <img src="assets/svg/background-svg/lower.svg" alt="lower-svg">
  </div>
  <form #goodsIssueForm="ngForm">
    <ion-grid fixed>
      <ion-row class="header">
        <ion-col class="ion-no-padding">
          <div class="header-text">
            <h1 id="toolbarText">
              <ion-icon [routerLink]="['/main/outbox/GI_PROCESS']" id="toolbarBackBtn" mode="md" name="arrow-back"></ion-icon>
              &nbsp;
              {{requestData.requestId}}
            </h1>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="segmentRow">
        <ion-col size="12" class="ion-no-padding">
          <ion-segment #segments name="segment" (ionChange)="segmentChanged()" [(ngModel)]="segment" value="0"
            mode="md">
            <ion-segment-button mode="md" value="0">
              <ion-label>Details</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="1">
              <ion-label>Attachments</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="2">
              <ion-label>Logs</ion-label>
            </ion-segment-button>
          </ion-segment>
          <div class="overflowContainer">
            <ion-slides #slides [options]="slideOpts" scrollbar="false">
              <!-- Header Details -->
              <ion-slide>
                <div class="overflowSlideContainer">
                  <ion-row class="slideInitialRow">
                    <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                      <div class="headerDetails">
                        <ion-row>
                          <ion-col size="6">
                            <div *ngIf="requestData.currentstep !== '4' || requestData.sapDocId === null"
                              class="{{currentStatusCssClass}}">
                              {{currentStatus}}</div>
                            <div *ngIf="requestData.currentstep === '4' && requestData.sapDocId !== null"
                              class="outForDeliveryChip">
                              {{requestData.header.WORKFLOW_COMPLETED === 'true' ? 'Completed' : 'Delivered'}}
                            </div>
                          </ion-col>
                          <ion-col size="6">
                            <ion-text style="float: right; font-size: initial;">
                              {{global.getPortalDate(requestData.header.RSDAT)}}
                            </ion-text>
                          </ion-col>
                        </ion-row>
                        <ion-item *ngIf="requestData.header.RECP_NAME">
                          <ion-label class="headerLabels">
                            <p>Recipient Name</p>
                            <h2 style="font-weight: bold;">{{requestData.header.RECP_NAME}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.RSNUM">
                          <ion-label class="headerLabels">
                            <p>Reservation No.</p>
                            <h2 style="font-weight: bold;">{{requestData.header.RSNUM}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.MBLNR ">
                          <ion-label class="headerLabels">
                            <p>Material Doc. Number</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">{{requestData.header.MBLNR}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.WERKS">
                          <ion-label class="headerLabels">
                            <p>Plant</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">
                              {{requestData.header.PLANT_DES ? requestData.header.PLANT_DES : requestData.header.WERKS}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.DEPT_ID">
                          <ion-label class="headerLabels">
                            <p>Department</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">
                              {{requestData.header.DEPT_NAME ? requestData.header.DEPT_NAME : requestData.header.DEPT_ID}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.BWART">
                          <ion-label class="headerLabels">
                            <p>Movement Type</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.MVT_DES ? requestData.header.MVT_DES : requestData.header.BWART}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.KOSTL">
                          <ion-label class="headerLabels">
                            <p>Cost Center</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.COST_DES ? requestData.header.COST_DES : requestData.header.KOSTL}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.SAKNR">
                          <ion-label class="headerLabels">
                            <p>GL Account</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.GLACNT_TXT ? requestData.header.GLACNT_TXT : requestData.header.SAKNR}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.PRCTR">
                          <ion-label class="headerLabels">
                            <p>Profit Center</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.PRC_TXT ? requestData.header.PRC_TXT : requestData.header.PRCTR}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.GSBER">
                          <ion-label class="headerLabels">
                            <p>Business Area</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.GTEXT ? requestData.header.GTEXT : requestData.header.GSBER}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.UMWRK">
                          <ion-label class="headerLabels">
                            <p>Receiving Plant</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.RI_PLNT_DES ? requestData.header.RI_PLNT_DES : requestData.header.UMWRK}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.UMLGO">
                          <ion-label class="headerLabels">
                            <p>Receiving Storage Location</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.RI_STRG_DES ? requestData.header.RI_STRG_DES : requestData.header.UMLGO}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.STORE_KEEPER_ID">
                          <ion-label class="headerLabels">
                            <p>Store Keeper ID</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.STORE_KEEPER_ID}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.GR_GI_SLIP_NO && isSapUser.isStoreIncharge">
                          <ion-label class="headerLabels">
                            <p>GR/GI Slip No.</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.GR_GI_SLIP_NO}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.DELIVERED_TO">
                          <ion-label class="headerLabels">
                            <p>Delivered To</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.DELIVERED_TO}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.INIT_COMMENT">
                          <ion-label position="floating">Initiator Comments</ion-label>
                          <ion-textarea [readonly]="true" autoGrow="true" rows="1" #initComments name="initComments"
                            [(ngModel)]="requestData.header.INIT_COMMENT"></ion-textarea>
                        </ion-item>
                      </div>
                      <mat-accordion>
                        <mat-expansion-panel *ngFor="let lineItem of requestData.lineItems; index as i">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <span (click)="showNoStockItemAlert(lineItem); $event.stopPropagation()"
                                *ngIf="lineItem.lineItems.STOCK_NOT_AVL === 'X'">
                                <ion-icon class="alertingIcon" name="alert"></ion-icon> &nbsp;
                              </span>
                              <ion-label>Line Item No.{{i+1}}
                              </ion-label>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <ion-item *ngIf="lineItem.lineItems.MATNR">
                            <ion-label class="headerLabels">
                              <p>Material Code</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{lineItem.lineItems.MATNR}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.MAT_DES">
                            <ion-label class="headerLabels">
                              <p>Material Description</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{lineItem.lineItems.MAT_DES}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.MBLNR ">
                            <ion-label class="headerLabels">
                              <p>Material Doc. Number</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{lineItem.lineItems.MBLNR}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.WERKS">
                            <ion-label class="headerLabels">
                              <p>Plant</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">
                                {{lineItem.lineItems.PLANT_DES ? lineItem.lineItems.PLANT_DES : lineItem.lineItems.WERKS}}
                              </h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.LGORT">
                            <ion-label class="headerLabels">
                              <p>Storage Location</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">
                                {{lineItem.lineItems.STORAGE_DES ? lineItem.lineItems.STORAGE_DES : lineItem.lineItems.LGORT}}
                              </h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.STORAGE_BIN">
                            <ion-label class="headerLabels">
                              <p>Storage BIN</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">
                                {{lineItem.lineItems.STORAGE_BIN}}
                              </h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.MEINS">
                            <ion-label class="headerLabels">
                              <p>Unit</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.MEINS}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.CHARG">
                            <ion-label class="headerLabels">
                              <p>Batch</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.CHARG}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.ABLAD">
                            <ion-label class="headerLabels">
                              <p>Unloading Point</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{lineItem.lineItems.ABLAD}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.ERFMG">
                            <ion-label class="headerLabels">
                              <p>Reserve Quantity</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.ERFMG}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.BDMNG">
                            <ion-label class="headerLabels">
                              <p>Reserve Value</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.BDMNG}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.MENGE">
                            <ion-label class="headerLabels">
                              <p>Issue Quantity</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.MENGE}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.STOCK_BFR">
                            <ion-label class="headerLabels">
                              <p>Stock Before</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.STOCK_BFR}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.QTY_ISSUE">
                            <ion-label class="headerLabels">
                              <p>Quantity Issued</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.QTY_ISSUE}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.SGTXT">
                            <ion-label position="floating">Item Text</ion-label>
                            <ion-textarea
                              [readonly]="true" [value]="lineItem.lineItems.SGTXT" rows="1" autoGrow="true">
                            </ion-textarea>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.SOBKZ">
                            <ion-label class="headerLabels">
                              <p>Special Stock</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.SOBKZ}}-{{lineItem.lineItems.SOTXT}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.LIFNR">
                            <ion-label class="headerLabels">
                              <p>Vendor Code</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.LIFNR}}-{{lineItem.lineItems.VENDOR_NAME}}</h2>
                            </ion-label>
                          </ion-item>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-slide>
              <!-- Attachment Slide -->
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <div class="attachmentBox">
                      <div *ngIf="requestData.attachments === null">
                        <ion-text>No Attachments
                          From This Request</ion-text>
                      </div>
                      <div *ngIf="requestData.attachments !== null">
                        <ion-text *ngIf="requestData.attachments.length === 0">No Attachments
                          From This Request</ion-text>
                        <div *ngIf="requestData.attachments.length > 0">
                          <h5>Attachments</h5>
                          <ion-row *ngFor="let attachment of requestData.attachments; index as i">
                            <ion-col size="10">
                              <ion-text (click)="onViewFile(attachment)" color="primary" style="float: left;">
                                {{global.setAttachmentName(attachment.fileName)}}</ion-text>
                            </ion-col>
                          </ion-row>
                        </div>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-slide>
              <!-- Logs Slide -->
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <div class="logsBox">
                      <ion-card *ngFor="let log of requestData.logs.slice().reverse()">
                        <ion-row>
                          <ion-col size="12">
                            <ion-text style="float: left;">Action Taken:&nbsp;
                              <span
                                class="{{global.getColorTextClass(global.getLogTextBasedOnActivity(log.activityText))}}">
                                {{global.getLogTextBasedOnActivity(log.activityText)}}
                              </span> </ion-text>
                          </ion-col>
                        </ion-row>
                        <ion-item transparent class="ion-no-padding" lines="none">
                          <ion-avatar slot="start">
                            <img src="assets/imgs/user.png">
                          </ion-avatar>
                          <ion-label>
                            <h2 text-size-md>User: <span style="color: #31a5db;">{{log.actualUser}}</span></h2>
                            <h3 class="ion-text-wrap" text-size-sm>{{log.comments}}</h3>
                          </ion-label>
                        </ion-item>
                        <ion-row>
                          <ion-col size="12">
                            <ion-text style="float: left;">Sent on:&nbsp;
                              <span style="font-weight: bold; color: black;">{{global.getPortalDate(log.endDate)}}
                                {{global.getPortalTime(log.endTime)}}</span>
                            </ion-text>
                          </ion-col>
                        </ion-row>
                      </ion-card>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-slide>
            </ion-slides>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>