<ion-content fullscreen>
  <div class="upperRect">
    <img src="assets/svg/background-svg/upper.svg" alt="upper-svg">
  </div>
  <div class="lowerRect">
    <img src="assets/svg/background-svg/lower.svg" alt="lower-svg">
  </div>
  <form #goodsIssueForm="ngForm">
    <ion-grid fixed>
      <ion-row class="header">
        <ion-col class="ion-no-padding">
          <div class="header-text">
            <h1 id="toolbarText">
              <ion-icon [routerLink]="['/main/inbox/PRC_PROCESS']" id="toolbarBackBtn" mode="md" name="arrow-back">
              </ion-icon>
              &nbsp;
              {{requestData.requestId}}
            </h1>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="segmentRow">
        <ion-col size="12" class="ion-no-padding">
          <ion-segment #segments name="segment" (ionChange)="segmentChanged()" [(ngModel)]="segment" value="0"
            mode="md">
            <ion-segment-button mode="md" value="0">
              <ion-label>Details</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="1">
              <ion-label>Attachments</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="2">
              <ion-label>Logs</ion-label>
            </ion-segment-button>
          </ion-segment>
          <div class="overflowContainer">
            <ion-slides #slides [options]="slideOpts" scrollbar="false">
              <!-- Header Details -->
              <ion-slide>
                <div class="overflowSlideContainer">
                  <ion-row class="slideInitialRow">
                    <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                      <div class="headerDetails">
                        <ion-row>
                          <ion-col size="7">
                            <div class="{{currentStatusCssClass}}">
                              {{currentStatus}}</div>
                          </ion-col>
                          <ion-col size="5">
                            <ion-text style="float: right; font-size: small;">
                              {{global.getPortalDate(lastActivity)}}
                            </ion-text>
                          </ion-col>
                        </ion-row>
                        <ion-item *ngIf="requestData.header.KSCHL_DESC">
                          <ion-label class="headerLabels">
                            <p>Condition Type</p>
                            <h2 style="font-weight: bold;">{{requestData.header.KSCHL_DESC}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.Key_Comb_Desc">
                          <ion-label class="headerLabels">
                            <p>Key Combination</p>
                            <h2 style="font-weight: bold;">{{requestData.header.Key_Comb_Desc}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.CURRENCY">
                          <ion-label class="headerLabels">
                            <p>Currency</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">{{requestData.header.CURRENCY}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.SALES_GROUP">
                          <ion-label class="headerLabels">
                            <p>Sales Group</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">
                              {{requestData.header.SALES_GROUP}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.SALES_OFFICE">
                          <ion-label class="headerLabels">
                            <p>Sales Office</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">
                              {{requestData.header.SALES_OFFICE}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.REGION">
                          <ion-label class="headerLabels">
                            <p>Region</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">
                              {{requestData.header.REGION}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.VKORG">
                          <ion-label class="headerLabels">
                            <p>Sales Organization</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.VKORG}} - {{requestData.header.salesorg_desc}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.VTWEG">
                          <ion-label class="headerLabels">
                            <p>Distribution Channel</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.VTWEG}} - {{requestData.header.distchannel_desc}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.SPART">
                          <ion-label class="headerLabels">
                            <p>Division</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.SPART}} - {{requestData.header.division_desc}}
                            </h2>
                          </ion-label>
                        </ion-item>
                      </div>
                      <mat-accordion>
                        <mat-expansion-panel *ngFor="let lineItem of requestData.lineItems; index as i">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <ion-label>Line Item No.{{i+1}}
                              </ion-label>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <ion-item *ngIf="lineItem.lineItems.PAYER">
                            <ion-label class="headerLabels">
                              <p>Payer Code</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{lineItem.lineItems.PAYER}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.PayerName">
                            <ion-label class="headerLabels">
                              <p>Payer Name</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{lineItem.lineItems.PayerName}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.SHIP_TO_PARTY">
                            <ion-label class="headerLabels">
                              <p>Ship To Party Code</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{lineItem.lineItems.SHIP_TO_PARTY}}
                              </h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.SHIP_TO_PARTY_NAME">
                            <ion-label class="headerLabels">
                              <p>Ship To Party Name</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">
                                {{lineItem.lineItems.SHIP_TO_PARTY_NAME}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.materialGroup">
                            <ion-label class="headerLabels">
                              <p>Material Group</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{lineItem.lineItems.materialGroup}}
                              </h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.MATNR">
                            <ion-label class="headerLabels">
                              <p>Material Code</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{lineItem.lineItems.MATNR}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.MaterialDescription">
                            <ion-label class="headerLabels">
                              <p>Material Description</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">
                                {{lineItem.lineItems.MaterialDescription}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.PLANT">
                            <ion-label class="headerLabels">
                              <p>Plant</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">
                                {{lineItem.lineItems.PLANT}}
                              </h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.UOM">
                            <ion-label class="headerLabels">
                              <p>Unit Of Measurement</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">
                                {{lineItem.lineItems.UOM}}
                              </h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.SHPNG_COND">
                            <ion-label class="headerLabels">
                              <p>Shipping Condition</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">
                                {{lineItem.lineItems.SHPNG_COND}}
                              </h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.INCOTERMS">
                            <ion-label class="headerLabels">
                              <p>Inco Terms</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.INCOTERMS}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.RECEIVE_POINT">
                            <ion-label class="headerLabels">
                              <p>Receiving Point</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.RECEIVE_POINT}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.COND_VALID_FROM">
                            <ion-label class="headerLabels">
                              <p>Validity From</p>
                              <h2 style="font-weight: bold;">
                                {{global.getPortalDate(lineItem.lineItems.COND_VALID_FROM)}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.COND_VALID_TO">
                            <ion-label class="headerLabels">
                              <p>Validity To</p>
                              <h2 style="font-weight: bold;">{{global.getPortalDate(lineItem.lineItems.COND_VALID_TO)}}
                              </h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.COND_AMOUNT">
                            <ion-label class="headerLabels">
                              <p>Rate / Unit</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">
                                {{getAmount(lineItem.lineItems.COND_AMOUNT)}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.PRO_QTY">
                            <ion-label class="headerLabels">
                              <p>Proposed Quantity</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{lineItem.lineItems.PRO_QTY}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.TOTAL_AMT">
                            <ion-label class="headerLabels">
                              <p>Total Amount</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{lineItem.lineItems.TOTAL_AMT}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item>
                            <ion-label class="headerLabels">
                              <p>Notes</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">
                                {{truncateString(lineItem.lineItems.Addnotes, 100) || '- -'}}
                                <ion-icon
                                  *ngIf="lineItem.lineItems.Addnotes && lineItem.lineItems.Addnotes.length > 100"
                                  (click)="showNotes(lineItem.lineItems.Addnotes)" style="color: #038bff; zoom: 1.5;"
                                  name="eye"></ion-icon>
                              </h2>
                            </ion-label>
                            <ion-icon (click)="editNotes(lineItem.lineItems)" style="color: #038bff;" name="create">
                            </ion-icon>
                          </ion-item>
                          <ion-item class="ion-no-margin ion-no-padding" lines="none"
                            *ngIf="requestData.header.KSCHL !== 'YFRT' && requestData.header.KSCHL !== 'YFRD'"
                            style="margin-top: 0.5rem;">
                            <ion-grid class="ion-no-padding" fixed>
                              <ion-row class="ion-no-padding ion-justify-content-center ion-align-items-center">
                                <ion-col size="6" class="ion-text-center">
                                  <ion-button color="danger" mode="ios" shape="round" size="medium"
                                    *ngIf="!validating[i] && requestData.header.KSCHL !== 'ZSD2'"
                                    (click)="checkPricingDuplicate(i, lineItem, requestData)">
                                    Validate &nbsp;
                                    <ion-icon *ngIf="!lineItem.lineItems.isValidate" name="clipboard"></ion-icon>
                                    <ion-icon mode="md" *ngIf="lineItem.lineItems.isValidate" name="checkmark">
                                    </ion-icon>
                                  </ion-button>
                                  <ion-button mode="ios" fill="clear" size="medium" *ngIf="validating[i]">
                                    <ion-icon mode="md" slot="icon-only" class="animated rotateOut infinite"
                                      name="close">
                                    </ion-icon>
                                  </ion-button>
                                  <ion-button color="danger" mode="ios" shape="round" size="medium"
                                    *ngIf="!validating[i] && requestData.header.KSCHL === 'ZSD2'"
                                    (click)="checkDuplicationOfRecords(i)">
                                    Validate &nbsp;
                                    <ion-icon *ngIf="!lineItem.lineItems.isValidate" name="clipboard"></ion-icon>
                                    <ion-icon mode="md" *ngIf="lineItem.lineItems.isValidate" name="checkmark">
                                    </ion-icon>
                                  </ion-button>
                                </ion-col>
                                <ion-col class="ion-text-center" size="6" *ngIf="requestData.header.KSCHL === 'PR00'">
                                  <ion-button color="secondary" mode="ios" shape="round" size="medium"
                                    (click)="getPricingByCombination($event, lineItem)">
                                    Pricing &nbsp;
                                    <ion-icon slot="end" name="calculator"></ion-icon>
                                  </ion-button>
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-item>
                        </mat-expansion-panel>
                      </mat-accordion>
                      <ion-row id="finalOptionsRow">
                        <ion-col size="12" size-lg="6" offset-lg="3" class="ion-padding">
                          <div id="finalOptions">
                            <p>Take your action on this Request</p>
                            <div>
                            </div>
                            <div>
                            </div>
                            <ion-button *ngIf="requestData.currentstep !== '&START' && requestData.status !== '5'"
                              (click)="getActivity('Approve')" class="approveButton" expand="full">
                              {{requestData.sapDocId === null ? 'Approve' : 'Confirm'}}
                              &nbsp;<ion-icon name="checkmark">
                              </ion-icon>
                            </ion-button>
                            <ion-button *ngIf="requestData.currentstep == '&START' && requestData.status !== '5'"
                              (click)="getActivity('Resubmit')" class="approveButton" expand="full">Resubmit
                              &nbsp;<ion-icon name="checkmark">
                              </ion-icon>
                            </ion-button>
                            <ion-button *ngIf="requestData.currentstep !== '&START' && requestData.status !== '5'"
                              (click)="getActivity('RejectComplete')" class="rejectButton" fill="outline" mode="md">
                              Reject &nbsp;
                              <img src="assets/svg/block.svg">
                            </ion-button>
                            <ion-button *ngIf="requestData.currentstep == '&START'" (click)="getActivity('Cancel')"
                              class="rejectButton" fill="outline" mode="md">
                              Cancel &nbsp;
                              <img src="assets/svg/block.svg">
                            </ion-button>
                            <ion-button (click)="getActivity('Collaborate')"
                              *ngIf="requestData.currentstep !== '&START' && requestData.status !== '5'"
                              class="collaborateButton" fill="clear">
                              Collaborate &nbsp;
                              <img src="assets/svg/handshake.svg">
                            </ion-button>
                            <ion-button (click)="getActivity('CollaborateBack')"
                              *ngIf="requestData.currentstep !== '&START' && requestData.status === '5'"
                              class="collaborateButton" fill="clear">
                              Collaborate Back &nbsp;
                              <img src="assets/svg/handshake.svg">
                            </ion-button>
                            <p style="font-size: smaller; margin: 0;"
                              *ngIf="requestData.currentstep == '&START' && requestData.status !== '5'">
                              <b>NOTE:</b> If You Want To Make Changes In Request, <b>Login</b> in <b>Web Portal</b>.
                            </p>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-slide>
              <!-- Attachment Slide -->
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <input id="fileUploadInput" type="file" (change)="onSelectFile($event)" multiple="multiple"
                      hidden />
                    <div class="attachmentBox">
                      <div *ngIf="requestData.attachments === null">
                        <ion-text style="font-size: small;">Attachment doesn't exist for this request</ion-text>
                      </div>
                      <div *ngIf="requestData.attachments !== null">
                        <ion-text style="font-size: small;" *ngIf="requestData.attachments.length === 0">Attachment
                          doesn't exist for this request
                        </ion-text>
                        <div *ngIf="requestData.attachments.length > 0">
                          <h5 style="margin: 0;">Attachments</h5>
                          <ion-row *ngFor="let attachment of requestData.attachments; index as i">
                            <ion-col size="10">
                              <ion-text (click)="onViewFile(attachment)" color="primary"
                                style="float: left; font-size: small;">
                                {{i+1}}. {{global.setAttachmentName(attachment.fileName)}}
                                ({{global.getBytesConversion(attachment.fileSize, 2)}})</ion-text>
                            </ion-col>
                          </ion-row>
                        </div>
                      </div>
                    </div>
                    <p style="font-size: small;" *ngIf="attachments.images.length > 0 || attachments.files.length > 0">
                      Total Attachments:
                      {{(attachments.images.length) + (attachments.files.length)}}</p>
                    <div *ngIf="attachments.images.length > 0 || attachments.files.length > 0" class="attachmentBox">
                      <ion-row *ngFor="let file of attachments.files; index as i">
                        <ion-col size="10">
                          <ion-text style="float: left; font-size: small;">{{i+1}}.
                            {{global.setAttachmentName(file.name)}} ({{global.getBytesConversion(file.size, 2)}})
                          </ion-text>
                        </ion-col>
                        <ion-col size="2">
                          <ion-icon (click)="onRemoveAttachment(i, 'file')" color="danger" style="zoom: 1.3;"
                            name="trash"></ion-icon>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngFor="let image of attachments.images; index as i">
                        <ion-col size="10">
                          <ion-text style="float: left; font-size: small;">{{attachments.files.length + (i+1)}}.
                            {{global.setAttachmentName(image.name)}}</ion-text>
                        </ion-col>
                        <ion-col size="2">
                          <ion-icon (click)="onRemoveAttachment(i, 'image')" color="danger" style="zoom: 1.3;"
                            name="trash"></ion-icon>
                        </ion-col>
                      </ion-row>
                    </div>
                    <ion-button (click)="uploadAnAttachment()" class="customButton" expand="full">UPLOAD FILES &nbsp;
                      <ion-icon name="cloud-upload">
                      </ion-icon>
                    </ion-button>
                    <p style="font-size: smaller; margin: 0;"><b>NOTE:</b> Maximum size per attachment is <b>25MB</b>.
                    </p>
                  </ion-col>
                </ion-row>
              </ion-slide>
              <!-- Logs Slide -->
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <div class="logsBox">
                      <ion-card *ngFor="let log of requestData.logs.slice().reverse()">
                        <ion-row>
                          <ion-col size="12">
                            <ion-text style="float: left;">Action Taken:&nbsp;
                              <span
                                class="{{global.getColorTextClass(global.getLogTextBasedOnActivity(log.activityText))}}">
                                {{global.getLogTextBasedOnActivity(log.activityText)}}
                              </span>
                            </ion-text>
                          </ion-col>
                        </ion-row>
                        <ion-item transparent class="ion-no-padding" lines="none">
                          <ion-avatar slot="start">
                            <img src="assets/imgs/user.png">
                          </ion-avatar>
                          <ion-label class="ion-text-wrap">
                            <h2 text-size-md class="ion-text-wrap">User: <span
                                style="color: #31a5db;">{{log.actualUser}}</span></h2>
                            <h3 class="ion-text-wrap" text-size-sm>{{log.comments}}</h3>
                          </ion-label>
                        </ion-item>
                        <ion-row>
                          <ion-col size="12">
                            <ion-text style="float: left;">Sent on:&nbsp;
                              <span style="font-weight: bold; color: black;">{{global.getPortalDate(log.endDate)}}
                                {{global.getPortalTime(log.endTime)}}</span>
                            </ion-text>
                          </ion-col>
                        </ion-row>
                      </ion-card>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-slide>
            </ion-slides>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>