<ion-content fullscreen>
  <div class="upperRect">
    <img src="assets/svg/background-svg/upper.svg" alt="upper-svg">
  </div>
  <div class="lowerRect">
    <img src="assets/svg/background-svg/lower.svg" alt="lower-svg">
  </div>
  <form #goodsIssueForm="ngForm">
    <ion-grid fixed>
      <ion-row class="header">
        <ion-col class="ion-no-padding">
          <div class="header-text">
            <h1 id="toolbarText">
              <ion-icon [routerLink]="['/main/inbox/GI_PROCESS']" id="toolbarBackBtn" mode="md" name="arrow-back">
              </ion-icon>
              &nbsp;
              {{requestData.requestId}}
            </h1>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="segmentRow">
        <ion-col size="12" class="ion-no-padding">
          <ion-segment #segments name="segment" (ionChange)="segmentChanged()" [(ngModel)]="segment" value="0"
            mode="md">
            <ion-segment-button mode="md" value="0">
              <ion-label>Details</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="1">
              <ion-label>Attachments</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="2">
              <ion-label>Logs</ion-label>
            </ion-segment-button>
          </ion-segment>
          <div class="overflowContainer">
            <ion-slides #slides [options]="slideOpts" scrollbar="false">
              <!-- Header Details -->
              <ion-slide>
                <div class="overflowSlideContainer">
                  <ion-row class="slideInitialRow">
                    <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                      <div class="headerDetails">
                        <ion-row>
                          <ion-col size="7">
                            <div class="{{currentStatusCssClass}}">
                              {{currentStatus}}
                            </div>
                          </ion-col>
                          <ion-col size="5">
                            <ion-text style="float: right; font-size: small;">
                              {{global.getPortalDate(requestData.header.RSDAT)}}
                            </ion-text>
                          </ion-col>
                        </ion-row>
                        <ion-item *ngIf="requestData.header.RECP_NAME">
                          <ion-label class="headerLabels">
                            <p>Goods Recipient Name</p>
                            <h2 style="font-weight: bold;">{{requestData.header.RECP_NAME}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.RSNUM">
                          <ion-label class="headerLabels">
                            <p>Reservation No.</p>
                            <h2 style="font-weight: bold;">{{requestData.header.RSNUM}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.MBLNR ">
                          <ion-label class="headerLabels">
                            <p>Material Doc. Number</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">{{requestData.header.MBLNR}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.WBS_ELMNT">
                          <ion-label class="headerLabels">
                            <p>WBS Element</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">
                              {{requestData.header.WBS_ELMNT ? requestData.header.WBS_ELMNT_DES : requestData.header.WBS_ELMNT}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.WERKS">
                          <ion-label class="headerLabels">
                            <p>Plant</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">
                              {{requestData.header.PLANT_DES ? requestData.header.PLANT_DES : requestData.header.WERKS}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.DEPT_ID">
                          <ion-label class="headerLabels">
                            <p>Department</p>
                            <h2 class="ion-text-wrap" style="font-weight: bold;">
                              {{requestData.header.DEPT_NAME ? requestData.header.DEPT_NAME : requestData.header.DEPT_ID}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.BWART">
                          <ion-label class="headerLabels">
                            <p>Movement Type</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.BWART}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.MVT_DES">
                          <ion-label class="headerLabels">
                            <p>Movement Type Desc.</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.MVT_DES}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.KOSTL">
                          <ion-label class="headerLabels">
                            <p>Cost Center</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.KOSTL}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.COST_DES">
                          <ion-label class="headerLabels">
                            <p>Cost Center Desc.</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.COST_DES}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.SAKNR">
                          <ion-label class="headerLabels">
                            <p>GL Account</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.GLACNT_TXT ? requestData.header.GLACNT_TXT : requestData.header.SAKNR}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.PRCTR">
                          <ion-label class="headerLabels">
                            <p>Profit Center</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.PRC_TXT ? requestData.header.PRC_TXT : requestData.header.PRCTR}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.GSBER">
                          <ion-label class="headerLabels">
                            <p>Business Area</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.GTEXT ? requestData.header.GTEXT : requestData.header.GSBER}}</h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.UMWRK">
                          <ion-label class="headerLabels">
                            <p>Receiving Plant</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.RI_PLNT_DES ? requestData.header.RI_PLNT_DES : requestData.header.UMWRK}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.UMLGO">
                          <ion-label class="headerLabels">
                            <p>Receiving Storage Location</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.RI_STRG_DES ? requestData.header.RI_STRG_DES : requestData.header.UMLGO}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.DELIVERED_TO">
                          <ion-label class="headerLabels">
                            <p>Delivered To</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.DELIVERED_TO}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="requestData.header.INIT_COMMENT && isSapUser.isStoreKeeper">
                          <ion-label class="headerLabels">
                            <p>Initiator Comments</p>
                            <h2 style="font-weight: bold;">
                              {{requestData.header.INIT_COMMENT}}
                            </h2>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="isSapUser.isFinalInitiator">
                          <ion-label position="floating">Initiator Comments <ion-icon style="color: #038bff;"
                              name="create"></ion-icon>
                          </ion-label>
                          <ion-textarea autoGrow="true" rows="1" #initComments name="initComments"
                            [(ngModel)]="requestData.header.INIT_COMMENT" maxLength="150" (ionInput)="onCommentEdited()">
                          </ion-textarea>
                        </ion-item>
                        <div
                          *ngIf="requestData.header.INIT_COMMENT && requestData.header.INIT_COMMENT.length > 0 && isCommentEdited"
                          class="animated fadeInUp">
                          <ion-button (click)="saveRequest()" expand="full" shape="round" fill="outline" mode="ios"
                            expand="full">
                            Save
                            &nbsp;<ion-icon name="save"></ion-icon>
                          </ion-button>
                        </div>
                        <ion-row *ngIf="lineItemChangeIconDecider">
                          <ion-col size="12">
                            <span style="font-size: smaller;">
                              <ion-icon name="information-circle" class="editedLineItemAlertIcon"></ion-icon>
                              Reservation Request Updated Successfully
                            </span>
                          </ion-col>
                        </ion-row>
                      </div>
                      <mat-accordion>
                        <mat-expansion-panel *ngFor="let lineItem of requestData.lineItems; index as i" [hidden]="isSapUser.isStoreKeeper && (lineItem.lineItems.STOCK_NOT_AVL === 'X' || lineItem.lineItems.ITEM_FLAG === 'D')">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <span *ngIf="requestData.currentstep === '&START'"
                                (click)="onRemoveLineItem(i); $event.stopPropagation()">
                                <ion-icon class="deletingIcon" name="trash"></ion-icon> &nbsp;
                              </span>
                              <span (click)="showNoStockItemAlert(lineItem); $event.stopPropagation()"
                                *ngIf="(isSapUser.isStoreIncharge || isSapUser.isFinalInitiator) && lineItem.lineItems.STOCK_NOT_AVL === 'X'">
                                <ion-icon class="alertingIcon" name="alert"></ion-icon> &nbsp;
                              </span>
                              <span
                                (click)="onSelectLineItem(i); $event.stopPropagation()">
                                <ion-icon (click)="showNotSelectedLineItemAlert(); $event.stopPropagation();" class="nonSelectedLineItemIndicationIcon" *ngIf="lineItem.lineItems.ITEM_FLAG === 'D'" name="close"></ion-icon> &nbsp;
                                <!-- <ion-checkbox *ngIf="lineItem.lineItems.ITEM_FLAG === 'D'" [disabled]="lineItem.lineItems.ITEM_FLAG === 'D'"
                                  [checked]="lineItem.lineItems.ITEM_FLAG === 'D'"></ion-checkbox> -->
                                <ion-checkbox *ngIf="requestData.status !== '5' && requestData.currentstep !== '&START' && requestData.selectionCriteria.checkboxSelection && lineItem.lineItems.ITEM_FLAG !== 'D'" [checked]="lineItem.lineItems.isSelected">
                                </ion-checkbox> &nbsp;
                              </span>
                              <ion-label>Line Item No.{{i+1}}
                              </ion-label>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <!-- Final Issue Indicator -->
                          <!-- <ion-item
                            *ngIf="requestData.sapDocId !== null && requestData.currentstep === '2' && requestData.status === '1'">
                            <ion-label>Final Issue Indicator</ion-label>
                            <ion-checkbox slot="start" mode="md" (ionChange)="onCheckLineItem($event, lineItem)"
                              (click)="$event.stopPropagation()"></ion-checkbox>
                          </ion-item> -->
                          <ion-item *ngIf="lineItem.lineItems.MATNR">
                            <ion-label class="headerLabels">
                              <p>Material Code</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{lineItem.lineItems.MATNR}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.MAT_DES">
                            <ion-label class="headerLabels">
                              <p>Material Description</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{lineItem.lineItems.MAT_DES}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.WERKS">
                            <ion-label class="headerLabels">
                              <p>Plant</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">
                                {{lineItem.lineItems.PLANT_DES ? lineItem.lineItems.PLANT_DES : lineItem.lineItems.WERKS}}
                              </h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.LGORT">
                            <ion-label class="headerLabels">
                              <p>Storage Location</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">
                                {{lineItem.lineItems.STORAGE_DES ? lineItem.lineItems.STORAGE_DES : lineItem.lineItems.LGORT}}
                              </h2>
                              <ion-icon (click)="onEditStorageLocation(lineItem.lineItems)"
                                *ngIf="requestData.selectionCriteria.storageLocationSelection" class="editIcon" mode="md" name="create">
                              </ion-icon>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.STORAGE_BIN">
                            <ion-label class="headerLabels">
                              <p>Storage BIN</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">
                                {{lineItem.lineItems.STORAGE_BIN}}
                              </h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.MEINS">
                            <ion-label class="headerLabels">
                              <p>Unit</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.MEINS}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.CHARG">
                            <ion-label class="headerLabels">
                              <p>Batch</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.CHARG}}</h2>
                              <ion-icon (click)="onEditBatch(lineItem.lineItems)"
                                *ngIf="requestData.selectionCriteria.batchSelection" class="editIcon" mode="md" name="create">
                              </ion-icon>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.SOBKZ">
                            <ion-label class="headerLabels">
                              <p>Special Stock</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{lineItem.lineItems.SOBKZ}} - {{lineItem.lineItems.SOTXT}}</h2>
                              <ion-icon (click)="onSpecialStockEdit(lineItem.lineItems)"
                                *ngIf="requestData.selectionCriteria.specialStockSelection" class="editIcon" mode="md" name="create">
                              </ion-icon>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.SOBKZ === 'K'">
                            <ion-label class="headerLabels">
                              <p>Vendor Code</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{lineItem.lineItems.LIFNR}} - {{lineItem.lineItems.VENDOR_NAME}}</h2>
                              <ion-icon (click)="onVendorCodeEdit(lineItem.lineItems)"
                                *ngIf="requestData.selectionCriteria.vendorCodeSelection" class="editIcon" mode="md" name="create">
                              </ion-icon>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.ABLAD">
                            <ion-label class="headerLabels">
                              <p>Door Delivery Point</p>
                              <h2 class="ion-text-wrap" style="font-weight: bold;">{{lineItem.lineItems.ABLAD}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.ERFMG">
                            <ion-label class="headerLabels">
                              <p>Reserve Quantity</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.ERFMG}}</h2>
                              <ion-icon (click)="onEditQuantity('Reserve Quantity', lineItem.lineItems)"
                                *ngIf="requestData.selectionCriteria.reserveQuantitySelection" class="editIcon" mode="md" name="create">
                              </ion-icon>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="lineItem.lineItems.BDMNG">
                            <ion-label class="headerLabels">
                              <p>Reserve Value</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.BDMNG}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="isSapUser.isFinalInitiator || requestData.selectionCriteria.issueQtySelection">
                            <ion-label class="headerLabels">
                              <p>Issue Quantity (M)</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.MENGE}}</h2>
                              <ion-icon (click)="onEditQuantity('Issue Qty', lineItem.lineItems)"
                                *ngIf="requestData.selectionCriteria.issueQtySelection && lineItem.lineItems.STOCK_NOT_AVL !== 'X' && lineItem.lineItems.ITEM_FLAG !== 'D'"
                                class="editIcon" mode="md" name="create"></ion-icon>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="requestData.selectionCriteria.stockBeforeSelection">
                            <ion-label class="headerLabels">
                              <p>Stock Before</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.STOCK_BFR}}</h2>
                              <ion-icon (click)="onEditQuantity('Stock Before', lineItem.lineItems)"
                                *ngIf="requestData.selectionCriteria.stockBeforeSelection && lineItem.lineItems.STOCK_NOT_AVL !== 'X' && lineItem.lineItems.ITEM_FLAG !== 'D'"
                                class="editIcon" mode="md" name="create"></ion-icon>
                            </ion-label>
                          </ion-item>
                          <ion-item *ngIf="requestData.selectionCriteria.remarksSelection || isSapUser.isFinalInitiator">
                            <ion-label class="headerLabels">
                              <p>Remarks</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.QTY_ISSUE}}</h2>
                              <ion-icon (click)="onEditQuantity('Remarks', lineItem.lineItems)"
                                *ngIf="requestData.selectionCriteria.remarksSelection && lineItem.lineItems.STOCK_NOT_AVL !== 'X' && lineItem.lineItems.ITEM_FLAG !== 'D'"
                                class="editIcon" mode="md" name="create"></ion-icon>
                            </ion-label>
                          </ion-item>
                          <ion-item>
                            <ion-label class="headerLabels">
                              <p>Item Text</p>
                              <h2 style="font-weight: bold;">{{lineItem.lineItems.SGTXT}}</h2>
                            </ion-label>
                          </ion-item>
                          <ion-button expand="full" shape="round" color="primary" (click)="onStockCheck(lineItem.lineItems)">
                            Stock Check
                          </ion-button>
                        </mat-expansion-panel>
                      </mat-accordion>
                      <ion-row id="finalOptionsRow">
                        <ion-col size="12" size-lg="6" offset-lg="3" class="ion-padding">
                          <div id="finalOptions">
                            <p>Take your action on this Request</p>
                            <div
                              *ngIf="isSapUser.isStoreIncharge && requestData.selectionCriteria.storeKeeperSelection && requestData.status !== '5'">
                              <ng-select [items]="userList" name="user" #select bindLabel="login"
                                [dropdownPosition]="'auto'" [bindValue]="login" placeholder="Select Store Keeper ID"
                                [virtualScroll]="true" [(ngModel)]="selectedUser">
                                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                  <span style="color: #038bff;" [ngOptionHighlight]="search">
                                    <b>{{item.login}}</b></span><br>
                                  <small><b>Name: </b> {{item.firstName}} {{item.lastName}}</small>
                                </ng-template>
                              </ng-select>
                            </div>
                            <div
                              *ngIf="isSapUser.isStoreIncharge && requestData.selectionCriteria.movementReasonSelection && requestData.status !== '5' && requestData.header.BWART === '201'">
                              <ion-item class="movementTypeReasonItem">
                                <ion-label style="color: rgba(0,0,0,0.54);" position="floating">Select Reason For
                                  Movement Type</ion-label>
                                <ion-select interface="alert" name="reasonMovementType" #reasonMovementType
                                  [(ngModel)]="movementTypeReason">
                                  <ion-select-option value="0001" selected>Consum Agt Cost Cent</ion-select-option>
                                  <ion-select-option value="0002">GI against PM Order</ion-select-option>
                                </ion-select>
                              </ion-item>
                            </div>
                            <div
                              *ngIf="isSapUser.isStoreIncharge && requestData.selectionCriteria.grgiSlipSelection && requestData.status !== '5'">
                              <ion-item class="movementTypeReasonItem">
                                <ion-label style="color: rgba(0,0,0,0.54);" position="floating">Select GR/GI Slip No.</ion-label>
                                <ion-select interface="alert" name="selectedGiGrNo" #selectedGiGrNo
                                  [(ngModel)]="selectedGiGrSlipNo">
                                  <ion-select-option value="OH" selected>OH - On Hand</ion-select-option>
                                  <ion-select-option value="DI">DI - Direct Issue</ion-select-option>
                                  <ion-select-option value="DD" selected>DD - Door Delivery</ion-select-option>
                                  <ion-select-option value="EI">EI - Emergency Issue</ion-select-option>
                                </ion-select>
                              </ion-item>
                            </div>
                            <div
                              *ngIf="requestData.selectionCriteria.deliveredToSelection">
                              <ion-item>
                                <ion-label position="floating">Delivered To <span class="redAsterix">*</span></ion-label>
                                <ion-textarea rows="1" [(ngModel)]="deliveredTo" name="deliveredTo" placeholder="Text upto 30 words" maxlength="30"></ion-textarea>
                              </ion-item>
                            </div>
                            <ion-button *ngIf="requestData.currentstep !== '&START' && requestData.status !== '5'"
                              (click)="getActivity('Approve')" class="approveButton" expand="full">
                              {{requestData.selectionCriteria.checkboxSelection === null ? 'Approve' : 'Confirm'}}
                              &nbsp;<ion-icon name="checkmark">
                              </ion-icon>
                            </ion-button>
                            <ion-button *ngIf="requestData.currentstep == '&START' && requestData.status !== '5'"
                              (click)="getActivity('Resubmit')" class="approveButton" expand="full">Resubmit
                              &nbsp;<ion-icon name="checkmark">
                              </ion-icon>
                            </ion-button>
                            <ion-button
                              *ngIf="requestData.currentstep !== '&START' && requestData.status !== '5' && requestData.selectionCriteria.checkboxSelection"
                              (click)="getActivity('RejectComplete')" class="rejectButton" fill="outline" mode="md">
                              Reject &nbsp;
                              <img src="assets/svg/block.svg">
                            </ion-button>
                            <ion-button *ngIf="requestData.currentstep == '&START'" (click)="getActivity('Cancel')"
                              class="rejectButton" fill="outline" mode="md">
                              Cancel &nbsp;
                              <img src="assets/svg/block.svg">
                            </ion-button>
                            <ion-button (click)="getActivity('Collaborate')"
                              *ngIf="requestData.currentstep !== '&START' && requestData.status !== '5'"
                              class="collaborateButton" fill="clear">
                              Collaborate &nbsp;
                              <img src="assets/svg/handshake.svg">
                            </ion-button>
                            <ion-button (click)="getActivity('CollaborateBack')"
                              *ngIf="requestData.currentstep !== '&START' && requestData.status === '5'"
                              class="collaborateButton" fill="clear">
                              Collaborate Back &nbsp;
                              <img src="assets/svg/handshake.svg">
                            </ion-button>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-slide>
              <!-- Attachment Slide -->
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <input id="fileUploadInput" type="file" (change)="onSelectFile($event)" multiple="multiple"
                      hidden />
                    <div class="attachmentBox">
                      <div *ngIf="requestData.attachments === null">
                        <ion-text style="font-size: small;">Attachment doesn't exist for this request</ion-text>
                      </div>
                      <div *ngIf="requestData.attachments !== null">
                        <ion-text style="font-size: small;" *ngIf="requestData.attachments.length === 0">Attachment
                          doesn't exist for this request
                        </ion-text>
                        <div *ngIf="requestData.attachments.length > 0">
                          <h5 style="margin: 0;">Attachments</h5>
                          <ion-row *ngFor="let attachment of requestData.attachments; index as i">
                            <ion-col size="10">
                              <ion-text (click)="onViewFile(attachment)" color="primary"
                                style="float: left; font-size: small;">
                                {{i+1}}. {{global.setAttachmentName(attachment.fileName)}} ({{global.getBytesConversion(attachment.fileSize, 2)}})</ion-text>
                            </ion-col>
                          </ion-row>
                        </div>
                      </div>
                    </div>
                    <p style="font-size: small;" *ngIf="attachments.images.length > 0 || attachments.files.length > 0">
                      Total Attachments:
                      {{(attachments.images.length) + (attachments.files.length)}}</p>
                    <div *ngIf="attachments.images.length > 0 || attachments.files.length > 0" class="attachmentBox">
                      <ion-row *ngFor="let file of attachments.files; index as i">
                        <ion-col size="10">
                          <ion-text style="float: left; font-size: small;">{{i+1}}.
                            {{global.setAttachmentName(file.name)}} ({{global.getBytesConversion(file.size, 2)}})</ion-text>
                        </ion-col>
                        <ion-col size="2">
                          <ion-icon (click)="onRemoveAttachment(i, 'file')" color="danger" style="zoom: 1.3;"
                            name="trash"></ion-icon>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngFor="let image of attachments.images; index as i">
                        <ion-col size="10">
                          <ion-text style="float: left; font-size: small;">{{attachments.files.length + (i+1)}}.
                            {{global.setAttachmentName(image.name)}}</ion-text>
                        </ion-col>
                        <ion-col size="2">
                          <ion-icon (click)="onRemoveAttachment(i, 'image')" color="danger" style="zoom: 1.3;"
                            name="trash"></ion-icon>
                        </ion-col>
                      </ion-row>
                    </div>
                    <ion-button (click)="uploadAnAttachment()" class="customButton" expand="full">UPLOAD FILES &nbsp;
                      <ion-icon name="cloud-upload">
                      </ion-icon>
                    </ion-button>
                    <p style="font-size: smaller; margin: 0;"><b>NOTE:</b> Maximum size per attachment is <b>25MB</b>.
                    </p>
                  </ion-col>
                </ion-row>
              </ion-slide>
              <!-- Logs Slide -->
              <ion-slide>
                <ion-row class="slideInitialRow">
                  <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2">
                    <div class="logsBox">
                      <ion-card *ngFor="let log of requestData.logs.slice().reverse()">
                        <ion-row>
                          <ion-col size="12">
                            <ion-text style="float: left;">Action Taken:&nbsp;
                              <span
                                class="{{global.getColorTextClass(global.getLogTextBasedOnActivity(log.activityText))}}">
                                {{global.getLogTextBasedOnActivity(log.activityText)}}
                              </span>
                            </ion-text>
                          </ion-col>
                        </ion-row>
                        <ion-item transparent class="ion-no-padding" lines="none">
                          <ion-avatar slot="start">
                            <img src="assets/imgs/user.png">
                          </ion-avatar>
                          <ion-label class="ion-text-wrap">
                            <h2 text-size-md class="ion-text-wrap">User: <span style="color: #31a5db;">{{log.actualUser}}</span></h2>
                            <h3 class="ion-text-wrap" text-size-sm>{{log.comments}}</h3>
                          </ion-label>
                        </ion-item>
                        <ion-row>
                          <ion-col size="12">
                            <ion-text style="float: left;">Sent on:&nbsp;
                              <span style="font-weight: bold; color: black;">{{global.getPortalDate(log.endDate)}}
                                {{global.getPortalTime(log.endTime)}}</span>
                            </ion-text>
                          </ion-col>
                        </ion-row>
                      </ion-card>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-slide>
            </ion-slides>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>