/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~@ng-select/ng-select/themes/material.theme.css";

.action-sheet-selected {
    color: #3880FF !important;
}

.ng-option {
    border-bottom: 0.4px gray solid;
}

.scanOptionAS {
    ion-icon {
        --color: #2196f3;
    }
}

.filesOptionAS {
    ion-icon {
        --color: orange;
    }
}

.attachmentsAS {
    .action-sheet-title {
        font-weight: bold;
        color: black;
    }
}

.ng-select .ng-select-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mat-header-cell {
    font-weight: bold !important;
    color: white !important;
    background: #007CDC;
}

.mat-sort-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-header-cell:last-of-type {
    padding: 0 !important;
}

.mat-cell {
    border-right: 1px rgba(0,0,0,.12) solid;
    padding-left: 1rem !important;
    padding-right: 0.3rem !important;
    text-align: left;
}

.mat-column-BWART {
    width: 30vw;
    text-align: center;
}

.cardIcon {
    width: 15% !important;
    position: absolute;
    right: 1rem;
    color: white;
}

.initiatedChip {
    background: #ffa500;
    border-radius: 2px;
    color: white;
    text-align: center;
    width: fit-content;
    padding: 0 1rem;
    font-size: small;
}

.approvedChip {
    background: #187fa8;        
    border-radius: 2px;
    color: white;
    text-align: center;
    width: fit-content;
    padding: 0 1rem;
    font-size: small;
}

.rejectedChip {
    background: #c43920;
    border-radius: 2px;
    color: white;
    text-align: center;
    width: fit-content;
    padding: 0 1rem;
    font-size: small;
}

.collaboratedChip {
    background: #417687;
    border-radius: 2px;
    color: white;
    text-align: center;
    width: fit-content;
    padding: 0 1rem;
    font-size: small;
}

.outForDeliveryChip {
    background: #24ac2b;
    border-radius: 2px;
    color: white;
    text-align: center;
    width: fit-content;
    padding: 0 1rem;
    font-size: small;
}

.initiatedText {
    color: #ffa500;
    font-weight: bold;
}

.approvedText {
    color: #187fa8;
    font-weight: bold;     
}

.rejectedText {
    color: #c43920;
    font-weight: bold;
}

.collaboratedText {
    color: #417687;
    font-weight: bold;
}

.outForDeliveryText {
    color: #24ac2b;
    font-weight: bold;
}