.profile-card {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --background: linear-gradient(151deg, #3A729B 14%, #5dbbff 100%);
  // Settings Avatar
  ion-avatar {
    height: 100px;
    width: 100px;
    margin: 0 auto;
  }
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

ion-button {
  .active {
    color: var(--cs-icon-color-primary, #00c0e8) !important;
  }
}

ion-avatar.is-icon-avatar {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;

  ion-icon {
    color: #00c0e8;
    font-size: 1.5em;
  }
}

.background {
  background-color: #3880ff;
}

.edit-button {
  --color: #00c0e8;
  color: #00c0e8;
  --box-shadow: 0px 0px 40px -6px #002a5d;
  position: absolute;
  bottom: 0;
  transform: translate(0, 30%);
  z-index: 999;
}

ion-item {
  margin-top: 15px !important;
  border-radius: 40px;
  box-shadow: 0px 0px 40px -23px #002a5d;
}

#icon {
  box-shadow: 0px 0px 40px -2px #002a5d;
}
