<ion-content fullscreen>
  <ion-card class="profile-card ion-padding
    ion-text-center ion-no-margin">
    <ion-avatar slot="start" id="icon" class="is-icon-avatar {{global.animationClass}}">
      <ion-icon name="person" style="zoom: 3.0"></ion-icon>
    </ion-avatar>
    <ion-card-content class="{{global.animationClass}}">
      <ion-text color="light">
        <h2 style="color: white; font-size: x-large;">{{userDetails.firstName}}
          <br> {{userDetails.lastName}}</h2>
      </ion-text>
      <ion-text color="light">
        <h4 style="color: white; font-size: medium;">{{userDetails.email}}</h4>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <!-- <ion-item class="ion-margin animated fadeInRight" button>
      <ion-avatar slot="start" class="is-icon-avatar background">
        <ion-icon name="options"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Settings</h2>
      </ion-label>
    </ion-item>
    <ion-item class="ion-margin animated fadeInRight" button>
      <ion-avatar slot="start" class="is-icon-avatar background">
        <ion-icon name="contacts"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Contact Us</h2>
      </ion-label>
    </ion-item> -->
    <ion-item class="ion-margin animated fadeInRight" button (click)="onLogout()">
      <ion-avatar slot="start" class="is-icon-avatar background">
        <ion-icon name="log-out"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Logout</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>