<ion-content fullscreen>
  <div class="upperRect">
    <img src="assets/svg/background-svg/upper.svg" alt="upper-svg">
  </div>
  <form #goodsIssueForm="ngForm">
    <ion-grid fixed>
      <ion-row class="header">
        <ion-col class="ion-no-padding">
          <div class="header-text">
            <h1 id="toolbarText">
              <ion-icon [routerLink]="['/main/outbox']" id="toolbarBackBtn" mode="md" name="arrow-back"></ion-icon>
              &nbsp;
              Store Goods Issue Outbox
            </h1>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="segmentRow">
        <ion-col size-lg="8" offset-lg="2" size-md="8" offset-md="2" size="12" class="ion-padding">
          <div class="detailCard" *ngFor="let request of requestData.RequestList"
            [routerLink]="['./', request.requestId]">
            <ion-row>
              <ion-col size="12">
                <ion-row>
                  <ion-col size="6" style="font-size: small;">{{global.convertToLocalDate(request.createdDate)}}
                  </ion-col>
                  <ion-col size="6">
                    <div *ngIf="request.logs.length > 0" style="float: right;"
                      class="{{global.getColorCssClass(global.getLogTextBasedOnActivity(request.logs[request.logs.length-1].activityText))}}">
                      {{global.getLogTextBasedOnActivity(request.logs[request.logs.length-1].activityText)}}
                    </div>
                  </ion-col>
                </ion-row>
                <ion-item>
                  <ion-label class="headerLabels">
                    <p>Created By</p>
                    <h2 class="ion-text-wrap" style="font-weight: bold;">
                      {{request.createdBy}}</h2>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="headerLabels">
                    <p>Project Title</p>
                    <h2 class="ion-text-wrap" style="font-weight: bold;">{{request.header.ProjectTitle}}</h2>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="headerLabels">
                    <p>Total Project Cost (INR in Lakhs)</p>
                    <h2 class="ion-text-wrap" style="font-weight: bold; color: green">
                      {{request.header.TotalProjectCost}}</h2>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="headerLabels">
                    <p>Department</p>
                    <h2 class="ion-text-wrap" style="font-weight: bold;">
                      {{request.header.department}}</h2>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="headerLabels">
                    <p>Location</p>
                    <h2 class="ion-text-wrap" style="font-weight: bold;">
                      {{request.header.location}}</h2>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="text-align: center;" size="12">
                <ion-chip color="primary">{{request.requestId}}</ion-chip>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div class="lowerRect">
    <img src="assets/svg/background-svg/lower.svg" alt="lower-svg">
  </div>
</ion-content>