<ion-content>
  <div class="emptyStateContainer" *ngIf="requests.length == 0">
    <div class="is-empty-state-content">
      <img src="assets/imgs/empty-tasks-4.png" />
      <h3>Nothing In Inbox</h3>
    </div>
  </div>
  <div class="customCardContainer" *ngIf="requests.length > 0">
    <div class="heading">
      <ion-text class="pageTitle">INBOX</ion-text><br>
      <ion-text>Complete Your Pending Requests</ion-text>
    </div>
    <div style="padding: 0 1rem">
      <hr>
    </div>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding" *ngFor='let request of requests; index as i' size="6" size-md="4" size-lg="4">
          <div class="customCard {{global.animationClass}}" [routerLink]="'/main/inbox/'+request.requestType">
            <div class="customCardCountBox">
              <p class="customCardCountBoxText animated fadeInRight">{{request.total}}</p>
            </div>
            <img *ngIf="global.getIconName(request.description)" class="requestIcon animated fadeInRight"
              src="{{global.getIconName(request.description)}}">
              <div style="height: 30px; width: 30px" *ngIf="!global.getIconName(request.description)"></div>
            <div class="customCardTitle">
              <p class="animated fadeInRight">{{request.requestType === 'PRC_PROCESS' ? 'Pricing Process' : request.description}}</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>