table {
    width: 100%;
}

.noData {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingData {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}