<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="modalController.dismiss()">
      <ion-icon name="arrow-back" style="zoom: 1.7"></ion-icon>
    </ion-buttons>
    <ion-title>Select {{searchCategory}}</ion-title>
    <ion-buttons *ngIf="searchCategory === 'Material'" slot="end">
      <ion-icon (click)="onSelectSearchParam()" style="zoom: 1.7; margin-right: 0.5rem;" name="search"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="searchCategory === 'Material' && searchParam === 'materialCode'">
    <ion-searchbar #searchbar (ionClear)="applyFilterForMaterial('', 'materialCode')"
      (ionFocus)="onGetFocused('materialCode')" (keyup)="applyFilterForMaterial($event.target.value, 'materialCode')"
      placeholder="Search By Material Code" [(ngModel)]="materialCode"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="searchCategory === 'Material' && searchParam === 'materialDescription'">
    <ion-searchbar #searchbar (ionClear)="applyFilterForMaterial('', 'materialDescription')"
      (ionFocus)="onGetFocused('materialDescription')" (keyup)="applyFilterForMaterial($event.target.value, 'materialDescription')"
      placeholder="Search By Material Description" [(ngModel)]="materialDescription"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="searchCategory === 'Order Number'">
    <ion-searchbar #searchbar (ionClear)="applyFilter('')" (keyup)="applyFilter($event.target.value)"
      placeholder="Search By Order Description">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table *ngIf="tableData.data.length !== 0 && searchCategory === 'Material'" mat-table [dataSource]="tableData" matSort
    class="mat-elevation-z8">

    <ng-container matColumnDef="materailCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Material</th>
      <td mat-cell *matCellDef="let element"> {{element.materailCode}} </td>
    </ng-container>

    <ng-container matColumnDef="materialDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Material Description</th>
      <td mat-cell *matCellDef="let element"> {{element.materialDescription}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dataHeaders; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: dataHeaders;" (click)="getSelectedListItem(row)"></tr>

  </table>

  <table *ngIf="tableData.data.length !== 0 && searchCategory === 'Order Number'" mat-table [dataSource]="tableData"
    matSort class="mat-elevation-z8">

    <ng-container matColumnDef="orderNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Number</th>
      <td style="padding-right: 10px;" mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="orderDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Description</th>
      <td style="padding-left: 10px;" mat-cell *matCellDef="let element"> {{element.orderDescription}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dataHeaders; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: dataHeaders;" (click)="getSelectedListItem(row)"></tr>

  </table>

  <div *ngIf="tableData.data.length === 0 && !isLoadedFirstTime" class="loadingData">
    <ion-spinner name="crescent"></ion-spinner><br>
    <ion-text>Loading Data...</ion-text>
  </div>

  <div *ngIf="tableData.data.length === 0 && isLoadedFirstTime" class="noData">
    <ion-text color="primary">No Data.</ion-text>
  </div>
</ion-content>