<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="modalController.dismiss()">
      <ion-icon name="arrow-back" style="zoom: 1.7"></ion-icon>
    </ion-buttons>
    <ion-title>Reservation Search</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search By Reservation Number" #searchbar (ionClear)="applyFilter('')"
      (keyup)="applyFilter($event.target.value)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table *ngIf="tableData.data.length !== 0" mat-table [dataSource]="tableData" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="reservationNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Reservation Number</th>
      <td mat-cell *matCellDef="let element"> {{element.reservationNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="mvtType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Movement Type</th>
      <td mat-cell *matCellDef="let element"> {{element.mvtType}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dataHeaders; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: dataHeaders;" (click)="getSelectedListItem(row)"></tr>

  </table>
  <div *ngIf="tableData.data.length === 0" class="noData">
    <ion-text color="primary">No Data.</ion-text>
  </div>
</ion-content>